<!doctype html>
<html>
	<!-- 考务模块  列表页
 
 -->
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/common.css" rel="stylesheet" />
		<style>

			[v-cloak] {
				visibility: hidden;
				display:none !important;
			}
			html,
			body {
				background-color: #FFFFFF;
			}
			
			.mui-content{
				background-color: #FFFFFF;
			}
			
			.mui-bar~.mui-content .mui-fullscreen {
				top: 44px;
				height: auto;
			}
			
			.mui-card .mui-control-content {
				padding: 10px;
			}
			
			.mui-control-content {
				min-height:150px;
			}
			
			.chart {
				min-height: 350px;
				margin: 0px;
				padding: 0px;
			}
			
			.mui-segmented-control{
				border: 0;
			}
			
			.tab-btn{
				margin: 0.3375rem 0;
				padding: 0 0.5rem;
				background-color: #FFFFFF;
				height: 3rem;
			}
			
			.mui-segmented-control .mui-control-item{
				color: #000000;
				font-size: 0.9375rem;
				line-height: 3rem;
				border-radius: 0.692rem;
				box-shadow: 0rem 0rem 0.22rem 0rem rgba(0,0,0,0.5);
			}
			.mui-segmented-control .mui-control-item.mui-active {
				height: 3rem;
				font-size: 0.9375rem;
				color: #000000;
				border-radius: 0.692rem;
				background-color: rgba(216, 236, 243, 1);
			}
			
			.description{
				margin: 0.3125rem 0 0 0;
				min-height: 3rem;
				border-radius:1.3375rem;
				background-color:rgba(216, 236, 243, 1) ;
			}
			
			.des-detail{
				padding: 0.3125rem 0.9375rem;
				font-size: 0.9375rem;
				min-height: 3rem;
				margin: auto;
				width: 80%;
				background-color: #FFFFFF;
				border-bottom: 0.1875rem solid rgba(0, 153, 204, 1);
			}
			
			.echarts-div{
				box-shadow: 0rem 0rem 0.42rem 0rem rgba(0,0,0,0.5);
				margin:0.5rem 0 0 0;
				padding-top: 0.625rem;
			}
			
			.zgf-ul{
				width: 1.1625rem;
				height: 1.1625rem;
			}
			
			.tab-img{
				margin-left: 0.1875rem;
				width: 1.75rem;
				height:1.75rem;
				margin-top: 0.5625rem;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id="tempVue">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">详情</h1>
		</header>
		<div id="datasource" class="mui-content mui-fullscreen" style="z-index:0">
			<div style="text-align: center;margin: 1.225rem 0;">
				<h4 v-cloak>{{titleName}}</h4>
			</div>
			<div style="padding: 0px 8px;"> 
				<div id="segmentedControl" class="mui-segmented-control mui-row">
					<div v-cloak class="mui-col-xs-6 tab-btn">  
						<a id="pjftab" class="mui-control-item mui-active" href="#pjf">
							<div class="mui-row">
								<img class="mui-col-xs-4 tab-img" src='../../img/schapp_examination/pjf.png' /><span class="mui-col-xs-8" v-cloak>平均分:{{tabsDetail.avg_score}}</span>
							</div>
						</a>
					</div>
					<div class="mui-col-xs-6 tab-btn">
						<a id="zfdtab" class="mui-control-item" href="#zfd">
							<div class="mui-row">
								<img class="mui-col-xs-4 tab-img" src='../../img/schapp_examination/zfd.png' /><span class="mui-col-xs-8" v-cloak>主分段:{{tabsDetail.score_section}}</span>
							</div>
						</a>
					</div>
					<div class="mui-col-xs-6 tab-btn">
						<a id="zgftab" class="mui-control-item" href="#zgf">
							<div class="mui-row">
								<img class="mui-col-xs-4 tab-img" src='../../img/schapp_examination/zgf.png' /><span class="mui-col-xs-8" v-cloak>最高分:{{tabsDetail.max_score}}</span>
							</div>
						</a>
					</div>
					<div v-if="selectType=='qk'" class="mui-col-xs-6 tab-btn">
						<a id="sxltab" class="mui-control-item" href="#sxl">
							<div class="mui-row">
								<img class="mui-col-xs-4 tab-img" src='../../img/schapp_examination/sxl.png' /><span class="mui-col-xs-8" v-cloak>{{tabsDetail.pass_name}}:{{tabsDetail.pass_radio}}%</span>
							</div>
						</a>
					</div>
					<div class="mui-col-xs-6 tab-btn">
						<a id="jtbtab" class="mui-control-item" href="#jtb">
							<div class="mui-row">
								<img class="mui-col-xs-4 tab-img" src='../../img/schapp_examination/jtb.png' /><span class="mui-col-xs-8" v-cloak>进退比:{{tabsDetail.ranking_step}}</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="description" v-cloak>
				<div class="des-detail">
					{{description}}
				</div>
			</div>
			<div class="echarts-div" v-cloak>
				<div id="pjf" class="mui-control-content mui-active">
					<h4 style="text-align: center">—— 各班级均分统计 ——</h4>
					<div class="chart" id="pjfChart"></div>
				</div>
				<div id="zfd" class="mui-control-content">
					<h4 style="text-align: center">—— 各分段占比统计 ——</h4>
					<div class="chart" id="zfdChart"></div>
				</div>
				<div id="zgf" class="mui-control-content">
					<h4 style="text-align: center">—— 年级排名 ——</h4>
					<ul class="mui-table-view">
						<li v-for="(model,index) in echartsData.zgfList" class="mui-table-view-cell">
							<div class="mui-table mui-row">
								<div class="mui-col-xs-3">{{model.stu_name}}</div>
								<div class="mui-col-xs-3">{{model.cls_name}}</div>
								<div class="mui-col-xs-5">总分：{{model.score}}</div>
								<div class="mui-col-xs-1">
									<img class="zgf-ul" v-if="index==0" src='../../img/schapp_examination/1.png' />
									<img class="zgf-ul" v-else-if="index==1" src='../../img/schapp_examination/2.png' />
									<img class="zgf-ul" v-else-if="index==2" src='../../img/schapp_examination/3.png' />
									<img class="zgf-ul" v-else-if="index==3" src='../../img/schapp_examination/4.png' />
									<img class="zgf-ul" v-else-if="index==4" src='../../img/schapp_examination/5.png' />
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div id="sxl" class="mui-control-content">
					<h4 style="text-align: center">—— 上线率统计 ——</h4>
					<div class="chart" id="sxlChart"></div>
				</div>
				<div id="jtb" class="mui-control-content">
					<h4 style="text-align: center">—— 各班级进退步学生统计 ——</h4>
					<div class="chart" id="jtbChart"></div>
				</div>
			</div>
		</div>
		<script src='../../js/libs/echarts.min.js'></script>
		<script src="../../js/utils/mui.js"></script>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/utils/publicProtocol.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/events.js"></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js"></script>
		<script src="../../js/libs/RSA/BigInt.js"></script>
		<script src="../../js/libs/RSA/RSA.js"></script>
		<script src="../../js/libs/encryption/RSAEncrypt.js"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/libs/encryption/signHmacSHA1.js'></script>
		<script src='../../js/libs/jquery.js'></script>
		<script src='../../js/libs/encryption/sortSign.js'></script>
		<script type="text/javascript">
			var $M = mui.init();
			//获取个人信息
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log('personal:' + JSON.stringify(personal));
			var curPage = {};
			var datasource = new Vue({
				el: "#datasource",
				data: {
					selectType:'',////查询类型 qk 全科考情 dk 单科考情 第一次进入页面默认为qk
					titleName: '',
					tabsDetail: '', //tab栏数据
					pjfDetail: '', //平均分接口返回的详情数据
					zfdDetail: '', //主分段接口返回的详情数据
					zgfDetail: '', //最高分接口返回的详情数据
					sxlDetail: '', //上线率接口返回的详情数据
					jtbDetail: '', //进退比接口返回的详情数据
					description: '', //中间的介绍
					echartsData: {}, //（1、平均分班级名称、平均分列表；2、主分段名称，人数，百分比；3、最高分列表；4、上线率名称，人数，百分比；5、进退比班级名称，进步人数，退步人数）
				},
				methods: {}
			});


			mui.plusReady(function() {
				console.log($('#zfd').attr('class'))
				// if(plus.navigator.hasNotchInScreen() && plus.os.name =='Android'){
				// 	$("Header").css("padding-top","35px").css("height","80px");
				// 	$(".mui-content.mui-fullscreen").css("margin-top","35px");
				// }

				mui(".mui-segmented-control.mui-row").on('tap', '.mui-control-item', function() {
					//监听tab 点击事件 初始化图表显示
					var id = this.getAttribute("id");
					if (id == 'pjftab') {
						var obj = datasource.pjfDetail
						if(obj!=''){
							console.log(JSON.stringify(obj))
							var des = `本次考试共有${obj.cls_count}个班，合计${obj.stu_count}人次参加考试，平均分${obj.avg_score}分`
							datasource.description = des
						}
					} else if (id == 'zfdtab') {
						var obj2 = datasource.zfdDetail
						if(obj2!=''){
							var des =`${obj2.max_name}分段占比最大，达${obj2.max_radio}%，合计${obj2.max_num}人；${obj2.min_name}分段占比最低，为${obj2.min_radio}%，合计${obj2.min_num}人，需要重点关注`
							datasource.description = des
							setTimeout(function() {
								initZfd()
							}, 50)
						}
					} else if (id == 'zgftab') {
						var obj3 = datasource.zgfDetail
						if(obj3!=''){
							var des = `年级最高分${obj3.max_score},最低分${obj3.min_score}，年级排名前10的学生有${obj3.stu_count}人在${obj3.cls_name}班`
							datasource.description = des
						}
					} else if (id == 'sxltab') {
						var obj4 = datasource.sxlDetail
						if(obj4 !=''){
							var des =`本次考试${obj4.max_name}上线率最高，为${obj4.max_radio}%，合计${obj4.max_num}人，${obj4.min_name}最低，为${obj4.min_radio}%，合计${obj4.min_num}人`
							datasource.description = des
							setTimeout(function() {
								initSxl()
							}, 50)
						}
					} else if (id == 'jtbtab') {
						var obj5 = datasource.jtbDetail
						console.log(JSON.stringify(obj5))
						console.log(obj5 !='')
						if(obj5 !=''){ 
							var des = ''
							des = `${obj5.max_up_cls_name==null?0:obj5.max_up_cls_name}班进步人数最多，合计${obj5.max_up_num==null?0:obj5.max_up_num}人；${obj5.max_down_cls_name==null?0:obj5.max_down_cls_name}退步人数最多，合计${obj5.max_down_num==null?0:obj5.max_down_num}人；`
							if (obj5.max_up_cls_name == null && obj5.max_down_cls_name == null) {
								des = `本次考试没有进步和退步的学生；`
							}else if (obj5.max_up_cls_name!=null && obj5.max_down_cls_name == null) {
								des = `${obj5.max_up_cls_name}班进步人数最多，合计${obj5.max_up_num}人；本次考试没有退步的学生；`
							}else if (obj5.max_up_cls_name == null && obj5.max_down_cls_name != null) {
								des = `本次考试没有进步的学生；${obj5.max_down_cls_name}班退步人数最多，合计${obj5.max_down_num}人；`
							}  
							datasource.description = des
							setTimeout(function() {
								initJtb()
							}, 50)
						}
					}
				}) 

				curPage = utils.getDataFromUrl(window.location.href);
				console.log('2222:' + JSON.stringify(curPage));
				datasource.titleName = curPage.name;
				datasource.selectType = curPage.selectType;
				events.showWaiting();
				getDetail(function() {
					events.showWaiting();
					setTimeout(function() {
						getPjfDetail()
					}, 100) //平均分详情
					setTimeout(function() {
						getZfdDetail()
					}, 200) //分数段详情
					setTimeout(function() {
						getZgfDetail()
					}, 300) //最高分详情
					if(curPage.selectType=='qk'){
						setTimeout(function() {
							getSxlDetail()
						}, 400) //上线率详情
					}
					setTimeout(function() {
						getJtbDetail()
					}, 500) //进退比详情
				});
			});

			//获取tab详情数据
			function getDetail(callback) {
				comData = {
					id: curPage.id, //考试id
					index_code: curPage.index_code,
				}
				// 1.2.详情页
				postDataEncry(window.storageKeyName.INTERFACE_EXAMINATION + 'detail', {}, comData, 2, function(data) {
					console.log(JSON.stringify(data))
					events.closeWaiting();
					if (data.code == 0) {
						callback();
						datasource.tabsDetail = data.data
					} else {
						mui.toast(data.msg);
					}
				});
			}

			//平均分详情
			function getPjfDetail() {
				comData = {
					id: curPage.id, //考试id
					index_code: curPage.index_code,
				}
				postDataEncry(window.storageKeyName.INTERFACE_EXAMINATION + 'clsAvgScore', {}, comData, 2, function(data) {
					console.log(JSON.stringify(data))
					if (data.code == 0) {
						console.log(JSON.stringify(data.data))
						datasource.pjfDetail = data.data

						//解析list 形成图表
						let list = data.data.list;
						let nameList = [];
						let valueList = [];
						list.map(function(item) {
							nameList.push(item.cls_name)
							valueList.push(item.avg_score)
						})
						datasource.echartsData.pjfName = nameList;
						datasource.echartsData.pjfValue = valueList;

						//初始化默认显示的tab页  其他的在监听点击事件中初始化
						let des = `本次考试共有${data.data.cls_count?data.data.cls_count:0}个班，合计${data.data.stu_count?data.data.stu_count:0}人次参加考试，平均分${data.data.avg_score?data.data.avg_score:0}分`
						datasource.description = des
						initPjf()

						closeWaiting();
					} else {
						events.closeWaiting();
						mui.toast(data.msg);
					}
				});
			}

			//分数段详情
			function getZfdDetail() {
				comData = {
					id: curPage.id, //考试id
					index_code: curPage.index_code,
				}
				postDataEncry(window.storageKeyName.INTERFACE_EXAMINATION + 'scoreSection', {}, comData, 2, function(data) {
					console.log(JSON.stringify(data))
					if (data.code == 0) {
						datasource.zfdDetail = data.data

						//解析list 形成图表
						let list = data.data.list;
						let nameList = [];
						let valueList = [];
						list.map(function(item) {
							let name=item.name+'\xa0\xa0'+item.radio+'%'+'\xa0\xa0'+item.num+'人';
							nameList.push(name)
							let obj={}
							console.log(item)
							obj.value=item.radio
							obj.name=name
							valueList.push(obj)
						})
						datasource.echartsData.zfdName=nameList
						datasource.echartsData.zfdValue=valueList

						closeWaiting();
					} else {
						events.closeWaiting();
						mui.toast(data.msg);
					}
				});
			}

			//最高分详情
			function getZgfDetail() {
				comData = {
					id: curPage.id, //考试id
					index_code: curPage.index_code,
				}
				postDataEncry(window.storageKeyName.INTERFACE_EXAMINATION + 'stuScore', {}, comData, 2, function(data) {
					console.log(JSON.stringify(data))
					if (data.code == 0) {
						datasource.zgfDetail = data.data

						//解析list 列表
						let list = data.data.list;
						datasource.echartsData.zgfList = list;

						closeWaiting();
					} else {
						events.closeWaiting();
						mui.toast(data.msg);
					}
				});
			}

			//上线率详情
			function getSxlDetail() {
				comData = {
					id: curPage.id, //考试id
					index_code: curPage.index_code,
				}
				postDataEncry(window.storageKeyName.INTERFACE_EXAMINATION + 'passRate', {}, comData, 2, function(data) {
					console.log(JSON.stringify(data))
					if (data.code == 0) {
						datasource.sxlDetail = data.data

						//解析list 形成图表
						let list = data.data.list;
						let nameList = [];
						let valueList = [];
						list.map(function(item) {
							let name=item.name+'\xa0\xa0'+item.radio+'%'+'\xa0\xa0'+item.num+'人';
							nameList.push(name)
							let obj={}
							obj.value=item.radio
							obj.name=name
							valueList.push(obj)
						})
						datasource.echartsData.sxlName=nameList
						datasource.echartsData.sxlValue=valueList

						closeWaiting();
					} else {
						events.closeWaiting();
						mui.toast(data.msg);
					}
				});
			}

			//进退比详情
			function getJtbDetail() {
				comData = {
					id: curPage.id, //考试id
					index_code: curPage.index_code,
				}
				postDataEncry(window.storageKeyName.INTERFACE_EXAMINATION + 'rankingStep', {}, comData, 2, function(data) {
					console.log(JSON.stringify(data))
					if (data.code == 0) {
						datasource.jtbDetail = data.data

						//解析list 形成图表
						let list = data.data.list;
						let nameList = [];
						let upList = [];
						let downList = [];
						list.map(function(item) {
							nameList.push(item.cls_name)
							upList.push(item.up)
							downList.push(item.down)
						})
						datasource.echartsData.jtbName = nameList
						datasource.echartsData.jtbUp = upList
						datasource.echartsData.jtbDown = downList

						closeWaiting();
					} else {
						events.closeWaiting();
						mui.toast(data.msg);
					}
				});
			}

			//关闭加载框
			function closeWaiting() {
				if (datasource.pjfDetail != '' && datasource.zfdDetail != '' && datasource.zgfDetail != '' &&  datasource.jtbDetail != '') {
					if(curPage.selectType=='qk' && datasource.sxlDetail !=''){
						events.closeWaiting();	
					}else{
						events.closeWaiting();
					}
				}
			}

			function byId(id) {
				return $('#' + id)[0];
			};

			//加载平均分图表
			function initPjf() {
				var pjfChart = echarts.init(byId('pjfChart'));
				pjfChart.setOption({
					xAxis: {
						type: 'category',
						data: datasource.echartsData.pjfName
					},
					yAxis: {
						type: 'value'
					},
					legend: {
						data: ['平均分']
					},
					series: [{
						name:'平均分',
						data: datasource.echartsData.pjfValue,
						type: 'bar'
					}]
				});
			}

			//加载主分段图表
			function initZfd() {
				var zfdChart = echarts.init(byId('zfdChart'));
				zfdChart.setOption({
					tooltip: {
						trigger: 'item',
						formatter: '{a} <br/>{b}'
					},
					legend: {
						orient: 'vertical',
						right: '2%',
						icon: 'pin',
						top: 'middle',
						data: datasource.echartsData.zfdName
					},
					series: [{
						name: '主分段',
						type: 'pie',
						center: ['30%', '50%'],
						radius: ['20%', '50%'],
						avoidLabelOverlap: false,
						label: {
							normal: {
								show: false,
								position: 'center'
							},
							emphasis: {
								show: false,
								textStyle: {
									fontSize: '20',
									fontWeight: 'bold'
								}
							}
						},
						labelLine: {
							normal: {
								show: false
							}
						},
						data: datasource.echartsData.zfdValue
					}]
				});
			}

			//加载上线率图表
			function initSxl() {
				console.log(JSON.stringify(datasource.echartsData))
				var sxlChart = echarts.init(byId('sxlChart'));
				sxlChart.setOption({
					tooltip: {
						trigger: 'item',
						formatter: '{a} <br/>{b}'
					},
					legend: {
						orient: 'vertical',
						right: '2%',
						icon: 'pin',
						top: 'middle',
						data: datasource.echartsData.sxlName
					},
					series: [{
						name: '上线率',
						type: 'pie',
						center: ['30%', '50%'],
						radius: ['20%', '50%'],
						avoidLabelOverlap: false,
						label: {
							normal: {
								show: false,
								position: 'center'
							},
							emphasis: {
								show: false,
								textStyle: {
									fontSize: '20',
									fontWeight: 'bold'
								}
							}
						},
						labelLine: {
							normal: {
								show: false
							}
						},
						data: datasource.echartsData.sxlValue
					}]
				});
			}

			//加载进退比图表
			function initJtb() {
				var jtbChart = echarts.init(byId('jtbChart'));
				jtbChart.setOption({
					xAxis: {
						type: 'category',
						data: datasource.echartsData.jtbName
					},
					yAxis: {
						type: 'value'
					},
					legend: {
						data: ['进步人数', '退步人数']
					},
					series: [{
						name: '进步人数',
						data: datasource.echartsData.jtbUp,
						type: 'bar'
					}, {
						name: '退步人数',
						data: datasource.echartsData.jtbDown,
						type: 'bar'
					}]
				});
			}
		</script>
	</body>

</html>
