<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css" />
		<style type="text/css">
			[v-cloak] {
				display: none !important;
			}
			.month-picker{
				text-align: left;
				padding-left: 15px;
			}
			.pstyle{
				font-size: 14px;
				color: #505050;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.mui-pull-top-tips,.mui-pull-top-tips.mui-transitioning,.mui-pull-top-wrapper,.mui-pull-top-canvas {
			   z-index: 100 !important;
			}
			.mui-dtpicker-header button:last-child{
				background-color:#00CFBD;
				border-color:#00CFBD ;
			}
		</style>
	</head>

	<body style="background: white;">
		<header class="mui-bar mui-bar-nav" id="tempHead">
			<a v-cloak v-if="showBack==1" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 v-cloak class="mui-title">{{headTitle}}</h1>
		</header>
		<div v-cloak class="mui-content" style="margin-top: 0px;background: white;" id="contentData">
			<div class="mui-row" style="height: 45px;background: #EAEAEA;text-align: left; padding: 12px 0;font-size: 14px;">
				<span id='months' style="color: #00CFBD;font-size: 12px;" data-options='{"type":"month","title":"开始时间"}'  @tap="months($event)"  class="month-picker"></span><span class="mui-icon mui-icon-arrowdown" style="font-size: 15px;margin-left: 3px;"></span>
			</div>
			<div class="mui-row">
				<div class="mui-col-xs-12" style="padding: 0 15px;margin-top: 10px;text-align: center;font-size: 14px;">
					<span style="color: #505050;font-size: 12px;">出入总次数：</span><span style="color: #FF3333;font-size: 28px;margin-left: 10px;">{{total_count}}</span> 
				</div>
			</div>
			<div class="mui-row">
				<div style="height: 30px;background-color: #F3EDDB;margin-top:15px;padding: 5px 0 0 10px;">
					 <p style="color: #505050;font-size: 12px;">出入校详情</p>
				</div>
				<div id="scroll1" class="mui-scroll-wrapper" style="margin-top: 176px;">
					<div class="mui-scroll">
						<ul class="mui-table-view no-line" style="font-size: 13px;min-height:calc(100vh - 100px);">
							<li class="mui-table-view-cell beauline bg-gray" style="text-align: center;" v-for="(item,index) in pageData">
								<div class="mui-row">
									<div class="mui-col-xs-1 pstyle">{{++index}}</div>
									<div class="mui-col-xs-5 pstyle">{{item.card_time}}</div>
									<div class="mui-col-xs-4 pstyle">{{item.attendance_location}}</div>
									<template v-if="item.card_dir_txt && item.card_dir_txt.indexOf('出')!==-1"> 
										<div class="mui-col-xs-2"><p style="margin: 0 auto;width: 40px;padding: 2px;background-color: #FF9900;color: #FFFFFF;border-radius: 7px;font-size: 12px;">{{item.card_dir_txt}}</p></div>
									</template>
									<template v-else>
										<div class="mui-col-xs-2"><p style="margin: 0 auto;width: 40px;padding: 2px;background-color: #3ACA3A;color: #FFFFFF;border-radius: 7px;font-size: 12px">{{item.card_dir_txt}}</p></div>
									</template>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/utils/mui.pullToRefresh.js"></script>
		<script src="../../js/utils/mui.pullToRefresh.material.js"></script>
		<script src="../../js/muiPicker/mui.picker.all.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		<script src="../../js/utils/publicProtocol.js"></script>
		<script src="../../js/utils/moment.min.js"></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js"></script>
		<script src="../../js/libs/RSA/BigInt.js"></script>
		<script src="../../js/libs/RSA/RSA.js"></script>
		<script src="../../js/libs/encryption/RSAEncrypt.js"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/libs/encryption/signHmacSHA1.js'></script>
		<script src='../../js/libs/encryption/sortSign.js'></script>
		<script type="text/javascript">
			mui.init();
			var loading =true;
			var tempHead = new Vue({
				el: "#tempHead",
				data: {
					showBack: 1,
					headTitle: '详情',
				}
			});
			//vue数据 
			var contentData = new Vue({
				el: "#contentData",
				data: {
					refrushFlag: 0, //0刷新1加载更多
					pageNumber: 1,
					startTime:'',
					endTime:'',
					total_page:0,//总页数
					total_count:'',//次数
					personal:store.get(window.storageKeyName.PERSONALINFO),
					pageData: [],
				},
				methods:{
					months:function(e){
						let that=e.target
						var _self = that;
						var optionsJson = that.getAttribute('data-options') || '{}';
						var options = JSON.parse(optionsJson);
						options.endDate=new Date(currentYear(),currentMonth());
						options.value=contentData.startTime
						var id = that.getAttribute('id');
						var picker = new mui.DtPicker(options);
						picker.show(function(rs) {
							let start_monthStr=moment(rs.text).format('YYYY年MM月')
							let end_monthStr=moment(rs.text).add(5, 'M').format('YYYY年MM月');
							let start_month=moment(rs.text).format('YYYY-MM')
							let end_month=moment(rs.text).add(5, 'M').format('YYYY-MM');
							$('#months').html(start_monthStr+' ~ '+end_monthStr)
							contentData.startTime=start_month;
							contentData.endTime=end_month;
							contentData.refrushFlag = 0; //0刷新1加载更多
							contentData.pageNumber = 1; 
							getPageInOutDetail();
							picker.dispose();
							picker = null;
						});
					}
				}
			}); 
			var pageSize =20;
			var self = 0;
			let curPage=''
			mui.plusReady(function() {
				(function($) {
					$('.mui-scroll-wrapper').scroll({
						indicators: true //是否显示滚动条
					});
					$.ready(function() {
						$.each(document.querySelectorAll('.mui-scroll'), function(index, pullRefreshEl) {
							$(pullRefreshEl).pullToRefresh({
								down: {
									callback: function() {
										self = this;
										contentData.refrushFlag = 0; //0刷新1加载更多
										contentData.pageNumber = 1; 
										getPageInOutDetail();
										setTimeout(function() {
											//结束下拉刷新
											self.endPullDownToRefresh();
										}, 1000);
									}
								},
								up: {
									callback: function() {
										self = this;
										contentData.refrushFlag = 1; //0刷新1加载更多
										if (contentData.pageNumber <= contentData.total_page) {
											getPageInOutDetail();
											setTimeout(function() {
												//结束下拉刷新
												self.endPullUpToRefresh();
												if (mui(".mui-table-view-cell").length < 10) {
													mui(".mui-pull-loading")[0].innerHTML = "";
												}
											}, 1000);
										} else {
											//结束下拉刷新
											self.endPullUpToRefresh();
											mui(".mui-pull-loading")[0].innerHTML = "没有更多了";
										}
									}
								}
							});
						});
					});
				})(mui);
				curPage = utils.getDataFromUrl(window.location.href);
				contentData.total_count=curPage.count
				let end_monthStr=moment().format('YYYY年MM月')
				let start_monthStr=moment().subtract(5, 'M').format('YYYY年MM月');
				let end_month=moment().format('YYYY-MM')
				let start_month=moment().subtract(5, 'M').format('YYYY-MM');
				$('#months').html(start_monthStr+' ~ '+end_monthStr)
				contentData.startTime=start_month;
				contentData.endTime=end_month;
				getPageInOutDetail();
			});
			
			//分页查询出入详情
			function getPageInOutDetail(){
				if(loading){events.showWaiting();}
				let user_code=personal.user_code;
				if(personal.type_code=='YHLX0004'){
					user_code=personal.stu_code;
				}
				comData = {
					stu_code:user_code,
					begintime:contentData.startTime,
					endtime:contentData.endTime,
					page_size:pageSize,
					page_number: contentData.pageNumber,
					index_code: curPage.access.split('#')[1],
				}
				postDataEncry(window.storageKeyName.PARENTS_ATTENDANCE + 'attendance/pageInOutDetail', {}, comData, 2, function(data) {
					events.closeWaiting();
					loading=false;
					if (data.code == 0) {
						 console.log("data.data.list: " + JSON.stringify(data.data.list));
						 contentData.total_page=data.data.total_page
						 contentData.total_count=data.data.total_row
						 if (contentData.refrushFlag == 0) {
						 	contentData.pageData = [].concat(data.data.list);
							if(data.data.list.length<pageSize){
								mui(".mui-pull-loading")[0].style.display="none"
							}
						 	setTimeout(() => {
						 		self && self.endPullDownToRefresh();
						 		if (data.data.page_number >= data.data.total_page) {
						 			mui(".mui-pull-loading")[0].innerHTML = "没有更多了";
						 		}
						 	}, 1000)
						 } else {
							contentData.pageData = contentData.pageData.concat(data.data.list);
						 	// if(data.data.list.length==0){
						 	// 	mui.toast('暂无更多数据');
						 	// }    
						 	setTimeout(() => {
						 		self && self.endPullUpToRefresh();
						 		if (data.data.page_number >= data.data.total_page) {
						 			mui(".mui-pull-loading")[0].innerHTML = "没有更多了";
						 		}
						 	}, 1000)
						 }
						 contentData.pageNumber++;
					} else {
						mui.toast(data.msg);
					}
				});
			}
			
			function currentYear(){
				return moment().format("YYYY")
			}
			
			function currentMonth(){
				return moment().months()
			}
		</script>
	</body>

</html>
