<!doctype html>
<html>
	<!-- 考务模块  列表页

 -->
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/common.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/mui.picker.min.css" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<style>
			[v-cloak] {
				visibility: hidden;
				display:none !important;
			}
			html,
			body {
				background-color: #FFFFFF;
			}
			
			.mui-content{
				background-color: #FFFFFF;
			}
			
			.time {
				font-size: 14px;
				float: right;
				color: gray;
			}
			
			
			.mui-table h4,.mui-table h5,.mui-table .mui-h5,.mui-table .mui-h6,.mui-table p{
			    margin-top: 0;
			}
			.mui-table h4{
			    line-height: 21px;
			    font-weight: 500;
			}
					
			.mui-table .oa-icon{
			    position: absolute;
			    right:0;
			    bottom: 0;
			}
			.mui-table .oa-icon-star-filled{
			    color:#f14e41;
			}
			
			.mui-table-cell-1{
				margin-top: 1.25rem;
			}
			
			.selectDiv{
				background-color: #eaeaea;
			}
			.selectBtn{
				border: 0rem;
				border-radius: 0rem;
				background-color: #FFFFFF;
				height: 3rem;
			}
			
			.aCss {
				font-size: 15px;
				color: #333;
				width: 5rem;
			}
			
			.icon-right {
				position: fixed;
				float: right;
				font-size: 14px;
				margin-top: 11px;
				right: 5%;
			}
			
			.mui-input-row label~input,.mui-input-row label~select, .mui-input-row label~textarea ,
			input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
				color: #999;
				/* placeholder字体大小  */
				font-size: 14px;
			}
			
			.line {
				right: 0;
				bottom: 0;
				left: 0;
				height: 1px;
				content: '';
				-webkit-transform: scaleY(.5);
				transform: scaleY(.5);
				background-color: #e4e4e4;
			}
			
			.mui-input-row:after {
				height: 0px;
			}
			
			.mui-input-row {
				margin:0.3125rem 0;
			}
			
			.mui-input-row label {
			    font-family: 'Helvetica Neue',Helvetica,sans-serif;
			    line-height: 1.1;
			    float: left;
			    width: 30%;
			    padding: 11px 15px;
			}
			
			.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea {
			    float: right;
			    width: 68%;
				margin-right: 2%;
			    margin-bottom: 0;
			    padding-left: 0.625rem;
			    border: 0;
			}
			
			.mui-dtpicker-header button:last-child {
			    background-color: #00CFBD;
				border: #00CFBD;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id="tempVue">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 v-cloak class="mui-title">{{titleName}}</h1>
			<a @click="submit()" class="mui-pull-right" style="font-size: 0.875rem">确定</a>
		</header>
		<div v-cloak id="datasource" class="mui-content mui-fullscreen" style="z-index:0">
			<div v-cloak class="mui-scroll-wrapper" style="margin-top: 44px;">
				<div v-cloak class="mui-scroll">
					<div class="" v-cloak style="margin-top: 0.625rem;">
						<div v-cloak class="mui-input-row">
							<label class="aCss" @tap="showGrd()">年级</label>
							<input style="border: 1px solid rgba(0,0,0,.2);" type="text" @tap="showGrd()" placeholder="请选择" v-model="formData.grd.text" readonly>
							<span class="mui-icon mui-icon-arrowdown icon-right"></span>
						</div>
						<div class="line"></div>
						<div v-cloak class="mui-input-row">
							<label class="aCss" @tap="showCls()">班级</label>
							<input style="border: 1px solid rgba(0,0,0,.2);" type="text" @tap="showCls()" placeholder="请选择" v-model="formData.cls.text" readonly>
							<span class="mui-icon mui-icon-arrowdown icon-right"></span>
						</div>
						<div class="line"></div>
						<div v-cloak class="mui-input-row">
							<label class="aCss" @tap="showStu()">姓名</label>
							<input style="border: 1px solid rgba(0,0,0,.2);" type="text" @tap="showStu()" rows="1" placeholder="请选择" v-model="formData.stu.text" readonly>
								<!-- <h6 style=" float: right; width: 68%;line-height: 1.25rem;margin-right: 2%" v-if="formData.stu.text">已选择:	{{formData.stu.text}}</h6> -->
							<span class="mui-icon mui-icon-arrowdown icon-right"></span>
						</div>
						<div class="line"></div>
						<div v-cloak class="mui-input-row">
							<label class="aCss" @tap="showKqlx()">年份</label>
							<input style="border: 1px solid rgba(0,0,0,.2);" type="text" @tap="showYear()" placeholder="请选择" v-model="formData.year.text" readonly>
							<span class="mui-icon mui-icon-arrowdown icon-right"></span>
						</div>
						<div class="line"></div>
						<div v-cloak class="mui-input-row">
							<label class="aCss" @tap="showDate()">学期</label>
							<input style="border: 1px solid rgba(0,0,0,.2);" type="text" @tap="showTerm()" placeholder="请选择" v-model="formData.term.text" readonly>
							<span class="mui-icon mui-icon-arrowdown icon-right"></span>
						</div>
						<div class="line"></div>
						<div v-cloak class="mui-input-row">
							<label class="aCss" @tap="showJc()">评语类型</label>
							<input style="border: 1px solid rgba(0,0,0,.2);" type="text" @tap="showRemark()" placeholder="请选择" v-model="formData.remark.text" readonly>
							<span class="mui-icon mui-icon-arrowdown icon-right"></span>
						</div>
						<div class="line"></div>
						<div v-cloak class="mui-input-row">
							<label class="aCss">评语</label>
							<textarea style="border: 1px solid rgba(0,0,0,.2);"  maxlength="100" v-model="formData.comment" rows="5" placeholder="请输入内容"></textarea>
						</div>
						<template v-if="SHOW">
							<div class="line"></div>
							<div v-cloak class="mui-input-row">
								<label class="aCss" style="width: 7.5rem;">是否发送短信</label>
								<div class="mui-switch mui-switch-mini" @click="checkSMS()" :class="SMS?'mui-active':''" style="margin-right: 8px;z-index: 20 !important;">
									<div class="mui-switch-handle"></div>
								</div>
							</div>
						</template>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/publicProtocol.js"></script>
		<script src="../../js/utils/events.js"></script>
		
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src='../../js/picVideoAudio/compressVideo.js'></script>
		<script src="../../js/qiniu/cloudutil.js"></script>
		<script src="../../js/utils/mui.picker.min.js"></script>
		<script src="../../js/utils/mui.poppicker.js"></script>
		<script src="../../js/utils/SMS-Utils.js"></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js"></script>
		<script src="../../js/libs/RSA/BigInt.js"></script>
		<script src="../../js/libs/RSA/RSA.js"></script>
		<script src="../../js/libs/encryption/RSAEncrypt.js"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/libs/encryption/signHmacSHA1.js'></script>
		<script src='../../js/libs/jquery.js'></script>
		<script src='../../js/libs/encryption/sortSign.js'></script>
		<script type="text/javascript">
			var $M = mui.init();
			//获取个人信息
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log('personal:' + JSON.stringify(personal));
			var curPage = {};
			
			var tempVue = new Vue({
				el: "#tempVue",
				data: {
					titleName: '新建学生评语'
				},
				methods:{
					submit:function(){//表单提交
						if(datasource.formData.grd.value==''){
							mui.toast('请选择年级')
						}else if(datasource.formData.cls.value==''){
							mui.toast('请选择班级')
						}else if(datasource.formData.stu.value==''){
							mui.toast('请选择学生')
						}else if(datasource.formData.year.value==''){
							mui.toast('请选择年份')
						}else if(datasource.formData.term.value==''){
							mui.toast('请选择学期')
						}else if(datasource.formData.remark.value==''){
							mui.toast('请选择评语类型')
						}else if(datasource.formData.comment==''){
							mui.toast('请填写评语')
						}else{
							events.showWaiting();
							submitData()
						}
					}
				}
			});
			var datasource = new Vue({
				el: "#datasource",
				data: {
					formData: {
						grd:{text:'',value:''},//年级选择值
						cls:{text:'',value:''},//班级选择值
						stu:{text:'',value:''},//学生选择值
						year:{text:'',value:''},//年份选择值
						term:{text:'',value:''},//学期选择值
						remark:{text:'',value:''},//评语类型选择值
						comment:'',//说明
					}, //表单内容
					grdList: [], //年级数组
					clsList: [], //班级数组
					stuList: [], //学生数组
					yearList: [], //年份数组
					termList: [], //学期数组
					remarkList:[], //评语类型数组
					CONFIG:{},//短信配置 对象
					WORDS:[],//拒绝关键字 对象
					SHOW:false,//是否显示发送短信
					SMS:false,//是否发送短信
				},
				methods: {
					checkSMS:function(){
						this.SMS=!this.SMS
					},
					showGrd: function() {
						var userPicker = new $M.PopPicker();
						userPicker.setData(datasource.grdList);
						setTimeout(function() {
							userPicker.pickers[0].setSelectedValue(datasource.formData.grd.value);
						}, 100);
						userPicker.show(function(items) {
							console.log(JSON.stringify(items[0]))
							if(JSON.stringify(items[0]) =='{}'){
								mui.toast('未选择年级')
							}else{
								datasource.formData.grd = items[0]
								datasource.clsList=[]
								datasource.stuList=[]
								datasource.formData.cls={text:'',value:''}
								datasource.formData.stu={text:'',value:''}
								getClsList( items[0].value) 
								userPicker.dispose();
								userPicker = null;
							}
						});
					},
					showCls: function() {
						var userPicker = new $M.PopPicker();
						userPicker.setData(datasource.clsList);
						setTimeout(function() {
							userPicker.pickers[0].setSelectedValue(datasource.formData.cls.value);
						}, 100);
						userPicker.show(function(items) {
							console.log(JSON.stringify(items[0]))
							if(JSON.stringify(items[0]) =='{}'){
								mui.toast('未选择班级')
							}else{
								datasource.formData.cls = items[0]
								datasource.stuList=[]
								datasource.formData.stu={text:'',value:''}
								getStuList(datasource.formData.grd.value,items[0].value) 
								userPicker.dispose();
								userPicker = null;
							}
						});
					},
					showStu: function() {
						var userPicker = new $M.PopPicker();
						userPicker.setData(datasource.stuList);
						setTimeout(function() {
							userPicker.pickers[0].setSelectedValue(datasource.formData.stu.value);
						}, 100);
						userPicker.show(function(items) {
							if(JSON.stringify(items[0]) =='{}'){
								mui.toast('未选择学生')
							}else{
								datasource.formData.stu = items[0]
								userPicker.dispose();
								userPicker = null;
							}
						});
					},
					showYear: function() {
						console.log("datasource.yearList: " + JSON.stringify(datasource.yearList));
						var userPicker = new $M.PopPicker();
						userPicker.setData(datasource.yearList);
						setTimeout(function() {
							userPicker.pickers[0].setSelectedValue(datasource.formData.year.value);
						}, 100);
						userPicker.show(function(items) {
							console.log(JSON.stringify(items[0]))
							if(JSON.stringify(items[0]) =='{}'){
								mui.toast('未选择年份')
							}else{
								datasource.formData.year = items[0]
								userPicker.dispose();
								userPicker = null;
							}
						});
					},
					showTerm: function() {
						var userPicker = new $M.PopPicker();
						userPicker.setData(datasource.termList);
						setTimeout(function() {
							userPicker.pickers[0].setSelectedValue(datasource.formData.term.value);
						}, 100);
						userPicker.show(function(items) {
							console.log(JSON.stringify(items[0]))
							if(JSON.stringify(items[0]) =='{}'){
								mui.toast('未选择学期')
							}else{
								datasource.formData.term = items[0]
								userPicker.dispose();
								userPicker = null;
							}
						});
					},
					showRemark: function() {
						var userPicker = new $M.PopPicker();
						userPicker.setData(datasource.remarkList);
						setTimeout(function() {
							userPicker.pickers[0].setSelectedValue(datasource.formData.remark.value);
						}, 100);
						userPicker.show(function(items) {
							console.log(JSON.stringify(items[0]))
							if(JSON.stringify(items[0]) =='{}'){
								mui.toast('未选择评语类型')
							}else{
								datasource.formData.remark = items[0]
								userPicker.dispose();
								userPicker = null;
							}
						});
					},
				}
			});

			mui.plusReady(function() {
				curPage = utils.getDataFromUrl(window.location.href);
				// tempVue.titleName = '添加'+curPage.title;


				//阻尼系数、初始化刷新加载更多
				var deceleration = mui.os.ios ? 0.003 : 0.0009;
				mui('.mui-scroll-wrapper').scroll({
					bounce: false,
					indicators: true, //是否显示滚动条
					deceleration: deceleration
				});


				SMSUtils.INDEX_CODE=curPage.index_code;
				SMSUtils.MSG_TYPE=window.storageKeyName.REMARK_MSG_SMS.REMARK.MSG_TYPE;
				SMSUtils.USER_TYPE=window.storageKeyName.REMARK_MSG_SMS.REMARK.USER_TYPE;
				SMSUtils.PERSONAL=store.get(window.storageKeyName.PERSONALINFO);
				events.showWaiting();
				//获取短信配置和屏蔽关键字
				SMSUtils.getConfig((msg)=>{
					if(msg.SMS){
						datasource.CONFIG=msg.CONFIG
						SMSUtils.getSmsWords((msg2)=>{
							// events.closeWaiting();
							datasource.WORDS=msg2.WORDS
						},2)
						datasource.SHOW=true
					}else{
						datasource.SHOW=false
						// events.closeWaiting();
					} 
				})
				//获取数据范围授权：年级
				getGrdList();
				// 获取常量数组
				getDictList();
			});
			
			// 获取数据范围授权：年级
			function getGrdList() {
				comData = {
					op_code:'add',
					get_grd:true,
					index_code: curPage.index_code,
				}
				postDataEncry(window.storageKeyName.INTERFACE_HR_SUB + 'acl/dataRange', {}, comData, 2, function(data) {
					console.log(JSON.stringify(data))
					if (data.code == 0) {
						let grds = data.data.grd_list;
						let grdList=[];
						grds.map(function(currentValue) {
							let obj = {};
							obj.value = currentValue.value;
							obj.text = currentValue.name;
							grdList.push(obj)
						})
						if(grdList.length>0 ){
							datasource.grdList=grdList;
							let grd_id=grdList[0].value; 
							datasource.formData.grd=grdList[0];
							//获取数据范围授权：班级
							getClsList(grd_id) 
						}else{
							events.closeWaiting();
							mui.toast('获取年级数据为空');
						}
					} else {
						events.closeWaiting();
						mui.toast(data.msg);
					}
				});
			}
			//获取数据范围授权：班级
			function getClsList(grd_id) {
				const params = {
					op_code:'add',
					grd_code:grd_id,
					get_cls:true,
					index_code: curPage.index_code,
				}
				postDataEncry(window.storageKeyName.INTERFACE_HR_SUB + 'acl/dataRange', {}, params, 2, function(data) {
					console.log(JSON.stringify(data))
					if (data.code == 0) {
						let clss = data.data.cls_list;
						let clssList=[];
						clss.map(function(currentValue) {
							let obj = {};
							obj.value = currentValue.value;
							obj.text = currentValue.name;
							clssList.push(obj)
						})
						if(clssList.length>0 ){
							datasource.clsList=clssList;
							let cls_id=clssList[0].value;
							datasource.formData.cls=clssList[0];
							//获取数据范围授权：学生
							getStuList(grd_id,cls_id) 
						}else{
							events.closeWaiting();
							mui.toast('获取班级数据为空');
						}
					}else{
						events.closeWaiting();
						mui.toast(data.msg);
					}
				});
			}
			//获取数据范围授权：学生
			function getStuList(grd_id,cls_id) {
				const params = {
					op_code:'add',
					grd_code: grd_id,
					cls_code: cls_id,
					get_stu:true,
					index_code: curPage.index_code,
				}
				postDataEncry(window.storageKeyName.INTERFACE_HR_SUB + 'acl/dataRange', {}, params, 2, function(data) {
					console.log(JSON.stringify(data))
					events.closeWaiting();
					if (data.code == 0) {
						let stu = data.data.stu_list;
						let stuList=[];
						stu.map(function(currentValue) {
							let obj = {};
							obj.value = currentValue.value;
							obj.text = currentValue.name;
							stuList.push(obj)
						})
						if(stuList.length>0 ){
							datasource.stuList=stuList;
						}else{
							mui.toast('获取学生数据为空');
						}
						
					}else{
						mui.toast(data.msg);
					}
				});
			}
			 
			
			// 获取常量
			function getDictList() {
				events.showWaiting();
				comData = {
					op_code: 'index',
					index_code: curPage.index_code,
				} 
				postDataEncry(window.storageKeyName.INTERFACE_STUPYSUB + 'Comment/getDict', {}, comData, 2,
					function(data) {
						events.closeWaiting();
						if (data.code == 0) {
							if (data.data.yearArray&& data.data.yearArray.length == 0) {
								mui.toast('无法获取年份');
							}  else if(data.data.termArray&& data.data.termArray.length == 0){
								mui.toast('无法获取学期');
							} else if(data.data.remarkTypeArray&& data.data.remarkTypeArray.length == 0){
								mui.toast('无法获取评语类型');
							}else{
								let newList=data.data.yearArray.sort(compare("value",0));
								datasource.yearList = newList;
								datasource.termList =  data.data.termArray;
								datasource.remarkList = data.data.remarkTypeArray;
							}
						} else {
							mui.toast(data.msg);
						}
					});
			}
			
			// 提交表单数据
			function submitData() {
				let comm=datasource.formData.comment
				let comment=comm.replace(/\s+/g, '').replace(/\n/g, '').replace(/\t/g, '').replace(/\r/g, '')
				let flag=0;
				if(datasource.SMS){
					flag=1;
					let showToast=false
					 let words=[]
					 for (var i = 0; i < datasource.WORDS.length; i++) {
					 	let word=datasource.WORDS[i].word
					 	if(comment.indexOf(word)!==-1){
					 		showToast=true
					 		words.push(word)
					 	}
					 }
					 if(showToast){
					 	mui.toast('含有禁止使用的关键词	‘'+words.join("/")+'’	请编辑后再尝试发送')
					 	events.closeWaiting();
					 	return 0
					 }
				}
				comData = {
					grd_code: datasource.formData.grd.value,
					cls_code: datasource.formData.cls.value,
					stu_code: datasource.formData.stu.value,
					year: datasource.formData.year.value,
					term_name: datasource.formData.term.value,
					remark_type: datasource.formData.remark.value,
					remark: comment,
					index_code: curPage.index_code,
				}
				postDataEncry(window.storageKeyName.INTERFACE_STUPYSUB + 'Comment/save', {}, comData, 2, function(data) {
					events.closeWaiting();
					if (data.code == 0) {
						 mui.toast(data.msg);
						 setTimeout(function(){
							 mui.fire(plus.webview.currentWebview().opener(), 'refreshList', {});
							 mui.back()
						 },1500)
					} else {
						mui.toast(data.msg);
					}
				});
			}
			
			// 获取当前日期
			function getCurrentDate(){
				var myDate=new Date()
			    var year = myDate.getFullYear();
			    var month = myDate.getMonth() + 1;
				var date = myDate.getDate();
				var hours = myDate.getHours();
				var minutes = myDate.getMinutes();
				var now = year + '-' + conver(month) + "-" + conver(date)
				// + " " + hours + ":" + minutes
				datasource.formData.time=now;
			}
			function conver(s) {
				return s < 10 ? '0' + s : s;
			}
			
			//对学年进行按字段排序
			function compare(propertyName,order) { 
			    return function (object1, object2) { 
			        var value1 = object1[propertyName]; 
			        var value2 = object2[propertyName]; 
			        if(order==0){
			            if (value2 < value1) { 
			                return -1; 
			            } 
			            else if (value2 > value1) { 
			                return 1; 
			            } 
			            else { 
			                return 0; 
			            } 
			        }if(order==1){
			            if (value2 > value1) { 
			                return -1; 
			            } 
			            else if (value2 < value1) { 
			                return 1; 
			            } 
			            else { 
			                return 0; 
			            } 
			        }
			    } 
			} 
			
		</script>
	</body>

</html>