<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/mui.picker.min.css" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../fonts/iconfont1.css" />
		<link rel="stylesheet" href="../../css/utils/MultiMedia.css" />
		<link rel="stylesheet" href="../../css/utils/preview.css" />
		<link rel="stylesheet" href="../../css/utils/audiopopover.css" />
		<style type="text/css">
			[v-cloak] {
				display: none !important;
			}

			.circular-square {
				border-radius: 50%;
				width: 56px;
				height: 56px;
			}


			.aCss {
				font-size: 15px;
				color: #333;
				width: 5rem;
			}

			.icon-right {
				position: fixed;
				float: right;
				font-size: 14px;
				margin-top: 11px;
				right: 5%;
			}

			.mui-input-row label~input,
			.mui-input-row label~select,
			.mui-input-row label~textarea,
			input::-webkit-input-placeholder,
			textarea::-webkit-input-placeholder {
				color: #999;
				/* placeholder字体大小  */
				font-size: 14px;
			}

			.line {
				right: 0;
				bottom: 0;
				left: 0;
				height: 1px;
				content: '';
				-webkit-transform: scaleY(.5);
				transform: scaleY(.5);
				background-color: #e4e4e4;
			}

			.mui-input-row:after {
				height: 0px;
			}

			.mui-input-row {
				margin: 0.3125rem 0;
			}

			.mui-input-row label {
				font-family: 'Helvetica Neue', Helvetica, sans-serif;
				line-height: 1.1;
				float: left;
				width: 30%;
				padding: 11px 15px;
			}

			.mui-input-row label~input,
			.mui-input-row label~select,
			.mui-input-row label~textarea {
				float: right;
				width: 68%;
				margin-right: 2%;
				margin-bottom: 0;
				padding-left: 0.625rem;
				border: 0;
			}

			.mui-dtpicker-header button:last-child {
				background-color: #00CFBD;
				border: #00CFBD;
			}

			.add-item {
				width: 96% !important;
				margin: 0 2%;
				font-size: 16px;
				color: #FFF;
				background-color: #00CFBD;
				border: 1px solid #00CFBD;
			}

			.btnBorder {
				border: none;
			}

			.submitBtn {
				margin-top: 10px;
				height: 40px;
				background: #00CFBD;
				color: white;
				width: 90%;
				border-color: #00CFBD;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id="tempHead">
			<a v-if="showBack==1" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 v-cloak class="mui-title">{{headTitle}}</h1>
			<a @click="location()" class="mui-pull-right mui-icon mui-icon-location" style="font-size: 16px;margin-top: 7px;">定位</a>
		</header>
		<div v-cloak class="mui-content" style="margin-top: 0px;background-color: #FFFFFF;" id="contentData">
			<div v-cloak class="mui-input-row">
				<label class="aCss" style="float: left;">考勤地点</label>
				<textarea maxlength="200" readonly="readonly" v-model="workAddress" rows="2" placeholder="请点击右上角按钮定位"></textarea>
			</div>
			<div class="line"></div>
			<div v-cloak class="mui-input-row">
				<div id="MultiMedia">
				</div>
			</div>
			<div class="line"></div>
			<div @click="clickSubmitBtn" style="text-align: center;"><button type="button" class="mui-btn submitBtn">确定</button></div>
		</div>
		<div id="videoPopover" class="mui-popover">
			<video id="video" style="position: absolute;z-index: 999;" controls="controls" webkit-playsinline playsinline>
				您的浏览器不支持 video 标签。
			</video>
		</div>
		<!-- <div id="audioPopover" class="mui-popover">
			<div id="audio_show" class="audio-show-popover">
				<span id="audio_icon" class="mui-icon mui-icon-mic audio-icon"></span>
				<canvas id="audio_canvas" class="audio-canvas"></canvas>
				<span id="audio_close" class="mui-icon iconfont icon-guanbi"></span>
				<div id="audio_time" class="audio-time">00:00</div>
				<div id="audio_control" class="audio-control">
					<div id="audio_play" class="audio-control-background audio-control-play">
						<div></div>
					</div>
					<div id="audio_pause" class="audio-control-background audio-control-pause">
						<div></div>
						<div></div>
					</div>
				</div>
				<audio id="audio_audio" autoplay="autoplay" preload="auto"></audio>
			</div>
		</div> -->
		<!--  -->
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/publicProtocol.js"></script>
		<script src="../../js/utils/events.js"></script>

		<script src="../../js/picVideoAudio/MultiMedia.js"></script>
		<script src="../../js/cloud/AndroidFileSystem.js"></script>
		<script src="../../js/qiniu/qiniu.js"></script>
		<script src="../../js/utils/cryption.js"></script>
		<script src="../../js/cloud/CloudFileUtil.js"></script>
		<script src="../../js/cloud/qn_upload.js"></script>
		<script src="../../js/utils/mui.zoom.js"></script>
		<script src="../../js/utils/mui.previewimage.js"></script>
		<script src="../../js/picVideoAudio/compress.js"></script>
		<script src="../../js/picVideoAudio/recordvideoutil.js"></script>
		<script src="../../js/picVideoAudio/playutil.js"></script>
		<script src="../../js/picVideoAudio/showvideoutil.js"></script>
		<script src="../../js/picVideoAudio/showaudio.js"></script>
		<script src="../../js/picVideoAudio/gallerypick.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src='../../js/picVideoAudio/compressVideo.js'></script>
		<script src="../../js/qiniu/cloudutil.js"></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js"></script>
		<script src="../../js/libs/RSA/BigInt.js"></script>
		<script src="../../js/libs/RSA/RSA.js"></script>
		<script src="../../js/libs/encryption/RSAEncrypt.js"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/libs/encryption/signHmacSHA1.js'></script>
		<script src='../../js/libs/jquery.js'></script>
		<script src='../../js/libs/encryption/sortSign.js'></script>

		<script type="text/javascript">
			var $M = mui.init();
			var tempHead = new Vue({
				el: "#tempHead",
				data: {
					showBack: 0,
					headTitle: '',
				},
				methods: {
					location: function() {
						events.showWaiting();
						getGeocode();
					}
				}
			});
			//vue数据
			var contentData = new Vue({
				el: "#contentData",
				data: {
					workAddress: '',
					attend_x: '',
					attend_y: '',
				},
				methods: {
					clickSubmitBtn: function() {
						if (plus.networkinfo.getCurrentType() == plus.networkinfo.CONNECTION_NONE) {
							mui.toast("网络连接失败,请重新尝试一下", "cancel");
							sendFlag = 0;
							return;
						}
						if (contentData.workAddress.length == 0) {
							mui.toast("请先点击右上角按钮进行定位", "cancel");
							sendFlag = 0;
							return;
						}
						if (multiMedia.data.PictureArray.length == 0) { //没有传附件
							var wd = events.showWaiting();
							// 9.新增考勤
							submitDataLast(wd, '3', '', '', 0, '');
						} else {
							var wd = events.showWaiting('上传中...');
							//上传文件
							qn_upload.uploadFile(wd,function(wd, type, encAddrStr, encImgrStr, encLen, encNameStr){
								submitDataLast(wd, type, encAddrStr, encImgrStr, encLen, encNameStr);
							});
						}
					}
				}
			});
			var curPage = {};
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log('personal:' + JSON.stringify(personal));
			var hideOption; //隐藏键盘的数据
			var multiMedia; //多媒体控件
			mui.plusReady(function() {
				curPage = utils.getDataFromUrl(window.location.href);
				console.log('curPage:' + JSON.stringify(curPage));
				contentData.todayDate = getNowFormatDate();
				tempHead.headTitle = curPage.title_name;
				tempHead.showBack = 1;
				init(); //初始化控件

				// 刚进入界面，自动定位
				events.showWaiting();
				getGeocode();
			});
			//多媒体控件
			multiMedia = MultiMedia.multiMedia({
				MultiMediaId: 'MultiMedia', //存放多媒体对象控件的id
				Key: store.get(window.storageKeyName.PERSONALINFO).user_code, //
				Picture: true, //是否显示图片图标
				PictureTuku: false, //是否显示图库图标，默认显示
				Audio: false, //是否显示音频图标
				Video: false, //是否显示视频图标
				TotalPicture: 1, //图片的个数
				TotalAudio: 1, //音频的个数
				TotalVideo: 1, //视频的个数
			});

			/*
			 * 初始化控件
			 */
			function init() {
				events.blurBack();

				//图片查看控件
				mui.previewImage();
				multiMedia.initEvent();
				//获取配置信息
				hideOption = events.initHideKeyBoard();
				// 初始化七牛上传参数
				var tempM = {
					qn_appId:window.storageKeyName.QN_APPID,
					qn_appKey:window.storageKeyName.QN_APPKEY,
					qn_mainSpace:window.storageKeyName.QN_PV_NAME,
					qn_uploadSpace:window.storageKeyName.QN_OA_SHIW,
					qn_multiMedia:multiMedia,
				}
				qn_upload.uploadInit(tempM);
			}
			// 9.新增考勤
			var submitDataLast = function(wd, encType, encAddr, encImg, encLen, encName) {
				// console.log('encType:' + encType);
				// console.log('encAddr:' + encAddr);
				// console.log('encImg:' + encImg);
				// console.log('encLen:' + encLen);
				events.showWaiting();
				var comData = {
					user_code: personal.user_code, //用户Code
					user_name: personal.user_name, //用户名称
					attend_addr: contentData.workAddress, //考勤地点
					attend_addr_x: contentData.attend_x.toString(), //签到地点X坐标
					attend_addr_y: contentData.attend_y.toString(), //签到地点Y坐标
					attend_pic: encAddr, //签到拍照
					index_code: curPage.index_code,
					op_code: 'add'
				}
				postDataEncry(window.storageKeyName.INTERFACE_ATTENDAND + 'attend/addAttend', {}, comData, 2, function(data) {
					console.log('addAttend:' + JSON.stringify(data));
					events.closeWaiting();
					if (data.code == 0) {
						mui.toast("发布成功")
						setTimeout(function() {
							mui.back();
						}, 1000);
						mui.fire(plus.webview.currentWebview().opener(), 'refreshMyAttendanceList', {});
					} else {
						mui.toast(data.msg)
						sendFlag = 0;
					}
				});
			}

			function getGeocode() {
				console.log("获取定位位置信息:");
				plus.geolocation.getCurrentPosition(geoInf, function(e) {
					if (plus.os.name == "Android") {
						android(e);
					} else if (plus.os.name == "iOS") {
						ios(e);
					}
					events.closeWaiting();
				}, {
					geocode: true
				});
			}

			//判断android 是否打开gps按钮
			function android(e) {
				console.log("获取定位位置信息失败：" + e.message);
				var context = plus.android.importClass("android.content.Context");
				var locationManager = plus.android.importClass("android.location.LocationManager");
				var main = plus.android.runtimeMainActivity();
				var mainSvr = main.getSystemService(context.LOCATION_SERVICE);
				androidIsOpen = mainSvr.isProviderEnabled(locationManager.GPS_PROVIDER);
				if (!androidIsOpen) {
					plus.nativeUI.alert("请开启GPS以获取正确的位置信息");
				}
			}

			//判断ios 是否授权使用我的位置  ，android部分可用，暂不考虑
			function ios(e) {
				var pp = plus.navigator.checkPermission('LOCATION');
				switch (pp) {
					case 'denied':
						plus.nativeUI.alert('未授权使用我的位置');
						break;
						// case 'undetermined':
						// 	plus.nativeUI.alert('未授权使用我的位置');
						// break;
					default:
						console.log("获取定位位置信息失败：" + e.message);
						break;
				}
			}

			function geoInf(position) {
				events.closeWaiting();
				var str = "";
				str += "地址：" + position.addresses + "\n"; //获取地址信息
				str += "坐标类型：" + position.coordsType + "\n";
				var timeflag = position.timestamp; //获取到地理位置信息的时间戳；一个毫秒数；
				str += "时间戳：" + timeflag + "\n";
				var codns = position.coords; //获取地理坐标信息；
				var lat = codns.latitude; //获取到当前位置的纬度；
				str += "纬度：" + lat + "\n";
				var longt = codns.longitude; //获取到当前位置的经度
				str += "经度：" + longt + "\n";
				var alt = codns.altitude; //获取到当前位置的海拔信息；
				str += "海拔：" + alt + "\n";
				var accu = codns.accuracy; //地理坐标信息精确度信息；
				str += "精确度：" + accu + "\n";
				var altAcc = codns.altitudeAccuracy; //获取海拔信息的精确度；
				str += "海拔精确度：" + altAcc + "\n";
				var head = codns.heading; //获取设备的移动方向；
				str += "移动方向：" + head + "\n";
				var sped = codns.speed; //获取设备的移动速度；
				str += "移动速度：" + sped;
				console.log(JSON.stringify(position));
				console.log('position.addresses:' + position.addresses);
				contentData.workAddress = position.addresses;
				contentData.attend_x = longt;
				contentData.attend_y = lat;
			}

			function getNowFormatDate() {
				var date = new Date();
				var seperator1 = "-";
				var year = date.getFullYear();
				var month = date.getMonth() + 1;
				var strDate = date.getDate();
				if (month >= 1 && month <= 9) {
					month = "0" + month;
				}
				if (strDate >= 0 && strDate <= 9) {
					strDate = "0" + strDate;
				}
				var currentdate = year + seperator1 + month + seperator1 + strDate;
				return currentdate;
			}
			//判断当前选择时间是否小于是指定时间
			function compareTime(beginTime, endTime) {
				beginTime = beginTime.replace(/-/g, '');
				beginTime = beginTime.replace(/ /g, '');
				beginTime = beginTime.replace(/:/g, '');
				endTime = endTime.replace(/-/g, '');
				endTime = endTime.replace(/ /g, '');
				endTime = endTime.replace(/:/g, '');
				if (parseFloat(beginTime) < parseFloat(endTime)) {
					return 0;
				}
				return 1;
			}
		</script>
	</body>

</html>
