<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>错题本</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/btlearn/common.css"/>
		<style type="text/css">
			.mui-bar-nav {
				z-index: 999;
			}
			#header:after {
				content: "";
				position: absolute;
				z-index: -1;
				left: 0;
			    right: 0;
			    top: 0;
			    bottom: 0;
			}
			.mui-bar-tab {
				height: 1rem;
				background-color: #F9F9F4;
			}
			.mui-bar-tab .mui-tab-item {
				height: 1rem;
			}
			.mui-bar-tab .mui-tab-item .mui-icon {
				font-size: 0.44rem;
				top: 0;
				margin-bottom: 0.04rem;
				pointer-events: none;
			}
			.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label {
				font-size: 0.24rem;
			}
		</style>
	</head>

	<body style="background: white;">
		<header id="header" class="mui-bar mui-bar-nav theme">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">错题本</h1>
			<a class="mui-icon mui-pull-right grade" @tap.stop="showTopPannel" v-cloak>{{perSeleted?(perSeleted.per_name||"学段"):"学段"}}<span class="mui-icon-arrowdown"></span></a>
			<transition name="slide-down">
				<div class="options-pannel mui-clearfix" v-show="showItem" v-cloak>
					<div v-for="(v, i) in per.list" class="radio-wrap">
						<label :class="{selected:v.per_code==per.selected}" @click="selectItem">
							<input type="radio" v-model="per.selected" name="item"  :value="v.per_code" />{{v.per_name||""}}
						</label>
					</div>
				</div>
			</transition>
		</header>
		
		<div class="mui-content">
			<div id="historyMenu" class="mui-control-content mui-active" style="height: 100%;">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view same-line-list sub-list" v-cloak>
							<li class="mui-table-view-cell navigate-right" v-for="(item,i) in list" :key="i" @tap="goDetail(item)">
								<div class="sub">
									{{item.sub_name}}
								</div>
								<span class="msg">{{item.count}}道错题</span>
							</li>
						</ul>
						<div class="list-end" v-if="!loading&&list.length==0" v-cloak>暂无错题</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<!---->
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		<script src="../../js/utils/publicProtocol.js"></script>
		<script src="../../js/utils/showMenu.js"></script>
		<!-- <script src="../../js/utils/echarts.min.js" ></script> -->
		<!-- <script src="../../js/utils/echarts-all.js"></script> -->
		<!-- <script src="../../js/echarts/echarts-en.min.js"></script> -->
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js"></script>
		<script src="../../js/libs/RSA/BigInt.js"></script>
		<script src="../../js/libs/RSA/RSA.js"></script>
		<script src="../../js/libs/encryption/RSAEncrypt.js"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/libs/encryption/signHmacSHA1.js'></script>
		<script src='../../js/libs/encryption/sortSign.js'></script>

		<script type="text/javascript" src="../../js/btlearn/common.js"></script>
		<script type="text/javascript">
			var self, index_code;
			
			var userInfo = store.get(window.storageKeyName.PERSONALINFO) || {};
			
			var mask = mui.createMask(function(){
				header.showItem = false;
			});
			
			mui.init();
			
			mui.plusReady(function() {
				self = plus.webview.currentWebview();
				
				var curPage = utils.getDataFromUrl(window.location.href);
				if (curPage && JSON.stringify(curPage) == '{}') { 
					index_code = self.preload.access.split('#')[1];
				} else {
					index_code = curPage.access.split('#')[1];
				}
				
				// 保存index_code
				store.set("zxkt_current_index_code", index_code);
				
				header.getPer();
				
			});
			
			//头部
			var header = new Vue({
				el: "#header",
				data: {
					per: {selected: 0, list: []},
					showItem: false
				},
				computed: {
					// 已选学段
					perSeleted: function() {
						var selected = this.per.list?filterArray(this.per.list, "per_code", this.per.selected)[0]:null;
						return selected;
					},
				},
				methods: {
					//显示头部选项
					showTopPannel: function() {
						if(this.showItem) {
							this.showItem = false;
							mask.close();
						}else{
							this.showItem = true;
							mask.show();
						}
					},
					// 获取学段
					getPer: function() {
						var _this = this;
						plus.nativeUI.showWaiting();
						postDataEncry(window.storageKeyName.INTERFACE_ZXKT + "/pub/resPer", {}, {
							index_code,
							user_code: userInfo.user_code,
						}, 2, function(res) {
							plus.nativeUI.closeWaiting();
							if(res.state=="ok") {
								var firstPer = res.data.list[0];
								var per_code = firstPer ? firstPer.per_code : "";
								_this.per = {
									selected: per_code,
									list: res.data.list,
								}
								
								_this.$nextTick(function () {
									historyMenu.getList();
								});
							}else{
								if(res.code!=404) mui.toast(res.msg);
							}
						});
					},
					//选择选项
					selectItem: function(){
						this.showItem = false;
						mask.close();
						
						this.$nextTick(function () {
							historyMenu.getList();
						});
					}
				}
			});
			
			var historyMenu = new Vue({
				el: '#historyMenu',
				data: {
					list: [],
					loading: true
				},
				methods: {
					getList: function() {
						var _this = this;
						_this.loading = true;
						plus.nativeUI.showWaiting();
						postDataEncry(window.storageKeyName.INTERFACE_ZXKT + "/mistake", {}, {
							per_code: header.per.selected,
							index_code,
							user_code: userInfo.user_code,
						}, 2, function(res) {
							_this.loading = false;
							plus.nativeUI.closeWaiting();
							if(res.state=="ok") {
								_this.list = res.data.sub_mis_take_count;
							} else {
								if(res.code!=404) mui.toast(res.msg);
							}
						});
					},
					goDetail: function(item) {
						if(item.count) {
							mui.openWindow({
								url:"cuotiben_detail.html",
								id: "bl-cuotiben-detail",
								extras: {
									sub_code: item.sub_code,
									per_code: header.per.selected,
									sub_name: item.sub_name
								},
								waiting: {
									autoShow: true
								}
							});
						}
					}
				}
			});
			
		</script>
	</body>

</html>
