<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../fonts/iconfont1.css" />
		<link rel="stylesheet" href="../../css/utils/MultiMedia.css" />
		<link rel="stylesheet" href="../../css/utils/preview.css" />
		<link rel="stylesheet" href="../../css/utils/audiopopover.css" />
		<style type="text/css">
			.contentCSS {
				margin-left: 15px;
				margin-right: 15px;
				font-size: 14px;
				color: #666;
			}

			.titleCSS {
				font-size: 18px;
				color: #000;
			}

			.name-timeCSS {
				font-size: 12px;
				color: #999;
			}

			.encName {
				margin-left: 15px;
				margin-right: 15px;
				font-size: 14px;
				color: #333;
			}

			.encTitle {
				font-size: 12px;
				color: #999;
			}

			.encSize {
				font-size: 12px;
				color: #3c9bfe;
			}

			.readPeople {
				font-size: 14px;
				color: #666;
			}

			.clickButton {
				margin-left: 5px;
				height: 18px;
				width: 40px;
				padding: 0 5px 5px 5px;
				font-size: 10px;
			}

			.display-inline {
				padding: 20px;
				display: inline-block;
			}

			.extral-file {
				padding-right: 10px;
			}

			.color_primary {
				color: #3c9bfe;
			}

			.prev-down {
				padding-left: 20px;
			}

			.prev-btn,
			.down-btn {
				margin-left: 20px;
			}

			.mui-btn-primary {
				border: 1px solid #3C9BFE;
				background-color: #3C9BFE;
			}

			.mui-btn-outlined.mui-btn-primary {
				color: #3C9BFE;
				background-color: transparent;
			}

			.mui-content {
				height: 100%;
				padding: 44px 0px 50px 0px;
				overflow: auto;
				background-color: #eaeaea;
			}

			div {
				word-break: break-all;
			}

			div p {
				word-break;
				: break-all;
			}

			.peopleImg {
				width: 50px;
				height: 40px;
				border-radius: 50%;
			}

			.mui-table-view-cell:after {
				height: 2px;
			}
		</style>
	</head>

	<body style="background-color: white;">
		<header class="mui-bar mui-bar-nav" id="tempVue">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">通知详情</h1>
			<a v-if="moreFlag>0" @click="revoke()" class="mui-pull-right" style="font-size: 14px;margin-top: 0px;">{{moreName}}</a>
		</header>
		<div class="mui-content" v-show="flag>0" id="noticeDetailData" style="background-color: white;">
			<button v-on:click.stop="saveTag()" type="button" class="down-btn" style="float: right;margin-right: 10px;margin-top: 7px;background: #00CFBD;border-color: #00CFBD;color: white;">保存</button>
			<input type="text" maxlength="10" v-model="tag" style="float: right;border: 1px solid gainsboro;margin-bottom: 0px;margin-top: 5px;margin-right: -10px;font-size: 14px;width: 150px;height: 35px;"
			 placeholder="请输入我的标签" />
			<p style="font-size: 14px;color: #666;float: right;margin-top: 15px;">我的标签：</p>
			<br /><br />
			<p align="center" class="titleCSS" style="font-size: 18px;color: #000;margin-top: 10px;">{{detailModel.NoticeTitle}}</p>
			<p align="center" class="name-timeCSS" style="font-size: 13px;color: #999;">{{detailModel.SendManName}} |
				{{detailModel.SendTime}}</p>
			<p class="contentCSS" style="font-size: 14px;color: #666;" v-html="detailModel.NoticeContent"></p>
			<template v-for="(extraFile,index) in detailModel.NoticeEncName" v-show="detailModel.NoticeEncName.length==0">
				<p class="encName" v-show="extraFile">附件:
					<a class="" style="font-size: 13px;color: #3c9bfe;" v-on:click="checkEnc(detailModel.NoticeEncAddr[index])">附件{{index+1}}</a>
				</p>
			</template>
			<p class="" style="height: 10px;background-color: #f2f2f2;"></p>
			<p class="titleCSS" style="font-size: 14px;color: #333;margin-top: 10px;margin-left: 10px;">接收列表</p>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" v-for="(replyModel,index) in detailModel.list">
					<div>
						<img class="mui-media-object mui-pull-left peopleImg" :src=replyModel.ReceiveManPic>
						<a class="" style="font-size: 14px;color: #666;">
							{{replyModel.ReceiveManName}}
							<a style="font-size: 14px;color: #666;float: right;">{{replyModel.ReadTime}}</a>
							<div class="chat_content_left">
								<p v-if="replyModel.IsRead ==1" style="color: #666;font-size: 13px; white-space:pre-wrap;">【已读】</p>
							</div>
						</a>
					</div>
				</li>
			</ul>
		</div>
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js"></script>
		<script src="../../js/libs/RSA/BigInt.js"></script>
		<script src="../../js/libs/RSA/RSA.js"></script>
		<script src="../../js/libs/encryption/RSAEncrypt.js"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/libs/encryption/signHmacSHA1.js'></script>
		<script src='../../js/libs/jquery.js'></script>
		<script src='../../js/libs/encryption/sortSign.js'></script>
		<!---->
		<script src="../../js/utils/publicProtocol.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src='../../js/utils/md5.js'></script>
		<script type="text/javascript">
			//获取个人信息
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log('personal:' + JSON.stringify(personal));
			var curPage = {
				flag: 0
			};
			mui.plusReady(function() {
				curPage = utils.getDataFromUrl(window.location.href);
				console.log('2222:' + JSON.stringify(curPage));
				noticeDetailData.pageFlag = curPage.flag;
				//获取详情
				getNoticeByReceiveId_sendId_Detail(curPage.flag);
			});
			var tempVue = new Vue({
				el: "#tempVue",
				data: {
					moreFlag: 0, //右上角是否显示，0不显示，1撤销
					moreName: '' //右上角显示名称
				},
				methods: {
					revoke: function() {
						console.log('revoke');
						var btnArray = ['取消', '确定'];
						mui.confirm('确定撤销吗？', '提醒', btnArray, function(e) {
							if (e.index == 1) {
								var comData = {
									noticeId: noticeDetailData.detailModel.NoticeId,
									index_code: curPage.access.split('#')[1],
									op_code: 'index'
								}
								postDataEncry(window.storageKeyName.INTERFACE_OA + 'notice/doSetNoticeUndo', {}, comData, 2,
									function(data) {
										if (data.code == 0 && data.data.Result == 1) {
											mui.toast("成功");
											tempVue.moreFlag = 0;
										}
									});
							}
						});
					}
				}
			});
			var noticeDetailData = new Vue({
				el: "#noticeDetailData",
				data: {
					tag: '', //我的标签
					pageFlag: curPage.flag, //0接收 1我发送的
					flag: 0,
					detailModel: '',
					content: ''
				},
				methods: {
					checkEnc: function(tempUrl) {
						console.log('tempUrl:' + tempUrl);
						var urlStr = encodeURI(tempUrl)
						plus.runtime.openURL(urlStr);
					},
					saveTag: function() {
						console.log('saveTag');
						if (noticeDetailData.tag != noticeDetailData.detailModel.Tag) {
							events.showWaiting();
							//
							var comData = {
								noticeId: noticeDetailData.detailModel.NoticeId, //通知ID
								noticeTag: noticeDetailData.tag, //标签
								index_code: curPage.access.split('#')[1],
								op_code: 'index'
							}
							var url = '';
							if (curPage.flag == 1) { //我发送的
								url = window.storageKeyName.INTERFACE_OA + 'notice/doSetSendNoticeTag';
							} else { //接收的
								comData.receiveManId = personal.user_code; //阅读人ID
								url = window.storageKeyName.INTERFACE_OA + 'notice/doSetReceiveNoticeTag';
							}
							postDataEncry(url, {}, comData, 2, function(data) {
								events.closeWaiting();
								console.log('修改接收的通知标签:' + JSON.stringify(data));
								if (data.code == 0 && data.data.Result == 1) {
									mui.toast("保存成功");
									noticeDetailData.detailModel.Tag = noticeDetailData.tag;
								}else{
									mui.toast(data.msg);
								}
							});
						}else{
							mui.toast('请勿重复保存标签');
						}
					}
				}
			});

			//获取详情
			var getNoticeByReceiveId_sendId_Detail = function(flag) {
				events.showWaiting();
				var comData0 = {};
				var url;
				if (flag == 0) { //15.通过通知接收表ID获取通知
					comData0 = {
						noticeManId: curPage.NoticeManId, //协同事务接收表ID
						index_code: curPage.access.split('#')[1],
						op_code: 'index'
					}
					url = window.storageKeyName.INTERFACE_OA + 'notice/getNoticeByReceiveId';
				} else { //14.通过通知ID获取通知
					comData0 = {
						noticeId: curPage.NoticeId, //协同事务ID
						index_code: curPage.access.split('#')[1],
						op_code: 'index'
					}
					url = window.storageKeyName.INTERFACE_OA + 'notice/getNoticeById';
				}
				// 获取收到的协同事务列表（接收人为单人）
				postDataEncry(url, {}, comData0, 2,
					function(data) {
						events.closeWaiting();
						console.log('data:' + JSON.stringify(data));
						if (data.code == 0) {
							// var localSkey = utils.getDataFromUrl(window.location.href);
							if (data.data.NoticeEncName) {
								data.data.NoticeEncName = data.data.NoticeEncName.split("|");
								data.data.NoticeEncAddr = data.data.NoticeEncAddr.split("|");
							}
							noticeDetailData.flag = 1;
							getUserInfo(data.data.list, curPage.access.split('#')[1], 'ReceiveManId','ReceiveManPic', function(callData) {
								console.log('callData:' + JSON.stringify(callData));
								//如果是接收的，判断是否右上角有功能
								if (flag == 1) {
									console.log('11111');
									// 进程处于“新建”且 状态处于“发出”时 显示撤销按钮
									if (data.data.Progress == 1 && data.data.Status == 1) {
										console.log('222222');
										tempVue.moreFlag = 1;
										tempVue.moreName = '撤回';
									}
								}
								noticeDetailData.tag = data.data.Tag;
								noticeDetailData.detailModel = data.data;
								console.log('noticeDetailData.detailModel:' + JSON.stringify(noticeDetailData.detailModel));
								if (data.data.ReadStatus == 2) { //未读
									//9.阅读通知
									var comData1 = {
										noticeId: data.data.NoticeId, //通知ID
										receiveManId: personal.user_code, //阅读人ID
										index_code: curPage.access.split('#')[1],
										op_code: 'index'
									}
									//9.阅读通知
									postDataEncry(window.storageKeyName.INTERFACE_OA + 'notice/doSetNoticeRead', {}, comData1, 2,
										function(data) {

										});
								}
								// getUserInfo(data.data.list,curPage.access.split('#')[1]);
							});
						} else {
							mui.toast(data.msg);
						}
					});
			}
		</script>
	</body>

</html>
