<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<style type="text/css">
			[v-cloak] {
				display: none;
				display:none !important;
			}
			
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id="tempHead">
			<template v-if="headNeedOrder == 0">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left">
					<span style="font-size: 17px;font-weight: 100;">请选择接收人</span>
				</a>
				<!-- <h1 class="mui-title">请选择接收人</h1> -->
				<a @click.stop="sure()" class="mui-pull-right" style="font-size: 14px;margin-top: 0px;">确定</a>
				<a @click.stop="returnSelectAll()" class="mui-pull-right" style="font-size: 14px;margin-top: 0px;margin-right: 35px;">反选</a>
				<a @click.stop="selectAll()" class="mui-pull-right" style="font-size: 14px;margin-top: 0px;margin-right: 20px;">全选</a>
			</template>
			<template v-else-if="headNeedOrder == 1">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">请选择接收人</h1>
				<a @click.stop="sure()" class="mui-pull-right" style="font-size: 14px;margin-top: 0px;">确定</a>
			</template>
		</header>
		<div v-cloak class="mui-content" style="margin-top: -14px;" id="contentData">
			<ul class="mui-table-view">
			    <li class="mui-table-view-cell" style="padding: 5px 0 5px 0;" v-for="peopleModel in peopleArray" @click="selectPeople(peopleModel)">
					<div class="mui-input-row mui-checkbox mui-left">
					  <label style="font-size: 14px;">{{peopleModel.user_name}}({{peopleModel.dpt_name}})</label>
					  <template v-if="peopleModel.selectFlag == 0">
						  <input name="checkbox1" value="Item 1" type="checkbox">
					  </template>
					  <template v-if="peopleModel.selectFlag == 1">
						  <input name="checkbox2" value="Item 2" type="checkbox" checked>
					  </template>
					</div>
				</li>
			</ul>
		</div>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<!---->
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/publicProtocol.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		<!--  -->
		<script src='../../js/libs/encryption/signHmacSHA1.js'></script>
		<script src='../../js/libs/crypto-js/require.js'></script>

		<script type="text/javascript">
			mui.init();
			//获取个人信息
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log('personal:' + JSON.stringify(personal));
			var tempHead = new Vue({
				el: "#tempHead",
				data: {
					headNeedOrder:9,//
				},
				methods: {
					sure: function() {
						console.log('sure');
						if (contentData.contentNeedOrder == 1) {
							if (contentData.orderArray.length==0) {
								mui.toast('请选择接收人');
							} else{
								mui.fire(plus.webview.currentWebview().opener(), 'selectPeople', {
									peopleArray: contentData.orderArray
								});
								mui.back();
							}
						}else{
							var tempArray = [];
							for (var i = 0; i < contentData.peopleArray.length; i++) {
								var tempM = contentData.peopleArray[i];
								if (tempM.selectFlag == 1) {
									tempArray.push(tempM);
								}
							}
							console.log('选择的接收人列表:'+JSON.stringify(tempArray));
							if (tempArray.length==0) {
								mui.toast('请选择接收人');
							} else{
								tempArray = tempArray.unique('user_code');
								mui.fire(plus.webview.currentWebview().opener(), 'selectPeople', {
									peopleArray: tempArray
								});
								mui.back();
							}
						}
					},
					selectAll:function(){
						for (var i = 0; i < contentData.peopleArray.length; i++) {
							var tempM = contentData.peopleArray[i];
							tempM.selectFlag = 1;
						}
					},
					returnSelectAll:function(){
						for (var i = 0; i < contentData.peopleArray.length; i++) {
							var tempM = contentData.peopleArray[i];
							if (tempM.selectFlag == 0) {
								tempM.selectFlag = 1;
							} else if (tempM.selectFlag == 1){
								tempM.selectFlag = 0;
							}
						}
					}
				}
			});
			//vue数据
			var contentData = new Vue({
				el: "#contentData",
				data: {
					contentNeedOrder:9,//
					orderArray:[],//当needOrder==1时，需要按选择的人顺序，塞入的人员数组
					defaltSelect:[],//从上个界面传过来的已选接收人
					peopleArray:[]//接口得到的接收人列表
				},
				methods:{
					selectPeople:function(model){
						if (model.selectFlag == 0) {
							if (contentData.contentNeedOrder == 1) {
								model.selectFlag = 1;
								contentData.orderArray.push(model);
							}else{
								for (var i = 0; i < contentData.peopleArray.length; i++) {
									var tempM = contentData.peopleArray[i];
									if (tempM.user_code == model.user_code) {
										tempM.selectFlag = 1;
									}
								}
							}
						} else{
							if (contentData.contentNeedOrder == 1) {
								model.selectFlag = 0;
								for (var i = 0; i < contentData.orderArray.length; i++) {
									var tempM = contentData.orderArray[i];
									if (tempM.user_code == model.user_code&&tempM.dpt_code == model.dpt_code) {
										contentData.orderArray.splice(i,1);
									}
								}
							}else{
								for (var i = 0; i < contentData.peopleArray.length; i++) {
									var tempM = contentData.peopleArray[i];
									if (tempM.user_code == model.user_code) {
										tempM.selectFlag = 0;
									}
								}
							}
						}
					}
				}
			});
			mui.plusReady(function() {
				curPage = utils.getDataFromUrl(window.location.href);
				console.log('2222:' + JSON.stringify(curPage));
				// curPage.needOrder:1,//1需要按照选择人的顺便给值，无全选、反选，0在选择结束后，按现有数组顺序塞值，有全选、反选
				contentData.defaltSelect = curPage.selectPeople;
				tempHead.headNeedOrder = curPage.needOrder;
				contentData.contentNeedOrder = curPage.needOrder;
				// 获取接收人列表
				getPeopleList();
			});

			// 获取接收人列表
			var getPeopleList = function() {
				events.showWaiting();
				var tempServ  = 0;
				if(curPage.serviced==0||curPage.serviced==1){
					tempServ = curPage.serviced;
				}else{
					tempServ = -1;
				}
				var temp = curPage.access.split('#');
				var comData = {
					serv_stat:tempServ,//
					unit_code: personal.unit_code, //
					index_code: temp[1] //
				}
				//获取接收人列表
				postDataEncry(window.storageKeyName.INTERFACE_HR_SUB + 'dptUserOfApp', {}, comData, 1, function(
					data) {
					if (data.code == 0) {
						try{
							// var tempCode = [];
							for (var i = 0; i < data.data.list.length; i++) {
								var tempM = data.data.list[i];
								// tempCode.push(tempM.user_code);
								tempM.selectFlag = 0;
								for (var a = 0; a < contentData.defaltSelect.length; a++) {
									var tempM1 = contentData.defaltSelect[a];
									if (tempM.user_code == tempM1.user_code) {
										tempM.selectFlag = 1;
									}
								}
							}
							// var tempcodes = tempCode.join(',');
							// getUserInfo(data.data.list,curPage.access.split('#'));
							contentData.peopleArray = [].concat(data.data.list);
							events.closeWaiting();
						}catch(e){
							events.closeWaiting()
						}
					}else{
						events.closeWaiting()
						mui.toast(data.msg);
					}
				});
			}
			
			// 3.2:获取指定用户信息
			// var getUserInfo = function(codes) {
			// 	var temp = curPage.access.split('#');
			// 	var comData = {
			// 		user_codes:codes,
			// 		index_code: temp[1] //
			// 	}
			// 	//3.2:获取指定用户信息
			// 	postDataEncry(window.storageKeyName.INTERFACE_SSO_SUB + 'user/getUserInfo', {}, comData, 2, function(data) {
			// 		events.closeWaiting();
			// 		if (data.code == 0) {
			// 			for(var i = 0; i < contentData.peopleArray.length; i++) {
			// 				var tempPeo = contentData.peopleArray[i];
			// 				for(var a = 0; a < data.data.list.length; a++) {
			// 					var tempUser = data.data.list[a];
			// 					if(tempPeo.user_code == tempUser.user_code){
			// 						tempPeo.user_img = tempUser.img_url;
			// 					}
			// 				}
			// 			}
			// 		}else{
			// 			mui.toast(data.msg);
			// 		}
			// 	});
			// }
			
			//给数组去重
			Array.prototype.unique = function(key) {
				var arr = this;
				var n = [arr[0]];
				for(var i = 1; i < arr.length; i++) {
					if(key === undefined) {
						if(n.indexOf(arr[i]) == -1) n.push(arr[i]);
					} else {
						inner: {
							var has = false;
							for(var j = 0; j < n.length; j++) {
								if(arr[i][key] == n[j][key]) {
									has = true;
									break inner;
								}
							}
						}
						if(!has) {
							n.push(arr[i]);
						}
					}
				}
				return n;
			}
		</script>
	</body>
</html>
