<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../fonts/iconfont1.css" />
		<link rel="stylesheet" href="../../css/utils/MultiMedia.css" />
		<link rel="stylesheet" href="../../css/utils/preview.css" />
		<link rel="stylesheet" href="../../css/utils/audiopopover.css" />
		<style type="text/css">
			[v-cloak] {
				visibility: hidden;
				display:none !important;
			}
			.contentCSS {
				margin-left: 15px;
				margin-right: 15px;
				font-size: 14px;
				color: #666;
			}

			.titleCSS {
				font-size: 18px;
				color: #000;
			}

			.name-timeCSS {
				font-size: 12px;
				color: #999;
			}

			.encName {
				margin-left: 15px;
				margin-right: 15px;
				font-size: 14px;
				color: #333;
			}

			/* .encTitle {
				font-size: 12px;
				color: #999;
			} */

			/* .encSize {
				font-size: 12px;
				color: #3c9bfe;
			} */

			/* .readPeople {
				font-size: 14px;
				color: #666;
			} */

			/* .clickButton {
				margin-left: 5px;
				height: 18px;
				width: 40px;
				padding: 0 5px 5px 5px;
				font-size: 10px;
			} */

			/* .display-inline {
				padding: 20px;
				display: inline-block;
			} */

			/* .extral-file {
				padding-right: 10px;
			} */

			/* .color_primary {
				color: #3c9bfe;
			} */

			/* .prev-down {
				padding-left: 20px;
			} */

			.prev-btn,
			.down-btn {
				margin-left: 20px;
			}

			/* .mui-btn-primary {
				border: 1px solid #3C9BFE;
				background-color: #3C9BFE;
			} */

			/* .mui-btn-outlined.mui-btn-primary {
				color: #3C9BFE;
				background-color: transparent;
			} */

			/* .mui-content {
				height: 100%;
				padding: 44px 0px 50px 0px;
				overflow: auto;
				background-color: #eaeaea;
			} */

			div {
				word-break: break-all;
			}

			div p {
				word-break;
				: break-all;
			}

			.peopleImg {
				width: 50px;
				height: 40px;
				border-radius: 50%;
			}

			/* .mui-table-view-cell:after {
				height: 2px;
			} */

			.MultiMediaShow {
				display: block;
				margin-top: -50px;
			}

			.MultiMediaHidden {
				display: none;
			}
			
			.mui-table-view-cell>a:not(.mui-btn){
				    white-space: inherit !important;
			}
		</style>
	</head>

	<body style="background-color: white;">
		<header class="mui-bar mui-bar-nav" id="tempVue">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title" style="left: 100px;right: 100px;">事务详情</h1>
			<a  @click="addUsers()" v-if="moreFlag>0"  class="mui-pull-right" style="font-size: 14px;margin-top: 0px;margin-left: 15px;"><span class="mui-icon mui-icon-personadd-filled"></span></a>
			<a  @click="revoke()" v-if="moreFlag>0" class="mui-pull-right" style="font-size: 14px;margin-top: 0px;">{{moreName}}</a>
		</header>
		<div class="mui-content" id="noticeDetailData" v-cloak style="background-color: white;">
			<template v-if="pageFlag==1||detailModel.NoticeStatus==2||detailModel.NoticeStatus==3||detailModel.NoticeProgress==3">
				<button v-on:click.stop="saveTag()" type="button" class="down-btn" style="float: right;margin-right: 10px;margin-top: 7px;background: #00CFBD;border-color: #00CFBD;color: white;">保存</button>
				<input maxlength="10" type="text" v-model="tag" style="float: right;border: 1px solid gainsboro;margin-bottom: 0px;margin-top: 5px;margin-right: -10px;font-size: 14px;width: 150px;height: 35px;"
				 placeholder="请输入我的标签" />
			</template>
			<p style="font-size: 14px;color: #666;float: right;margin-top: 15px;">我的标签：</p>
			<br /><br />
			<p align="center" class="titleCSS" style="font-size: 18px;color: #000;margin-top: 10px;">{{detailModel.NoticeTitle}}</p>
			<p align="center" class="name-timeCSS" style="font-size: 13px;color: #999;">{{detailModel.SendManName}} |
				{{detailModel.SendTime}}</p>
			<p class="contentCSS" style="font-size: 14px;color: #666;" v-html="detailModel.NoticeContent">{{detailModel.NoticeContent}}</p>
			<template v-for="(extraFile,index) in detailModel.NoticeEncName" v-show="detailModel.NoticeEncName.length==0">
				<p class="encName" v-show="extraFile">附件:
					<a class="" style="font-size: 13px;color: #3c9bfe;" v-on:click="checkEnc(detailModel.NoticeEncAddr[index])">附件{{index+1}}</a>
				</p>
			</template>
			<template v-if="detailModel.list&&detailModel.list.length>0">
				<p class="" style="height: 10px;background-color: #f2f2f2;"></p>
				<p class="titleCSS" style="font-size: 14px;color: #333;margin-top: 10px;margin-left: 10px;">回复列表</p>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell no-bgc" v-for="(replyModel,index) in detailModel.list">
						<div>
							<img class="mui-media-object mui-pull-left peopleImg" :src=replyModel.ReceiveManPic>
							<a class="" style="font-size: 14px;color: #666;">
								{{replyModel.ReceiveManName}}
								<a style="font-size: 14px;color: #666;float: right;">{{replyModel.ReplyTime}}</a>
								<div class="chat_content_left" v-show="replyModel.ReplyContent.length>0">
									<p style="color: #666;font-size: 13px; white-space:pre-wrap;">{{replyModel.ReplyContent}}</p>
								</div>
								<template v-for="(extraFile,indexEnc) in replyModel.EncAddr.split('|')" v-show="replyModel.EncAddr.length!=0">
									<p style="font-size: 13px;color: #333;margin-top: 10px;" v-show="extraFile">附件:
										<a class="" style="font-size: 13px;color: #3c9bfe;" v-on:click="checkEnc(replyModel.EncAddr.split('|')[indexEnc])">附件{{indexEnc+1}}</a>
									</p>
								</template>
							</a>
						</div>
					</li>
				</ul>
			</template>
		</div>
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js"></script>
		<script src="../../js/libs/RSA/BigInt.js"></script>
		<script src="../../js/libs/RSA/RSA.js"></script>
		<script src="../../js/libs/encryption/RSAEncrypt.js"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/libs/encryption/signHmacSHA1.js'></script>
		<script src='../../js/libs/jquery.js'></script>
		<script src='../../js/libs/encryption/sortSign.js'></script>
		<script src="../../js/utils/publicProtocol.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src='../../js/utils/md5.js'></script>
		<script src="../../js/utils/cryption.js"></script>
		<script src="../../js/cloud/CloudFileUtil.js"></script>
		<script type="text/javascript">
			window.addEventListener('selectPeople', function(data) {
				let beforeSelectPeople=noticeDetailData.beforeSelectPeople
				let selectPeople=data.detail.peopleArray
				noticeDetailData.selectPeople = selectPeople;
				let repeatUsers=[];
				let afterSelectPeople=[].concat(selectPeople) 
				beforeSelectPeople.map(aItem=>{
					afterSelectPeople.map((item,index)=>{
					  if(item.user_code===aItem){
						repeatUsers.push(item.user_name)
						afterSelectPeople.splice(index,1)
					  }
					})
				  })
				let receiveManIds=[];
			    let receiveManCodes=[];
			    let receiveManNames=[];
			    let receiveManPics=[];
				afterSelectPeople.map(aItem=>{
					receiveManIds.push(aItem.user_code)
					receiveManCodes.push("")
					receiveManNames.push(aItem.user_name)
					receiveManPics.push(aItem.user_img?aItem.user_img:'')
				})
				// console.log("repeatUsers" + JSON.stringify(repeatUsers))
				// console.log("afterSelectPeople: " + JSON.stringify(afterSelectPeople));
				var btnArray = ['取消', '确定'];
				let content="";
				if(afterSelectPeople.length>0){
					if(repeatUsers.length>0){
						content=`<div style="text-align: left">
						<p>以下人员已在在当前事务中，系统为您自动排除:</p>
						<div><p style="font-size:12;font-weight:600">${repeatUsers.join(',')}</p></div>
						<div><p>以下人员将作为新增人员添加到当前事务中:</p></div>
						<div><p style="font-size:12;font-weight:600;color:#000">${receiveManNames.join(',')}</p></div>
						</div>`
					}else{
						content=`<div style="text-align: left">
						<div><p>以下人员将作为新增人员添加到当前事务中:</p></div>
						<div><p style="font-size:12;font-weight:600;color:#000">${receiveManNames.join(',')}</p></div>
						</div>`
					}
					
					mui.confirm(content, '提醒', btnArray, function(e) {
						if (e.index == 1) {
							events.showWaiting();
							 var comData = {
							  noticeId: noticeDetailData.detailModel.NoticeId,
							  receiveManIds:receiveManIds,
							  receiveManCodes:receiveManCodes,
							  receiveManNames:receiveManNames,
							  receiveManPics:receiveManPics,
							  index_code: curPage.access.split('#')[1],
							 }
							 console.log("comData: " + JSON.stringify(comData));
							postDataEncry(window.storageKeyName.INTERFACE_OA + 'cooperateNotice/addNoticeMan', {}, comData, 2,
								function(data) {
									events.closeWaiting();
									if (data.code == 0 && data.data.Result == 1) {
										mui.toast("成功");
										getNoticeByReceiveId_sendId_Detail();
									}
							});
						}
					},"div");
				}else{
					mui.confirm(`<div style="font-size:14px;text-align: left"><p>选择的人员全部在当前事务中，请勿重复添加!</p></div>`, '提醒', btnArray, function(e) {
					},"div");
				}
			});
			
			var tempVue = new Vue({
				el: "#tempVue",
				data: {
					moreFlag: 0, //右上角是否显示，0不显示，1撤销，2结束
					moreName: '' ,//右上角显示名称
					addUser: 0,//是否显示添加人员图标 0 不显示  1 显示
				},
				methods: {
					revoke: function() {
						var btnArray = ['取消', '确定'];
						if (tempVue.moreFlag == 1) {
							mui.confirm('确定撤销吗？', '提醒', btnArray, function(e) {
								if (e.index == 1) {
									events.showWaiting();
									var comData = {
										noticeId: noticeDetailData.detailModel.NoticeId,
										index_code: curPage.access.split('#')[1],
										op_code: 'index'
									}
									postDataEncry(window.storageKeyName.INTERFACE_OA + 'cooperateNotice/doSetNoticeUndo', {}, comData, 2,
										function(data) {
											events.closeWaiting();
											if (data.code == 0 && data.data.Result == 1) {
												mui.toast("成功");
												tempVue.moreFlag = 0;
											}
										});
								}
							});
						} else {
							mui.confirm('确定结束吗？', '提醒', btnArray, function(e) {
								if (e.index == 1) {
									events.showWaiting();
									var comData = {
										noticeId: noticeDetailData.detailModel.NoticeId,
										index_code: curPage.access.split('#')[1],
										op_code: 'index'
									}
									postDataEncry(window.storageKeyName.INTERFACE_OA + 'cooperateNotice/doSetNoticeClose', {}, comData, 2,
										function(data) {
											events.closeWaiting();
											if (data.code == 0 && data.data.Result == 1) {
												mui.toast("成功");
												tempVue.moreFlag = 0;
											}
										});
								}
							});
						}
					},
					addUsers:function(){
						var data = {
							flag: 1, //1 事务
							needOrder:0,
							access:curPage.access,
							selectPeople: noticeDetailData.selectPeople
						}
						utils.mOpenWithData("../../html/oa/selectPeople.html", data);
					}
				}
			});
			var noticeDetailData = new Vue({
				el: "#noticeDetailData",
				data: {
					dataFlag: 0, //是否加载完
					tag: '', //我的标签
					pageFlag: 1, //1我发送的
					detailModel: '',
					content: '',
					selectPeople: [],
					beforeSelectPeople:[]
				},
				methods: {
					checkEnc: function(tempUrl) {
						console.log('tempUrl:' + tempUrl);
						var getDownToken = {
							appId: window.storageKeyName.QN_APPID, //int 必填 项目id
							appKey: window.storageKeyName.QN_APPKEY,
							urls: [tempUrl] //array 必填 需要获取下载token文件的路径
						}
						var getDownTokenUrl = window.storageKeyName.QNGETDOWNTOKENFILE;
						CloudFileUtil.getQNDownToken(getDownTokenUrl, getDownToken, function(data) {
							console.log('七牛下载token ' + JSON.stringify(data));
							var urlStr = encodeURI(data.Data[0].Value)
							plus.runtime.openURL(urlStr);
						}, function(xhr, type, errorThrown) {
							mui.toast('获取文件失败 ' + type);
						});
					},
					saveTag: function(showT) {
						console.log('saveTag');
						if (noticeDetailData.tag != noticeDetailData.detailModel.Tag) {
							events.showWaiting();
							//55.修改发送的协同事务标签
							var comData = {
								noticeId: noticeDetailData.detailModel.NoticeId, //通知ID
								noticeTag: noticeDetailData.tag, //标签
								index_code: curPage.access.split('#')[1],
								op_code: 'index'
							} 
							var	url = window.storageKeyName.INTERFACE_OA + 'cooperateNotice/doSetSendNoticeTag';
							//55.修改发送的协同事务标签
							postDataEncry(url, {}, comData, 2, function(data) {
								events.closeWaiting();
								console.log('55.修改发送的协同事务标签:' + JSON.stringify(data));
								if (data.code == 0 && data.data.Result == 1) {
									noticeDetailData.detailModel.Tag = noticeDetailData.tag;
									mui.toast("保存成功");
								}else{
									mui.toast(data.msg);
								}
							});
						}else{
							if(showT!=1){
								mui.toast('请勿重复保存标签');
							}
							
						}
					},
				}
			});
			
			//获取个人信息
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log('personal:' + JSON.stringify(personal));
			var sendFlag = 0; //0是未按确定按钮，1按确定按钮，防止多次触发
			mui.plusReady(function() {
				curPage = utils.getDataFromUrl(window.location.href);
				console.log('2222:' + JSON.stringify(curPage));
				//获取详情
				getNoticeByReceiveId_sendId_Detail();
				noticeDetailData.dataFlag = 1;
			});


			//获取详情
			var getNoticeByReceiveId_sendId_Detail = function() {
				events.showWaiting();
				var comData0 = {};
				var url;
				var	comData0 = {
						noticeId: curPage.NoticeId, //协同事务ID
						index_code: curPage.access.split('#')[1],
						op_code: 'index'
					}
				var	url = window.storageKeyName.INTERFACE_OA + 'cooperateNotice/getNoticeById';
				postDataEncry(url, {}, comData0, 2,
					function(data) {
						events.closeWaiting();
						console.log('data:' + JSON.stringify(data));
						if (data.code == 0) {
							// var localSkey = utils.getDataFromUrl(window.location.href);
							if (data.data.NoticeEncName) {
								data.data.NoticeEncName = data.data.NoticeEncName.split("|");
								data.data.NoticeEncAddr = data.data.NoticeEncAddr.split("|");
							}
							getUserInfo(data.data.list, curPage.access.split('#')[1], 'ReceiveManId','ReceiveManPic', function(callData) {
								console.log('callData:' + JSON.stringify(callData));
								noticeDetailData.tag = data.data.Tag; 
								noticeDetailData.detailModel = data.data;
								let beforeSelectPeople=[]
								for (var i = 0; i < callData.length; i++) {
									beforeSelectPeople.push(callData[i].ReceiveManId)
								}
								noticeDetailData.beforeSelectPeople=beforeSelectPeople;
								console.log('noticeDetailData.detailModel:' + JSON.stringify(noticeDetailData.detailModel));
								
								if (data.data.NoticeProgress == 1 && data.data.NoticeStatus == 1) {
									tempVue.moreFlag = 1;
									tempVue.moreName = '撤销';
								} else if ((data.data.NoticeProgress == 2 || data.data.NoticeProgress == 3) && data.data.NoticeStatus == 1) { // 进程处于 “处理中”或“完毕”  且 状态处于 “发出”  显示结束按钮
									tempVue.moreFlag = 2;
									tempVue.moreName = '结束';
								}
								
								 if ( data.data.NoticeStatus==1 ) {//状态处于 “发出”  与进程无关 显示新增人员按钮
									tempVue.addUser = 1;
								 }else{
									tempVue.addUser = 0;
								 }
								
								//53.阅读发出的协同事务
								var comData1 = {
									noticeId: data.data.NoticeId, //通知ID
									index_code: curPage.access.split('#')[1],
									op_code: 'index'
								}
								//53.阅读发出的协同事务
								postDataEncry(window.storageKeyName.INTERFACE_OA + 'cooperateNotice/doSetSendNoticeRead', {}, comData1, 2,function(data) {});
							});
						} else {
							mui.toast(data.msg);
						}
					});
			}
		</script>
	</body>

</html>
