<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<style type="text/css">
			[v-cloak] {
				display:none !important;
			}

			.circular-square {
				border-radius: 10%;
				width: 30px;
				height: 30px;
			}
			.index-bt{
				background:#FFFFFF;
				font-weight: 600;
				padding-left: 15px;
				margin: 0;
				font-size: 15px;
				margin-top: 10px;
			}
			
			.mui-grid-view.mui-grid-9 {
			     border-top: 0px solid #eee; 
			     border-left: 0px solid #eee;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id="tempHead">
			<a v-cloak v-if="showBack==2" @click="clickLeftImg" class="mui-icon mui-pull-left">
				<img v-cloak :src=headImg style="width: 26px;height: 26px;border-radius: 50%;" />
			</a>
			<a v-cloak v-if="showBack==1" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 v-cloak class="mui-title">{{headTitle}}</h1>
		</header>
		<div v-cloak class="mui-content" style="margin-top: 0px;background-color: #FFFFFF;" id="contentData">
			<div v-if="baseinfo_icons.length>0" class="mui-row">
				<div class="index-bt">基本信息</div>
				<ul v-cloak class="mui-table-view mui-grid-view mui-grid-9" style="background-color: white;padding-left: 7px;margin-top: 0px;">
					<li v-cloak v-for="model in baseinfo_icons" class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;padding:10px 5px">
						<a href="#" @click="clickFunction(model)">
							<img class="circular-square" :src=model.icon />
							<div class="mui-media-body divNameCss">{{model.name}}</div>
						</a>
					</li>
				</ul>
			</div>
			<div v-if="select_icons.length>0" class="mui-row">
				<div class="index-bt">住宿分配与查询</div>
				<ul v-cloak class="mui-table-view mui-grid-view mui-grid-9" style="background-color: white;padding-left: 7px;margin-top: 0px;">
					<li v-cloak v-cloak v-for="model in select_icons" class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;padding:10px 5px">
						<a href="#" @click="clickFunction(model)">
							<img class="circular-square" :src=model.icon />
							<div class="mui-media-body divNameCss">{{model.name}}</div>
						</a>
					</li>
				</ul>
			</div>
			<div v-if="daily_icons.length>0" class="mui-row">
				<div class="index-bt">日常记录</div>
				<ul v-cloak class="mui-table-view mui-grid-view mui-grid-9" style="background-color: white;padding-left: 7px;margin-top: 0px;">
					<li v-cloak v-cloak v-for="model in daily_icons" class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;padding:10px 5px">
						<a href="#" @click="clickFunction(model)">
							<img class="circular-square" :src=model.icon />
							<div class="mui-media-body divNameCss">{{model.name}}</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/publicProtocol.js"></script>
		<script src="../../js/utils/showMenu.js"></script>
		<!---->
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		
		<script type="text/javascript">
			mui.init();
			var curPage = {};
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			var tempHead = new Vue({
				el: "#tempHead",
				data: {
					headTitle: '',
					showBack:0,
					headImg: setImg(personal.img_url, 9)
				},
				methods: {
					clickLeftImg: function() {
						appPay.openMenu();
					}
				}
			});
			//vue数据
			var contentData = new Vue({
				el: "#contentData",
				data: {
					baseinfo_icons:[],//基本信息数组 
					select_icons:[],// 住宿分配与查询数组 
					daily_icons:[],// 日常记录数组
				},
				methods: {
					clickFunction: function(model) {
						console.log('index:' + JSON.stringify(model));
						utils.mOpenWithData(model.href, model);
					}
				},
			});
			
			
			mui.plusReady(function() {
				curPage = utils.getDataFromUrl(window.location.href);
				tempHead.headTitle = curPage.name;
				if(curPage&&JSON.stringify(curPage)=='{}'){//前四个页面时，不显示返回按钮
					var ws = plus.webview.currentWebview();
					if (ws.preload) {
						curPage = ws.preload;
						tempHead.headTitle = ws.preload.name;
						let list=ws.preload.childList
						list.map(function(item){
							if('schapp_Dorm_Info'==item.url){
								contentData.baseinfo_icons.push(item)
							}
							
							if('schapp_Dorm_Classes'==item.url||
								'schapp_Dorm_Select'==item.url||
								'schapp_Dorm_EmptyBed'==item.url||
								'schapp_Dorm_EmptyRoom'==item.url
								){
								contentData.select_icons.push(item)
							}
							
							if('schapp_Dorm_Calle'==item.url||
								'schapp_Dorm_Attendance'==item.url||
								'schapp_Dorm_Action'==item.url||
								'schapp_Dorm_Health'==item.url||
								'schapp_Dorm_Evaluation'==item.url
							){
								contentData.daily_icons.push(item)
							}
						})
						console.log("contentData.baseinfo_icons: " + JSON.stringify(contentData.baseinfo_icons));
						console.log("contentData.select_icons: " + JSON.stringify(contentData.select_icons));
						console.log("contentData.daily_icons: " + JSON.stringify(contentData.daily_icons));
					}
					if (ws.preload.index == 0) {
						tempHead.showBack = 2;
					}
				}else{
					tempHead.showBack = 1;//更多页面打开时，显示返回按钮
				}
			});
		</script>
	</body>

</html>
