<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<style type="text/css">
			[v-cloak] {
				display:none !important;
			}

			.circular-square {
				border-radius: 50%;
				width: 56px;
				height: 56px;
			}
			
			
			.aCss {
				font-size: 15px;
				color: #333;
				width: 5rem;
			}
			
			.icon-right {
				position: fixed;
				float: right;
				font-size: 14px;
				margin-top: 11px;
				right: 5%;
			}
			
			.mui-input-row label~input,.mui-input-row label~select, .mui-input-row label~textarea ,
			input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
				color: #999;
				/* placeholder字体大小  */
				font-size: 14px;
			}
			
			.line {
				right: 0;
				bottom: 0;
				left: 0;
				height: 1px;
				content: '';
				-webkit-transform: scaleY(.5);
				transform: scaleY(.5);
				background-color: #e4e4e4;
			}
			
			.mui-input-row:after {
				height: 0px;
			}
			
			.mui-input-row {
				margin:0.3125rem 0;
			}
			
			.mui-input-row label {
			    font-family: 'Helvetica Neue',Helvetica,sans-serif;
			    line-height: 1.1;
			    float: left;
			    width: 30%;
			    padding: 11px 15px;
			}
			
			.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea {
			    float: right;
			    width: 68%;
				margin-right: 2%;
			    margin-bottom: 0;
			    padding-left: 0.625rem;
			    border: 0;
			}
			
			.mui-dtpicker-header button:last-child {
			    background-color: #00CFBD;
				border: #00CFBD;
			}
			
			.add-item{
				width: 96% !important;
				margin: 0 2%;
				font-size: 16px;
				color: #FFF;
				background-color: #00CFBD;
				border: 1px solid #00CFBD;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id="tempHead">
			<a v-if="showBack==1" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 v-cloak class="mui-title">{{headTitle}}</h1>
			<a @click="submit()" class="mui-pull-right" style="font-size: 0.875rem">确定</a>
		</header>
		<div v-cloak class="mui-content" style="margin-top: 0px;background-color: #FFFFFF;" id="contentData">
			<div v-cloak class="mui-input-row">
				<label class="aCss">采购人</label>
				<input type="text" maxlength="20" v-model="formData.purchasingManName" placeholder="请输入采购人">
			</div>
			<div class="line"></div>
			<div v-cloak class="mui-input-row">
				<label class="aCss">供应商</label>
				<input type="text" maxlength="20" v-model="formData.supplierName"  placeholder="请输入供应商">
			</div>
			<div class="line"></div>
			<div v-cloak class="mui-input-row">
				<label class="aCss">备注</label>
				<textarea maxlength="100"  v-model="formData.note" rows="5" placeholder="请输入内容"></textarea>
			</div>
			<div class="line"></div>
			<div v-cloak class="mui-input-row">
				<label class="aCss">设为红冲单</label>
				<div class="mui-switch mui-switch-mini">
					<div class="mui-switch-handle"></div>
				</div>
			</div>
			<div class="line"></div>
			<div v-cloak class="mui-input-row">
				<label class="aCss">明细</label>
			</div>
			<div class="line"></div>
			<ul class="mui-table-view">
				 <li v-cloak v-for="(model,index) in formData.list" class="mui-table-view-cell">
				 	<a class=""> <!-- mui-navigate-right -->
				 		<div class="mui-table">
				 		    <div class="mui-table-cell mui-col-xs-10">
				 				<div class="mui-row" style="text-align: left;">
									<div style="margin-top: 0.3125rem;" class="mui-table-cell-1 mui-col-xs-6">
										<p class="mui-h5 mui-ellipsis">名称:{{model.itemName}}</p>
									</div>
									<div style="margin-top: 0.3125rem;" class="mui-table-cell-1 mui-col-xs-6">
										<p class="mui-h5 mui-ellipsis">型号:{{model.itemType}}</p>
									</div>
									<div style="margin-top: 0.3125rem;" class="mui-table-cell-1 mui-col-xs-5">
										<!-- <p class="mui-h5 mui-ellipsis">数量:{{model.okNum}}</p> -->
										<div v-cloak class="mui-input-row">
											<input type="number" @blur="checkNum(index,formData.list[index].inNum)" v-model="formData.list[index].inNum"  placeholder="输入入库数量">
										</div>
									</div>
									<div style="margin-top: 0.3125rem;" class="mui-table-cell-1 mui-col-xs-1">
									</div>
									<div style="margin-top: 0.3125rem;" class="mui-table-cell-1 mui-col-xs-5">
										<!-- <p class="mui-h5 mui-ellipsis">单价:{{model.okNum}}</p> -->
										<div v-cloak class="mui-input-row">
											<input type="number" @blur="checkPrice(index,formData.list[index].inPrice)" v-model="formData.list[index].inPrice"   onkeyup="value=value.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1').replace(/^0{1,}/g,'')"  placeholder="输入入库单价">
										</div>
									</div>
				 				</div>
				 		    </div>
							<div class="mui-table-cell mui-col-xs-2" @tap="delItem(index)">
								<span style="position: absolute; top: 35%;display: inline-block;right: 5px;color: red;" class="mui-icon mui-icon-minus-filled"></span>
							</div>
				 		</div>
				 	</a>
				 </li>
			</ul>
			<div class="mui-input-row" style="padding-bottom: 20px;padding-top: 10px;">
				<button type="button" @tap="addItem" class="mui-btn add-item">
					<span style="font-weight: 600;" class="mui-icon mui-icon-plusempty"></span>新增明细
				</button>
			</div>
		</div>
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/utils/mui.pullToRefresh.js"></script>
		<script src="../../js/utils/mui.pullToRefresh.material.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/utils/publicProtocol.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/utils/mui.picker.js"></script>
		<script src="../../js/utils/mui.poppicker.js"></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js"></script>
		<script src="../../js/libs/RSA/BigInt.js"></script>
		<script src="../../js/libs/RSA/RSA.js"></script>
		<script src="../../js/libs/encryption/RSAEncrypt.js"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/libs/encryption/signHmacSHA1.js'></script>
		<script src='../../js/libs/jquery.js'></script>
		<script src='../../js/libs/encryption/sortSign.js'></script>
		
		<script type="text/javascript">
			mui.init();
			var tempHead = new Vue({
				el: "#tempHead",
				data: {
					showBack: 0,
					headTitle: '',
					canClick:true,//防止提交按钮多次点击
				},
				methods: {
					submit:function(){
						if(this.canClick){
							let formData=contentData.formData;
							console.log(contentData.formData.isRed)
							if(formData.purchasingManName==''){
								mui.toast('请输入采购人')
							}else if(formData.supplierName==''){
								mui.toast('请输入供应商')
							}else if(formData.list.length==0){
								mui.toast('请至少保留一条物品明细')
							}else{
								let list=contentData.formData.list
								let error=false
								list.map(function(item){
									console.log("item: " + JSON.stringify(item));
									if(item.inNum==''||item.inPrice==''){
										error=true;
									}else{
										item.inNum=item.inNum*1
										item.inPrice=item.inPrice*1
									}
								})
								if(error){
									mui.toast('请维护物品明细的数量和价格')
								}else{
									this.canClick=false
									submitData(contentData.formData)
								}
							}
						}
					}
				}
			});
			//vue数据
			var contentData = new Vue({
				el: "#contentData",
				data: {
					formData:{
						purchasingManName:'',
						supplierName:'',
						isRed:0,
						note:'',
						inManCode:'',
						inManName:'',
						list:[]
					},
				},
				methods: {
					addItem: function() {
						let model = {}
						let list=contentData.formData.list
						let codeList=[]
						list.map(function(item){
							codeList.push(item.itemCode)
						})
						model.index_code = curPage.index_code;
						model.codeList = codeList;
						utils.mOpenWithData("../../html/schapp_item/item_add_in_query.html", model);
					},
					delItem:function(index){
						let list =[].concat(contentData.formData.list);
						list.splice(index,1)
						contentData.formData.list=list;
					},
					checkNum:function(index,inNum){
						let isRed=contentData.formData.isRed
						console.log(isRed)
						if(inNum==0){
							mui.toast('无效值，请重新输入')
							contentData.formData.list[index].inNum=1
						}
						console.log(inNum)
						if(inNum==''){
							mui.toast('无效值，请重新输入')
							contentData.formData.list[index].inNum=1
						}
						
						if(inNum>10000){
							mui.toast('超出数量范围限制')
							contentData.formData.list[index].inNum=10000
						}
						
						if(isRed==0 && inNum<0){
							mui.toast('当前为非红冲单，数量不可为负')
							contentData.formData.list[index].inNum=1
						}else{}//红冲单可以为负数
						
						if(inNum<-10000){
							mui.toast('超出数量范围限制')
							contentData.formData.list[index].inNum=-10000
						}
					},
					checkPrice:function(index,inPrice){
						console.log(inPrice)
						if(inPrice==0){
							mui.toast('无效值，请重新输入')
							contentData.formData.list[index].inPrice=''
						}
						if(inPrice>1000000 || inPrice<0){
							mui.toast('超出单价范围限制')
							contentData.formData.list[index].inPrice=''
						}
					}
				},
			});
			var curPage = {};
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log('personal:' + JSON.stringify(personal));
			mui.plusReady(function() {
				curPage = utils.getDataFromUrl(window.location.href);
				tempHead.headTitle = curPage.title_name;
				tempHead.showBack = 1;
				
				window.addEventListener('itemAdd', function(data) {
					console.log("data: " + JSON.stringify(data.detail));
					let obj={
						itemCode:data.detail.itemCode,
						itemType:data.detail.itemTypeCode,
						itemProp:data.detail.itemPropCode,
						itemName:data.detail.itemName,
						itemBrand:data.detail.itemBrand,
						itemModel:data.detail.itemModel,
						inNum:'',
						inPrice:'',
					}
					contentData.formData.list.push(obj)
				});
			});
			
			// 提交表单数据
			function submitData(data) {
				events.showWaiting();
				comData = {
					purchasingManName: data.purchasingManName,
					supplierName:data.supplierName,
					inManCode:personal.user_code,
					inManName: personal.user_name,
					isRed: data.isRed,
					note: data.note.replace(/\n/g,'<br>'),
					list: data.list,
					op_code:'add',
					index_code: curPage.index_code,
				}
				console.log("comData: " + JSON.stringify(comData));
				postDataEncry(window.storageKeyName.INTERFACE_ITEM + 'purchasingIn/addPurchasingIn ', {}, comData, 2, function(data) {
					console.log(JSON.stringify(data))
					events.closeWaiting();
					if (data.code == 0) {
						 mui.toast('保存成功');
						 setTimeout(function(){
							 mui.fire(plus.webview.currentWebview().opener(), 'refreshList', {});
							 mui.back()
						 },1500)
					} else {
						tempHead.canClick=true
						mui.toast(data.msg);
					}
				});
			}
			
			mui('.mui-content .mui-switch').each(function() { //循环所有toggle
				this.addEventListener('toggle', function(event) {
					console.log(event.detail.isActive)
					let isActive=event.detail.isActive;
					if(isActive){
						contentData.formData.isRed=1
					}else{
						contentData.formData.isRed=0
						let toast=false
						contentData.formData.list.map(function(item,index){
							console.log(JSON.stringify(item))
							console.log(index)
							if(item.inNum<0){
								toast=true
								contentData.formData.list[index].inNum=1
							}
						})
						if(toast){
							mui.toast('当前为非红冲单，数量不可为负')
						}
					}
				});
			});
		</script>
	</body>

</html>
