<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/student_performance/stuScore.css" />
		<link rel="stylesheet" href="../../js/swiper/swiper-bundle.min.css">
		<link rel="stylesheet" href="../../js/timeline/timeline.css">
		<style type="text/css">
			[v-cloak] {
				display: none !important;
			}

			.circular-square {
				border-radius: 10%;
				width: 30px;
				height: 30px;
			}

			.swiper-container {
				margin-top: 10px;
				margin-bottom: 15px;
				width: 100%;
				height: 100%;
			}

			.swiper-slide {
				text-align: center;
				font-size: 18px;
				/* background: #fff; */
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
			}

			.swiper-button-next:after,
			.swiper-button-prev:after {
				font-size: 15px;
				font-weight: bold;
				color: #00CFBD;
			}

			.swiper-slide-span {
				width: 200px;
				background: #00CFBD;
				padding-top: 5px;
				padding-bottom: 5px;
				border-radius: 50px;
				color: white;
			}

			.timelineDate {
				width: 30%;
				font-size: 0.75em;
				padding-top: 0.40rem;
				padding-right: 2rem;
				text-align: left;
			}

			.timelineDesc {
				/* width: 50%; */
				margin: 0;
				font-size: 14px;
				font-weight: 400;
				color: #808080;
			}

			.diva {
				color: gray;
				float: left;
				width: 45px;
				height: 50px;
				font-size: 14px;
			}

			.divb {
				margin-left: 20px;
				float: left;
				width: 70%;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
			}

			.divd {
				padding-left: 10px;
				width: 80%;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
				/* background: #7FFFD4; */
			}

			.mui-bar~.mui-content .mui-fullscreen {
				top: 44px;
				height: auto;
			}

			.mui-pull-top-tips {
				position: absolute;
				top: -20px;
				left: 50%;
				margin-left: -25px;
				width: 40px;
				height: 40px;
				border-radius: 100%;
				z-index: 2;
				/* 仅为适配swiper而改动，原值：1 */
			}

			.mui-bar~.mui-pull-top-tips {
				top: 24px;
			}

			.mui-pull-top-wrapper {
				width: 42px;
				height: 42px;
				display: block;
				text-align: center;
				background-color: #efeff4;
				border: 1px solid #ddd;
				border-radius: 25px;
				background-clip: padding-box;
				box-shadow: 0 4px 10px #bbb;
				overflow: hidden;
			}

			.mui-pull-top-tips.mui-transitioning {
				-webkit-transition-duration: 200ms;
				transition-duration: 200ms;
			}

			.mui-pull-top-tips .mui-pull-loading {
				margin: 0;
			}

			.mui-pull-top-wrapper .mui-icon,
			.mui-pull-top-wrapper .mui-spinner {
				margin-top: 7px;
			}

			.mui-pull-top-wrapper .mui-icon.mui-reverse {
				/*-webkit-transform: rotate(180deg) translateZ(0);*/
			}

			.mui-pull-bottom-tips {
				text-align: center;
				background-color: #efeff4;
				font-size: 15px;
				line-height: 40px;
				color: #777;
			}

			.mui-pull-top-canvas {
				overflow: hidden;
				background-color: #fafafa;
				border-radius: 40px;
				box-shadow: 0 4px 10px #bbb;
				width: 40px;
				height: 40px;
				margin: 0 auto;
			}

			.mui-pull-top-canvas canvas {
				width: 40px;
			}

			.mui-slider-indicator.mui-segmented-control {
				background-color: #efeff4;
			}

			.mui-scroll-wrapper {
				position: fixed;
				/* 仅为适配swiper而改动，原值：absolute */
			}

			.mui-grid-view.mui-grid-9 {
				margin: 0;
				padding: 0;
				border-top: 0px solid #eee;
				border-left: 0px solid #eee;
				background-color: white;
			}

			.mui-grid-view.mui-grid-9 .mui-table-view-cell {
				background: white;
				margin: 0;
				padding: 11px 15px;
				vertical-align: top;
				border-right: 0px solid #eee;
				border-bottom: 0px solid #eee;
			}

			.mui-media-body {
				margin: 4px 0;
			}

			.pieChart {
				height: 150px;
				margin: 10px;
				padding: 0px;
			}

			.pieChartline {
				height: 350px;
				margin: -20px 10px;
				padding: 0px;
			}

			.pieChart-worngbook {
				height: 200px;
				margin: 10px;
				padding: 0px;
			}

			.line {
				right: 0;
				bottom: 0;
				left: 0;
				height: 1px;
				content: '';
				-webkit-transform: scaleY(.5);
				transform: scaleY(.5);
				background-color: #77DDA0;
				margin-top: 30px;
			}
		</style>
	</head>

	<body style="background: white;">
		<header class="mui-bar mui-bar-nav" id="tempHead">
			<a v-cloak v-if="showBack==2" @click="clickLeftImg" class="mui-icon mui-pull-left">
				<img v-cloak :src=headImg style="width: 26px;height: 26px;border-radius: 50%;" />
			</a>
			<a v-cloak v-if="showBack==1" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 v-cloak class="mui-title">{{headTitle}}</h1>
		</header>
		<div v-cloak class="mui-content" style="margin-top: 0px;background: white;" id="contentData">
			<div style="padding: 10px 10px;">
				<div id="segmentedControl" class="mui-segmented-control">
					<a @tap="clickSeg(0)" class="mui-control-item mui-active" href="#item1">单科成绩</a>
					<a @tap="clickSeg(1)" class="mui-control-item" href="#item2">全科成绩</a>
					<a @tap="clickSeg(2)" class="mui-control-item" href="#item3">知识点分析</a>
					<a @tap="clickSeg(3)" class="mui-control-item" href="#item4">错题本</a>
				</div>
			</div>
			<div class="mui-slider-group">
				<div id="item1" class="mui-control-content mui-active">
					<div id='single-score-swiper' class="swiper-container">
						<div class="swiper-wrapper">
							<div v-for="(subModel,index) in singleSubScore.subList" class="swiper-slide">
								<span class="swiper-slide-span">{{subModel.sub_name}}</span>
							</div>
						</div>
						<!-- Add Arrows -->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
					<div id='single-score-body' class="mui-scroll-wrapper" style="margin-top: 160px;">
						<div class="mui-scroll">
							<section id="cd-timeline" class="cd-container" v-cloak>
								<div v-for="(item,index) in singleSubScore.singleScoreList" @tap="clickSingleScore(item)" class="cd-timeline-block">
									<div class="cd-timeline-img" :class="[index==0?'cd-picture':'cd-movie']"></div>
									<div class="cd-timeline-content">
										<div class="diva">{{item.exam_date.split(' ')[0]}}</div>
										<div class="timelineDesc divb">
											<div v-if="item.type == 1" class="">
												<template v-if="item.exam_type == 1">
													<div class="examType" style="background: #f88c54;">期中</div>
												</template>
												<template v-else-if="item.exam_type == 2">
													<div class="examType" style="background: orange;">月考</div>
												</template>
												<template v-else-if="item.exam_type == 3">
													<div class="examType" style="background: #f56c6c;">期末</div>
												</template>
												<template v-else-if="item.exam_type == 4">
													<div class="examType" style="background: #80b9ec;">周测</div>
												</template>
												<p class="divd" style="margin-top: -15px;">{{item.name}}</p>
											</div>
											<div v-else-if="item.type == 2" class="">
												<div class="examType" style="background: #67d293;">作业</div>
												<p class="divd" style="margin-top: -15px;">{{item.name}}</p>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div id="item2" class="mui-control-content">
					<div class="mui-scroll-wrapper" style="margin-top: 110px;">
						<div class="mui-scroll">
							<section v-show="sumSubScore.sumScoreList.length>0" id="cd-timeline" class="cd-container" v-cloak>
								<div v-for="(item,index) in sumSubScore.sumScoreList" @tap="clickSumScore(item)" class="cd-timeline-block">
									<div class="cd-timeline-img" :class="[index==0?'cd-picture':'cd-movie']"></div>
									<div class="cd-timeline-content">
										<div class="diva">{{item.exam_date.split(' ')[0]}}</div>
										<div class="timelineDesc divb">
											<div v-if="item.type == 1" class="">
												<template v-if="item.exam_type == 1">
													<div class="examType" style="background: #f88c54;">期中</div>
												</template>
												<template v-else-if="item.exam_type == 2">
													<div class="examType" style="background: orange;">月考</div>
												</template>
												<template v-else-if="item.exam_type == 3">
													<div class="examType" style="background: #f56c6c;">期末</div>
												</template>
												<template v-else-if="item.exam_type == 4">
													<div class="examType" style="background: #80b9ec;">周测</div>
												</template>
												<p class="divd" style="margin-top: -15px;">{{item.name}}</p>
											</div>
											<div v-else-if="item.type == 2" class="">
												<div class="examType" style="background: #67d293;">作业</div>
												<p class="divd" style="margin-top: -15px;">{{item.name}}</p>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div id="item3" class="mui-control-content">
					<div id='know-point-swiper' class="swiper-container">
						<div class="swiper-wrapper">
							<div v-for="(subModel,index) in knowPoints.subList" class="swiper-slide">
								<span class="swiper-slide-span">{{subModel.sub_name}}</span>
							</div>
						</div>
						<!-- Add Arrows -->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
					<div id='know-point-body' class="mui-scroll-wrapper" style="margin-top: 160px;">
						<div class="mui-scroll-norefresh">
							<div class="mui-row">
								<h4 class="spaceLine">本科知识点概况</h4>
								<div class="pieChart" id="pieChartKnowPoint"></div>
								<div style="text-align: center;">
									<div class="mui-media-body scoreDetail">各知识点平均得分率</div>
								</div>
								<ul class="mui-table-view mui-grid-view mui-grid-9">
									<li class="mui-table-view-cell no-bgc mui-media mui-col-xs-6 mui-col-sm-6">
										<div class="mui-media-body scoreDetail">本科目知识点总数：{{knowPoints.knowData.total_point}}个</div>
									</li>
									<li class="mui-table-view-cell no-bgc mui-media mui-col-xs-6 mui-col-sm-6">
										<div class="mui-media-body scoreDetail">已考察知识点数量：{{knowPoints.knowData.survey_point}}个</div>
									</li>
								</ul>
								<div style="text-align: center;margin-top: 10px;">
									<span @click="clickKnowPointDetail" style="background: #00CFBD;padding: 10px 25px;font-size: 14px;color:#fff;border-radius: 30px;">查看知识点详情</span>
								</div>
							</div>
							<div class="mui-row">
								<h4 class="spaceLine" style="background-color: #F86A6A;color: #fff;margin-top: 20px;">得分率最低的十个知识点</h4>
								<ul class="mui-table-view no-line" style="font-size: 13px;">
									<li class="mui-table-view-cell no-bgc beauline" style="text-align: center;" v-for="(item,index) in knowPoints.knowData.low_score_list">
										<div class="mui-row">
											<div class="mui-col-xs-1" style="text-align: center;padding: 2px;margin-top: -2px;background-color:#F86A6A;border-radius: 50%;width: 25px;height: 25px;color: #fff;">{{index+1}}</div>
											<div class="mui-col-xs-10" style="word-break: break-all;padding: 0 5px;padding-left: 5px;text-align: left;">{{item.book_catalog_name}}</div>
											<div class="mui-col-xs-1" @click="toDetailPageKnowPointLow(item,index)"><img style="width: 15px;height: 15px;margin-top: 5px; "
												 src="../../img/homeSchool/search.png"></img></div>
										</div>
									</li>
								</ul>
							</div>
							<div class="mui-row">
								<h4 class="spaceLine" style="background-color: #499DF8;color: #fff;margin-top: 15px;">得分率最高的十个知识点</h4>
								<ul class="mui-table-view no-line" style="font-size: 13px;">
									<li class="mui-table-view-cell no-bgc beauline" style="text-align: center;" v-for="(item,index) in knowPoints.knowData.high_score_list">
										<div class="mui-row">
											<div class="mui-col-xs-1" style="text-align: center;padding: 2px;margin-top: -2px;background-color:#499DF8;border-radius: 50%;width: 25px;height: 25px;color: #fff;">{{index+1}}</div>
											<div class="mui-col-xs-10" style="word-break: break-all;padding: 0 5px;padding-left: 5px;text-align: left;">{{item.book_catalog_name}}</div>
											<div class="mui-col-xs-1" @click="toDetailPageKnowPointHeight(item,index)"><img style="width: 15px;height: 15px;margin-top: 5px;"
												 src="../../img/homeSchool/search.png"></img></div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div id="item4" class="mui-control-content">
					<div id='wrong-book-swiper' class="swiper-container">
						<div class="swiper-wrapper">
							<div v-for="(subModel,index) in wrongBook.subList" class="swiper-slide">
								<span class="swiper-slide-span">{{subModel.sub_name}}</span>
							</div>
						</div>
						<!-- Add Arrows -->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
					<div id='wrong-book-body' class="mui-scroll-wrapper" style="margin-top: 160px;">
						<div class="mui-scroll-norefresh">
							<div class="mui-row">
								<h4 class="spaceLine">错题数量及趋势</h4>
								<div class="pieChart-worngbook" id="pieChartWrongBook"></div>
								<!-- <div style="text-align: left;margin-left: 30px;">
									<div class="mui-media-body scoreDetail">错题总数：465道</div>
								</div> -->
								<div style="text-align: center;margin-top: 20px;">
									<span @click="clickWrongBookDetail" style="background: #00CFBD;padding: 10px 50px;font-size: 14px;color:#fff;border-radius: 30px;">查看错题</span>
								</div>
							</div>
							<div class="line"></div>
							<div class="mui-row">
								<h4 style="margin-top: 15px;font-size: 14px;font-weight: normal;margin-left: 10px;">历次考试错题数量趋势如下：</h4>
								<div class="pieChartline" id="kaosChart"></div>
							</div>
							<div class="mui-row">
								<div class="line"></div>
							</div>
							<div class="mui-row">
								<h4 style="margin-top: 20px;font-size: 14px;font-weight: normal;margin-left: 10px;">历次作业错题数量趋势如下：</h4>
								<div class="pieChartline" id="zuoyChart"></div>
							</div>
							<div class="mui-row">
								<h4 class="spaceLine" style="background-color: #F86A6A;color: #fff;margin-top: 20px;">知识点错题榜</h4>
								<h4 style="margin-top: 20px;font-size: 14px;font-weight: normal;margin-left: 15px;">错题数量最多的十个知识点如下：</h4>
								<ul class="mui-table-view no-line" style="font-size: 13px;">
									<li class="mui-table-view-cell no-bgc beauline" style="text-align: center;" v-for="(item,index) in wrongBook.wrongData.error_point_list">
										<div class="mui-row">
											<div class="mui-col-xs-1" style="text-align: center;padding: 2px;margin-top: -2px;background-color:#F86A6A;border-radius: 50%;width: 25px;height: 25px;color: #fff;">{{index+1}}</div>
											<div class="mui-col-xs-10" style="word-break: break-all;padding: 0 5px;padding-left: 5px;text-align: left;">{{item.name}}</div>
											<div class="mui-col-xs-1" @click="toDetailPageKnowPointWrong(item,index)"><img style="width: 15px;height: 15px; margin-top: 5px;"
												 src="../../img/homeSchool/search.png"></img></div>
										</div>
									</li>
								</ul>
							</div>
							<div class="mui-row">
								<h4 class="spaceLine" style="background-color: #F5A35A;color: #fff;margin-top: 15px;">考试/作业错题榜</h4>
								<h4 style="margin-top: 20px;font-size: 14px;font-weight: normal;margin-left: 15px;">错题数量最多的十次考试/作业：</h4>
								<ul class="mui-table-view no-line" style="font-size: 13px;">
									<li class="mui-table-view-cell no-bgc beauline" style="text-align: center;" v-for="(item,index) in wrongBook.wrongData.error_task_list">
										<div class="mui-row">
											<div class="mui-col-xs-1" style="text-align: center;padding: 2px;margin-top: -2px;background-color:#F5A35A;border-radius: 50%;width: 25px;height: 25px;color: #fff;">{{index+1}}</div>
											<div class="mui-col-xs-10" style="word-break: break-all;padding: 0 5px;padding-left: 5px;text-align: left;">{{item.paper_name}}</div>
											<div class="mui-col-xs-1" @click="toDetailPageHomeWorkWrong(item,index)"><img style="width: 15px;height: 15px; margin-top: 5px;"
												 src="../../img/homeSchool/search.png"></img></div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/utils/mui.pullToRefresh.js"></script>
		<script src="../../js/utils/mui.pullToRefresh.material.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<!---->
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		<script src='../../js/utils/big.min.js'></script>
		<script src="../../js/swiper/swiper-bundle.min.js"></script>
		<script src="../../js/utils/publicProtocol.js"></script>
		<script src="../../js/utils/showMenu.js"></script>
		<script src="../../js/utils/echarts-all.js"></script>
		<script src="../../js/echarts/echarts-en.min.js"></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js"></script>
		<script src="../../js/libs/RSA/BigInt.js"></script>
		<script src="../../js/libs/RSA/RSA.js"></script>
		<script src="../../js/libs/encryption/RSAEncrypt.js"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/libs/encryption/signHmacSHA1.js'></script>
		<script src='../../js/libs/encryption/sortSign.js'></script>

		<script type="text/javascript">
			mui.init();
			//获取个人信息
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log('personal:' + JSON.stringify(personal));
			var tempHead = new Vue({
				el: "#tempHead",
				data: {
					showBack: 0,
					headTitle: '',
					headImg: setImg(personal.img_url, 9)
				},
				methods: {
					clickLeftImg: function() {
						appPay.openMenu();
					}
				}
			});

			//vue数据
			var contentData = new Vue({
				el: "#contentData",
				data: {
					semFlag: 0, //点击的seg索引
					singleSubScore: { //单科成绩
						refrushFlag: 0, //0刷新1加载更多
						subList: [], //科目列表
						nowSubject: {}, //当前科目信息
						pageNumber: 1,
						pageSize: 10,
						singleScoreList: [], //根据当前科目得到的列表
					},
					sumSubScore: { //全科成绩
						refrushFlag: 0, //0刷新1加载更多
						pageNumber: 1,
						pageSize: 10,
						sumScoreList: []
					},
					knowPoints: {
						subList: [], //科目列表
						nowSubject: {}, //当前科目信息
						knowData: {
							total_point: '', //本科目知识点总数
							// kc:'',//已考察知识点数量
							// low_score_list:[],//得分率最低的十个知识点
							// heightList:[]//得分率最高的十个知识点
						}
					},
					wrongBook: {
						subList: [], //科目列表
						nowSubject: {}, //当前科目信息
						wrongData: {
							zs: '',
							knowWrongList: [], //知识点错题榜
							homeWorkWrongList: [], //考试/作业错题榜
						}
					}
				},
				methods: {
					clickSeg: function(flag) {
						if (contentData.semFlag != flag) {
							console.log('clickSeg:' + flag);
							contentData.semFlag = flag;
							if (flag == 0 && contentData.singleSubScore.subList.length == 0) {
								// 获取科目列表
								getSubList(flag, subArray => {
									contentData.singleSubScore.subList = [].concat(subArray);
									if (subArray.length > 0) {
										contentData.singleSubScore.nowSubject = subArray[0];
									}
									setSwiper('single-score-swiper');
									// 获取单科成绩列表
									getSingleSubScore();
								});
							} else if (flag == 1 && contentData.sumSubScore.sumScoreList.length == 0) {
								// 获取全科成绩列表
								getSumSubScore();
							} else if (flag == 2 && contentData.knowPoints.knowData.total_point == '') {
								// 获取科目列表
								getSubList(flag, subArray => {
									contentData.knowPoints.subList = [].concat(subArray);
									if (subArray.length > 0) {
										contentData.knowPoints.nowSubject = subArray[0];
									}
									setSwiper('know-point-swiper');
									// 获取知识点分析
									getKnowPoint();
								});
							} else if (flag == 3 && contentData.wrongBook.wrongData.zs == '') {
								// 获取科目列表
								getSubList(flag, subArray => {
									contentData.wrongBook.subList = [].concat(subArray);
									if (subArray.length > 0) {
										contentData.wrongBook.nowSubject = subArray[0];
									}
									setSwiper('wrong-book-swiper');
									// 获取错题本
									getWrongBook();
								});
							}
						}
					},
					clickSingleScore: function(model) {
						model.access = curPage.access.split('#')[1];
						utils.mOpenWithData("../../html/student_performance/singleScore.html", model);
					},
					clickSumScore: function(model) {
						model.access = curPage.access.split('#')[1];
						utils.mOpenWithData("../../html/student_performance/sumScore.html", model);
					},
					clickKnowPointDetail: function(model) { //查看各知识点详情
						model.access = curPage.access.split('#')[1];
						model.per_name = contentData.knowPoints.knowData.per_name;
						model.per_code = contentData.knowPoints.knowData.per_code;
						model.nowSubject = contentData.knowPoints.nowSubject;
						console.log('查看各知识点详情', JSON.stringify(model))
						utils.mOpenWithData("../../html/student_performance/zhishidianfenxi_xiangqing.html", model);
					},
					toDetailPageKnowPointLow: function(tempM, index) { //得分率最低的十个知识点
						var model = {};
						// model.name = tempM.book_catalog_name;
						// model.score_rate = tempM.score_rate;
						// model.id = tempM.book_catalog_id;
						model.flag = 1;
						model.access = curPage.access.split('#')[1];
						model.type = 'low';
						model.headTitle = '得分率最低的十个知识点';
						model.bookList = contentData.knowPoints.knowData.low_score_list;
						model.bookIndex = index;
						console.log('得分率最低的十个知识点')
						utils.mOpenWithData("../../html/student_performance/zhishidianfenxi.html", model);
					},
					toDetailPageKnowPointHeight: function(tempM, index) { //得分率最高的十个知识点
						var model = {};
						// model.name = tempM.book_catalog_name;
						// model.score_rate = tempM.score_rate;
						// model.id = tempM.book_catalog_id;
						model.flag = 1;
						model.access = curPage.access.split('#')[1];
						model.type = 'height';
						model.headTitle = '得分率最高的十个知识点';
						model.bookList = contentData.knowPoints.knowData.high_score_list;
						model.bookIndex = index;
						console.log('得分率最高的十个知识点')
						utils.mOpenWithData("../../html/student_performance/zhishidianfenxi.html", model);
					},
					clickWrongBookDetail: function(model) { //查看错题详情
						model.access = curPage.access.split('#')[1];
						model.per_name = contentData.wrongBook.wrongData.per_name;
						model.per_code = contentData.wrongBook.wrongData.per_code;
						model.nowSubject = contentData.wrongBook.nowSubject;
						console.log('查看查看错题详情', JSON.stringify(model))
						utils.mOpenWithData("../../html/student_performance/cuoti_xiangqing.html", model);
					},
					toDetailPageKnowPointWrong: function(tempM, index) { //知识点错题榜
						console.log('tempM:' + JSON.stringify(tempM));
						var model = {};
						// model.name = tempM.name;
						// model.id = tempM.book_catalog_id;
						model.flag = 2;
						model.access = curPage.access.split('#')[1];
						model.headTitle = '知识点错题榜';
						model.bookList = contentData.wrongBook.wrongData.error_point_list;
						model.bookIndex = index;
						console.log('知识点错题榜')
						utils.mOpenWithData("../../html/student_performance/zhishidianfenxi.html", model);
					},
					toDetailPageHomeWorkWrong: function(tempM, index) { //考试/作业错题榜
						console.log('tempM:' + JSON.stringify(tempM));
						var model = {};
						// model.name = tempM.paper_name;
						// model.id = tempM.paper_id;
						model.flag = 3;
						model.access = curPage.access.split('#')[1];
						model.headTitle = '考试/作业错题榜';
						model.bookList = contentData.wrongBook.wrongData.error_task_list;
						model.bookIndex = index;
						console.log('考试/作业错题榜')
						utils.mOpenWithData("../../html/student_performance/zhishidianfenxi.html", model);
					},
				},
			});
			var self = 0;
			mui.plusReady(function() {
				(function($) {
					var deceleration = mui.os.ios ? 0.003 : 0.0009;
					$('.mui-scroll-wrapper').scroll({
						bounce: false,
						indicators: true, //是否显示滚动条
						deceleration: deceleration
					});
					$.ready(function() {
						$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
							$(pullRefreshEl).pullToRefresh({
								down: {
									callback: function() {
										self = this;
										if (contentData.semFlag == 0) {
											contentData.singleSubScore.refrushFlag = 0; //0刷新1加载更多
												contentData.singleSubScore.pageNumber = 1; //
												// 获取单科成绩列表
												getSingleSubScore();
										} else if (contentData.semFlag == 1) {
											contentData.sumSubScore.refrushFlag = 0; //0刷新1加载更多
												contentData.sumSubScore.pageNumber = 1; //
												// 获取全科成绩列表
												getSumSubScore();
										} else if (contentData.semFlag == 2) {
											self.endPullDownToRefresh();
										} else if (contentData.semFlag == 3) {
											self.endPullDownToRefresh();
										}
										// setTimeout(function() {
										// 	self.endPullDownToRefresh();
										// }, 1000);
									}
								},
								up: {
									callback: function() {
										self = this;
										if (contentData.semFlag == 0) {
											contentData.singleSubScore.refrushFlag = 1; //0刷新1加载更多
												// 获取单科成绩列表
												getSingleSubScore();
										} else if (contentData.semFlag == 1) {
											contentData.sumSubScore.refrushFlag = 1; //0刷新1加载更多
												// 获取全科成绩列表
												getSumSubScore();
										} else if (contentData.semFlag == 2) {
											self.endPullUpToRefresh();
										} else if (contentData.semFlag == 3) {
											self.endPullUpToRefresh();
										}
										// setTimeout(function() {
										// 	self.endPullUpToRefresh();
										// }, 1000);
									}
								}
							});
						});
					});
				})(mui);



				curPage = utils.getDataFromUrl(window.location.href);
				tempHead.headTitle = curPage.name;
				if (curPage && JSON.stringify(curPage) == '{}') { //前四个页面时，不显示返回按钮
					var ws = plus.webview.currentWebview();
					if (ws.preload) {
						curPage = ws.preload;
						tempHead.headTitle = ws.preload.name;
					}
					if (ws.preload.index == 0) {
						tempHead.showBack = 2;
					}
				} else {
					tempHead.showBack = 1; //更多页面打开时，显示返回按钮
				}
				// 获取科目列表
				getSubList(0, subArray => {
					contentData.singleSubScore.subList = [].concat(subArray);
					if (subArray.length > 0) {
						contentData.singleSubScore.nowSubject = subArray[0];
					}
					setSwiper('single-score-swiper');
					// 获取单科成绩列表
					getSingleSubScore();
				});
			});

			// 获取科目列表
			var getSubList = function(flag, callback) {
				comData = {
					user_code: personal.user_code,
					index_code: curPage.access.split('#')[1],
				}
				var tempUrl = 'singleSub/subList';
				if (flag == 2) {
					tempUrl = 'point/pointSub';
				} else if (flag == 3) {
					tempUrl = 'errorBook/errorSub';
				}
				events.showWaiting();
				postDataEncry(window.storageKeyName.INTERFACE_STUSCORE + tempUrl, {}, comData, 2, function(data) {
					events.closeWaiting();
					if (data.code == 0) {
						callback(data.data.list);
					} else {
						mui.toast(data.msg);
					}
				});
			}

			function setSwiper(id) {
				// swiper左右切换
				setTimeout(function() {
					var swiper = new Swiper("#" + id, {
						navigation: {
							nextEl: '.swiper-button-next',
							prevEl: '.swiper-button-prev',
						},
						on: {
							slideChangeTransitionEnd: function() {
								switch (id) {
									case 'single-score-swiper':
										mui('#single-score-body').scroll().scrollTo(0, 0)
										console.log(JSON.stringify(contentData.singleSubScore.subList))
										console.log(swiper.activeIndex)
										var tempSub = contentData.singleSubScore.subList[swiper.activeIndex];
										contentData.singleSubScore.nowSubject = tempSub;
										console.log('tempSub single-score:' + JSON.stringify(tempSub));
										contentData.singleSubScore.refrushFlag = 0, //0刷新1加载更多
											contentData.singleSubScore.pageNumber = 1, //
											// 获取单科成绩列表
											getSingleSubScore();
										break;
									case 'know-point-swiper':
										mui('#know-point-body').scroll().scrollTo(0, 0)
										var tempSub = contentData.knowPoints.subList[swiper.activeIndex];
										contentData.knowPoints.nowSubject = tempSub;
										console.log('tempSub know-point:' + JSON.stringify(tempSub));
										// 获取知识点
										getKnowPoint();
										break;
									case 'wrong-book-swiper':
										mui('#wrong-book-body').scroll().scrollTo(0, 0)
										var tempSub = contentData.wrongBook.subList[swiper.activeIndex];
										contentData.wrongBook.nowSubject = tempSub;
										console.log('tempSub wrong-book:' + JSON.stringify(tempSub));
										// 获取错题本
										getWrongBook();
										break;
									default:
										break;
								}
							},
						},
					});
				}, 500)
			}

			// 获取单科成绩列表
			var getSingleSubScore = function() {
				comData = {
					user_code: personal.user_code,
					sub_code: contentData.singleSubScore.nowSubject.sub_code,
					page_number: contentData.singleSubScore.pageNumber,
					page_size: contentData.singleSubScore.pageSize,
					index_code: curPage.access.split('#')[1],
				}
				// events.showWaiting();
				postDataEncry(window.storageKeyName.INTERFACE_STUSCORE + 'singleSub/page', {}, comData, 2, function(data) {
					// events.closeWaiting();
					if (data.code == 0) {
						if (contentData.singleSubScore.refrushFlag == 0) {
							contentData.singleSubScore.singleScoreList = [].concat(data.data.list);
							setTimeout(() => {
								self && self.endPullDownToRefresh();
								if (data.data.page_number >= data.data.total_page) {
									mui(".mui-pull-loading")[0].innerHTML = "没有更多了";
								}
							}, 1000)
						} else {
							contentData.singleSubScore.singleScoreList = contentData.singleSubScore.singleScoreList.concat(data.data.list);
							// if(data.data.list.length==0){
							// 	mui.toast('暂无更多数据');
							// }    
							setTimeout(() => {
								self && self.endPullUpToRefresh();
								if (data.data.page_number >= data.data.total_page) {
									mui(".mui-pull-loading")[0].innerHTML = "没有更多了";
								}
							}, 1000)
						}
						contentData.singleSubScore.pageNumber++;
					} else {
						mui.toast(data.msg);
					}
				});
			}

			// 获取全科成绩列表
			var getSumSubScore = function() {
				comData = {
					user_code: personal.user_code,
					page_number: contentData.sumSubScore.pageNumber,
					page_size: contentData.sumSubScore.pageSize,
					index_code: curPage.access.split('#')[1],
				}
				// events.showWaiting();
				postDataEncry(window.storageKeyName.INTERFACE_STUSCORE + 'fullSub/page', {}, comData, 2, function(data) {
					// events.closeWaiting();
					if (data.code == 0) {
						if (contentData.sumSubScore.refrushFlag == 0) {
							contentData.sumSubScore.sumScoreList = [].concat(data.data.list);
							setTimeout(() => {
								self && self.endPullDownToRefresh();
								if (data.data.page_number >= data.data.total_page) {
									mui(".mui-pull-loading")[1].innerHTML = "没有更多了";
								}
							}, 1000)
						} else {
							contentData.sumSubScore.sumScoreList = contentData.sumSubScore.sumScoreList.concat(data.data.list);
							// if(data.data.list.length==0){
							// 	mui.toast('暂无更多数据');
							// }
							setTimeout(() => {
								self && self.endPullUpToRefresh();
								if (data.data.page_number >= data.data.total_page) {
									mui(".mui-pull-loading")[1].innerHTML = "没有更多了";
								}
							}, 1000)
						}
						contentData.sumSubScore.pageNumber++;
					} else {
						mui.toast(data.msg);
					}
				});
			}

			//获取知识点
			var getKnowPoint = function() {
				comData = {
					user_code: personal.user_code,
					sub_code: contentData.knowPoints.nowSubject.sub_code,
					index_code: curPage.access.split('#')[1],
				}
				events.showWaiting();
				postDataEncry(window.storageKeyName.INTERFACE_STUSCORE + 'point/subOverview', {}, comData, 2, function(data) {
					events.closeWaiting();
					if (data.code == 0) {
						contentData.knowPoints.knowData = data.data;
						//知识点 饼图
						var e = contentData.knowPoints.knowData.average_score_rate*100;
						var pieChartKnowPoint = echarts.init(document.getElementById('pieChartKnowPoint'));
						pieChartKnowPoint.setOption({
							title: {
								show: true,
								text: e.toFixed(1) + '%',
								x: 'center',
								y: 'center',
								textStyle: {
									fontSize: '28',
									color: '#499DF8',
									fontWeight: '600'
								}
							},
							tooltip: {
								trigger: 'item',
								formatter: "{d}%",
								show: false
							},
							legend: {
								orient: 'vertical',
								x: 'left',
								show: false
							},
							series: [{
								name: '',
								type: 'pie',
								radius: ['80%', '90%'],
								avoidLabelOverlap: true,
								hoverAnimation: false,
								label: {
									normal: {
										show: false,
										position: 'center'
									},
									emphasis: {
										show: false
									}
								},
								labelLine: {
									normal: {
										show: false
									}
								},
								data: [{
										value: e,
										name: '',
										itemStyle: {
											color: "#499DF8"
										}
									},
									{
										value: 100 - e,
										name: '',
										itemStyle: {
											color: "#E5E5E5"
										}
									}
								]
							}],
						});
					} else {
						mui.toast(data.msg);
					}
				});
			}


			// 获取错题本
			var getWrongBook = function() {
				comData = {
					user_code: personal.user_code,
					sub_code: contentData.wrongBook.nowSubject.sub_code,
					index_code: curPage.access.split('#')[1],
				}
				events.showWaiting();
				postDataEncry(window.storageKeyName.INTERFACE_STUSCORE + 'errorBook/queryTrends', {}, comData, 2, function(data) {
					events.closeWaiting();
					if (data.code == 0) {
						contentData.wrongBook.wrongData = data.data;
						var kaosArr0 = [];
						var kaosArr1 = [];
						for (var i = 0; i < data.data.task_trends.length; i++) {
							var tempM = data.data.task_trends[i];
							kaosArr0.push(tempM.exam);
							kaosArr1.push(tempM.wrong_num);
						}
						//错题本 考试折线图
						let kaos_option = { //考试错题数量趋势
							tooltip: {
								trigger: 'axis',
								axisPointer: {
									type: 'cross',
									label: {
										backgroundColor: '#6a7985'
									}
								}
							},
							xAxis: {
								type: 'category',
								data: kaosArr0,
								axisLabel: {									fontSize: 12,									// rotate:15,									align: 'center',									formatter: function (value) {										value = value.replace(/[^\x00-\xff]/g, "$&\x01").replace(/.{16}\x01?/g, "$&\n").replace(/\x01/g, "");										return value;									}								},
							},
							yAxis: {
								type: 'value'
							},
							series: [{
								data: kaosArr1,
								type: 'line',
								smooth: true
							}]
						};

						var pieChartKaos = echarts.init(document.getElementById('kaosChart'));
						pieChartKaos.setOption(kaos_option)

						var zuoyArr0 = [];
						var zuoyArr1 = [];
						for (var i = 0; i < data.data.homework_trends.length; i++) {
							var tempM = data.data.homework_trends[i];
							zuoyArr0.push(tempM.exam);
							zuoyArr1.push(tempM.wrong_num);
						}
						//错题本 作业折线图
						let zuoy_option = { //作业错题数量趋势
							tooltip: {
								trigger: 'axis',
								axisPointer: {
									type: 'cross',
									label: {
										backgroundColor: '#6a7985'
									}
								}
							},
							xAxis: {
								type: 'category',
								data: zuoyArr0,
								axisLabel: {									fontSize: 12,									// rotate:15,									align: 'center',									formatter: function (value) {										value = value.replace(/[^\x00-\xff]/g, "$&\x01").replace(/.{16}\x01?/g, "$&\n").replace(/\x01/g, "");										return value;									}								},
							},
							yAxis: {
								type: 'value'
							},
							series: [{
								data: zuoyArr1,
								type: 'line',
								smooth: true
							}]
						};
						var pieChartZuoy = echarts.init(document.getElementById('zuoyChart'));
						pieChartZuoy.setOption(zuoy_option)

						//错题本 饼图
						let total = data.data.total_num;
						let datas = [{
							name: "作业错题",
							value: data.data.homework_num
						}, {
							name: "考试错题",
							value: data.data.task_num
						}]
						let wrongBook_option = { //错题及数量趋势
							title: {
								text: '',
								subtext: '错题总数： ' + total + ' 道',
								bottom: 0,
								left: 40,
								subtextStyle: {
									fontSize: 13,
									color: '#505050',
									align: 'center'
								}
							},
							tooltip: {
								trigger: 'item',
								formatter: '{b}({d}%)'
							},
							legend: {
								orient: 'vertical',
								right: 15,
								top: 20,
								bottom: 20,
								data: datas,
								formatter: (name) => {
									let arr = []
									datas.map(item => {
										if (item.name == name) {
											arr.push(name + '  ' + item.value + '  道' + '  ' + (item.value / total * 100).toFixed(1) + '%')
										}
									})
									return arr.join('\n')
								}
							},
							series: [{
								type: 'pie',
								radius: '80%',
								center: ['25%', '45%'],
								data: datas,
								label: {
									normal: {
										formatter: '{d}%  ',
										position: 'inner',
										show: true
									}
								},
							}],
							color: ['#F4967B', '#F5A35A']
						};
						var pieChartWrongBook = echarts.init(document.getElementById('pieChartWrongBook'));
						pieChartWrongBook.setOption(wrongBook_option)
					} else {
						mui.toast(data.msg);
					}
				});
				// contentData.wrongBook.wrongData.knowWrongList = [{
				// 	xh: 1,
				// 	name: '一次函数的图像'
				// }, {
				// 	xh: 2,
				// 	name: '子集与交集、并集运算的转换'
				// }, {
				// 	xh: 3,
				// 	name: '指数函数的定义、解析式、定义域和值域'
				// }]
				// contentData.wrongBook.wrongData.homeWorkWrongList = [{
				// 	xh: 1,
				// 	name: '一次函数的图像'
				// }, {
				// 	xh: 2,
				// 	name: '子集与交集、并集运算的转换'
				// }, {
				// 	xh: 3,
				// 	name: '指数函数的定义、解析式、定义域和值域'
				// }]


			}
		</script>
	</body>

</html>
