<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/student_performance/stuScore.css" />
		<style type="text/css">
			[v-cloak] {
				display: none !important;
			}
			.mui-grid-view.mui-grid-9 {
				margin: 0;
				padding: 0;
				border-top: 0px solid #eee;
				border-left: 0px solid #eee;
				background-color: white;
			}
			
			.mui-grid-view.mui-grid-9 .mui-table-view-cell {
				background: white;
				margin: 0;
				padding: 11px 15px;
				vertical-align: top;
				border-right: 0px solid #eee;
				border-bottom: 0px solid #eee;
			}
			
			/* 列表头 */
			.mui-grid-view.mui-grid-9.table {
				border-top: 0px solid #c6c6c6 !important;
				border-left: 0px solid #c6c6c6 !important;
			}
			
			.mui-grid-view.mui-grid-9 .mui-table-view-cell.table {
				text-align: left;
				padding: 0px 7px !important;
				border-right: 0px solid #c6c6c6 !important;
				border-bottom: 0px solid #c6c6c6 !important;
			}
		</style>
	</head>

	<body style="background: white;">
		<header class="mui-bar mui-bar-nav" id="tempHead">
			<a v-cloak v-if="showBack==1" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 v-cloak class="mui-title">{{headTitle}}</h1>
		</header>
		<div v-cloak class="mui-content" style="margin-top: 0px;background: white;" id="contentData">
			<div class="mui-row">
				<h4 style="text-align: center;margin-top: 20px;">{{pageData.name}}</h4>
			</div>
			<div class="mui-row" style="height: 100%;text-align: center;padding: 30px 10px;">
				<div class="mui-row">
					<div class="mui-col-xs-5"><img :src=personal.img_url style="width: 120px;height: 120px;object-fit: cover;border-radius: 50%;"></div>
					<div class="mui-col-xs-2"><img src="../../img/student_performance/vs.png" style="width: 70px;height: 70px;object-fit: cover;margin-top: 25px;"></div>
					<div class="mui-col-xs-5"><img :src=pageData.img_url style="width: 120px;height: 120px;object-fit: cover;border-radius: 50%;"></div>
				</div>
			</div>
			<h4 class="spaceLine">总分</h4>
			<div class="mui-row" style="text-align: center;margin-top: 30px;">
				<span v-if="pageData.my_score==pageData.pk_user_score" style="color: #FDD60C;font-size: 27px;font-weight: 900;">平</span>
				<span v-if="pageData.my_score>pageData.pk_user_score" style="color: #008080;font-size: 27px;font-weight: 900;">胜</span>
				<span v-if="pageData.my_score<pageData.pk_user_score" style="color: red;font-size: 27px;font-weight: 900;">败</span>
			</div>
			<div class="mui-row" style="padding:0 10px;">
				<div style="height: 2px;width: 100%;background-color: #B5E9E5;margin-top: 15px;"></div>
			</div>
			<div class="mui-row" style="text-align: center;">
				<div class="mui-col-xs-4">
					<span class="mui-icon" style="width: 70px;height: 70px; border:1px solid;border-radius:50%;font-size: 14px;color: #00CFBD;margin-top: 25px;"><span
						 style="color: red;height: 70px;line-height: 70px;vertical-align: middle;font-size: 18px;font-weight: 600;">{{pageData.my_score}}</span></span>
					<div class="mui-media-body" style="margin-top: 10px;font-size: 13px;">我的总分</div>
				</div>
				<div class="mui-col-xs-4">
					<img src="../../img/student_performance/pk.png" style="max-width: 160px;width: 100%;height: 70px;margin-top: 25px;">
				</div>
				<div class="mui-col-xs-4">
					<span class="mui-icon" style="width:70px;height:70px; border:1px solid;border-radius:50%;font-size: 14px;color: #00CFBD;margin-top: 25px;"><span
						 style="color: red;height: 70px;line-height: 70px;vertical-align: middle;font-size: 18px;font-weight: 600;">{{pageData.pk_user_score}}</span></span>
					<div class="mui-media-body" style="margin-top: 10px;font-size: 13px;">{{pageData.pk_user_name}}的总分</div>
				</div>
			</div>
			<h4 class="spaceLine">各科</h4>
			<div class="mui-row" style="text-align: center;margin-top: 30px;">
				<span style="color: red;font-size: 25px;font-weight: 900;">{{pageData.pkb}}&ensp;</span><span style="color: red;font-size: 27px;font-weight: 900;">胜</span>
				<span style="color: #FDD60C;font-size: 25px;font-weight: 900;">&ensp;{{pageData.pka}}&ensp;</span><span style="color: #FDD60C;font-size: 27px;font-weight: 900;">平</span>
				<span style="color: #008080;font-size: 25px;font-weight: 900;">&ensp;{{pageData.pkc}}&ensp;</span><span style="color: #008080;font-size: 27px;font-weight: 900;">败</span>
			</div>
			<div class="mui-row" style="padding:0 10px;">
				<div style="height: 2px;width: 100%;background-color: #B5E9E5;margin-top: 15px;"></div>
			</div>
			<div class="mui-row" style="padding: 10px;">
				<ul class="mui-table-view mui-grid-view mui-grid-9 table">
					<li class="mui-table-view-cell no-bgc table mui-media mui-col-xs-2 mui-col-sm-2"><a href="javascript:void(0)">
							<div class="mui-media-body"> </div>
						</a></li>
					<li class="mui-table-view-cell no-bgc table mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:void(0)">
							<div class="mui-media-body" style="text-align: center;color: #DB5050;">我的成绩</div>
						</a></li>
					<li class="mui-table-view-cell no-bgc table mui-media mui-col-xs-1 mui-col-sm-1"><a href="javascript:void(0)">
							<div class="mui-media-body"> </div>
						</a></li>
					<li class="mui-table-view-cell no-bgc table mui-media mui-col-xs-4 mui-col-sm-4"><a href="javascript:void(0)">
							<div class="mui-media-body" style="text-align: center;color: #5199E9;">{{pageData.pk_user_name}}的成绩</div>
						</a></li>
					<li class="mui-table-view-cell no-bgc table mui-media mui-col-xs-2 mui-col-sm-2"><a href="javascript:void(0)">
							<div class="mui-media-body"> </div>
						</a></li>
					<template v-for="item in pageData.sub_score_list">
						<li class="mui-table-view-cell no-bgc table mui-media mui-col-xs-2 mui-col-sm-2"><a href="javascript:void(0)">
								<div class="mui-media-body">{{item.sub_name}}</div>
							</a></li>
						<li class="mui-table-view-cell no-bgc table mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:void(0)">
								<div class="mui-media-body" style="text-align: center;color: #DB5050;">{{item.my_score}}</div>
							</a></li>
						<li class="mui-table-view-cell no-bgc table mui-media mui-col-xs-1 mui-col-sm-1"><a href="javascript:void(0)">
								<div class="mui-media-body" style="text-align: center;">vs</div>
							</a></li>
						<li class="mui-table-view-cell no-bgc table mui-media mui-col-xs-4 mui-col-sm-4"><a href="javascript:void(0)">
								<div class="mui-media-body" style="text-align: center;color: #5199E9;">{{item.pk_user_score}}</div>
							</a></li>
						<li class="mui-table-view-cell no-bgc table mui-media mui-col-xs-2 mui-col-sm-2"><a href="javascript:void(0)">
								<div class="mui-media-body" style="text-align: center;height: 25px;margin-top: 2px;">
									<template v-if="item.my_score>item.pk_user_score">
										<span class="mui-icon" style="width: 25px;height: 25px; border:1px solid;border-radius:50%;font-size: 14px;color: #DB5050;">
											<span style="color: red;height: 60px;vertical-align: middle;line-height: 25px;">胜</span>
										</span>
									</template>
									<template v-else-if="item.my_score<item.pk_user_score">
										<span class="mui-icon" style="width: 25px;height: 25px; border:1px solid;border-radius:50%;font-size: 14px;color: #5199E9;">
											<span style="color: #5199E9;height: 60px;vertical-align: middle;line-height: 25px;">败</span>
										</span>
									</template>
									<template v-else-if="item.my_score==item.pk_user_score">
										<span class="mui-icon" style="width: 25px;height: 25px; border:1px solid;border-radius:50%;font-size: 14px;color: #FDD60C;">
											<span style="color: #FDD60C;height: 60px;vertical-align: middle;line-height: 25px;">平</span>
										</span>
									</template>
								</div>
							</a></li>
					</template>
				</ul>
			</div>
		</div>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		<script src="../../js/swiper/swiper-bundle.min.js"></script>
		<script src="../../js/utils/publicProtocol.js"></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js"></script>
		<script src="../../js/libs/RSA/BigInt.js"></script>
		<script src="../../js/libs/RSA/RSA.js"></script>
		<script src="../../js/libs/encryption/RSAEncrypt.js"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/libs/encryption/signHmacSHA1.js'></script>
		<script src='../../js/libs/encryption/sortSign.js'></script>
		<script type="text/javascript">
			mui.init();
			//获取个人信息
			// var personal = store.get(window.storageKeyName.PERSONALINFO);
			// console.log('personal:' + JSON.stringify(personal));
			var tempHead = new Vue({
				el: "#tempHead",
				data: {
					showBack: 1,
					headTitle: '成绩PK详情',
				}
			});
			//vue数据 
			var contentData = new Vue({
				el: "#contentData",
				data: {
					personal:store.get(window.storageKeyName.PERSONALINFO),
					pageData: {},
				}
			});

			mui.plusReady(function() {
				let curPage = utils.getDataFromUrl(window.location.href);
				comData = {
					user_codes:curPage.pk_user_code,
					index_code: 'index',
				}
				events.showWaiting();
				postDataEncry(window.storageKeyName.INTERFACE_SSO_SUB + 'user/getUserInfo', {}, comData, 2, function(data) {
					events.closeWaiting();
					if (data.code == 0) {
						curPage.img_url = data.data.list[0].img_url; 
						contentData.pageData = curPage;
						console.log('contentData.pageData.img_url:'+contentData.pageData.img_url);
					} else {
						mui.toast(data.msg);
					}
				});
			});
		</script>
	</body>

</html>
