<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/student_performance/stuScore.css" />
		<link rel="stylesheet" href="../../css/utils/preview.css" />
		<!-- 考试难度 -->
		<link rel="stylesheet" type="text/css" href="../../js/libs/raty/stylesheets/jquery.raty.css" />
		<style type="text/css">
			[v-cloak] {
				display: none !important;
			}

			.circular-square {
				border-radius: 10%;
				width: 30px;
				height: 30px;
			}

			.divd {
				padding-left: 10px;
				width: 80%;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
				/* background: #7FFFD4; */
			}

			.mui-grid-view.mui-grid-9 {
				margin: 0;
				padding: 0;
				border-top: 0px solid #eee;
				border-left: 0px solid #eee;
				background-color: white;
			}

			.mui-grid-view.mui-grid-9 .mui-table-view-cell {
				background: white;
				margin: 0;
				padding: 11px 15px;
				vertical-align: top;
				border-right: 0px solid #eee;
				border-bottom: 0px solid #eee;
			}
			.mui-media-body {
				margin: 4px 0;
			}

			.pieChart {
				height: 120px;
				margin: 10px;
				padding: 0px;
			}
		</style>
	</head>

	<body style="background: white;">
		<header class="mui-bar mui-bar-nav" id="tempHead">
			<a v-cloak v-if="showBack==1" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 v-cloak class="mui-title">{{headTitle}}</h1>
		</header>
		<div v-cloak class="mui-content" style="margin-top: 0px;background: white;" id="contentData">
			<div style="padding: 10px 10px;">
				<div id="segmentedControl" class="mui-segmented-control">
					<a @tap="clickSeg(0)" class="mui-control-item mui-active" href="#item1">成绩及排名</a>
					<a @tap="clickSeg(1)" class="mui-control-item" href="#item2">我的答卷</a>
					<a @tap="clickSeg(2)" class="mui-control-item" href="#item3">试卷分析</a>
					<a @tap="clickSeg(3)" class="mui-control-item" href="#item4">错题归纳</a>
				</div>
			</div>
			<div>
				<div id="item1" class="mui-control-content mui-active">
					<h4 class="examName">{{scoreRank.name}}</h4>
					<ul class="mui-table-view mui-grid-view mui-grid-9">
						<li class="mui-table-view-cell no-bgc mui-media mui-col-xs-3 mui-col-sm-3" style="padding-left: 32px;">
							<span class="mui-icon scoreOrderBorder">
								<span class="scoreOrder">{{scoreRank.grd_order}}</span>
							</span>
							<div class="mui-media-body scoreOrderName">年级排名</div>
						</li>
						<li class="mui-table-view-cell no-bgc mui-media mui-col-xs-6">
							<div class="pieChart" id="pieChartScore"></div>
						</li>
						<li class="mui-table-view-cell no-bgc mui-media mui-col-xs-3 mui-col-sm-3" style="margin-left: -20px;">
							<span class="mui-icon scoreOrderBorder">
								<span class="scoreOrder">{{scoreRank.cls_order}}</span>
							</span>
							<div class="mui-media-body scoreOrderName">班级排名</div>
						</li>
					</ul>
					<ul class="mui-table-view mui-grid-view mui-grid-9">
						<li class="mui-table-view-cell no-bgc mui-media mui-col-xs-6 mui-col-sm-6" style="text-align: left;padding-left: 30px;">
							<div class="mui-media-body scoreDetail">年级最高分：{{scoreRank.grd_max_score}}</div>
							<div class="mui-media-body scoreDetail">班级最高分：{{scoreRank.cls_max_score}}</div>
							<div class="mui-media-body scoreDetail">年级参考人数：{{scoreRank.grd_stuc}}</div>
						</li>
						<li class="mui-table-view-cell no-bgc mui-col-xs-6 mui-col-sm-6" style="text-align: left;">
							<div class="mui-media-body scoreDetail">年级均分：{{scoreRank.grd_avg_score}}</div>
							<div class="mui-media-body scoreDetail">班级均分：{{scoreRank.cls_avg_score}}</div>
							<div class="mui-media-body scoreDetail">班级参考人数：{{scoreRank.cls_stuc}}</div>
						</li>
					</ul>
					<h4 class="spaceLine">成绩趋势</h4>
					<p class="spaceLineName">历次考试成绩趋势如下：</p>
					<div class="chart" id="lineChartScore"></div>
					<h4 class="spaceLine">排名趋势</h4>
					<p class="spaceLineName">历次考试排名趋势如下：</p>
					<div class="chart" id="lineChartRank"></div>
				</div>
				<div id="item2" class="mui-control-content">
					<h4 class="examName">{{singleAnswer.name}}</h4>
					<h4 class="spaceLine">答卷图片</h4>
					<div v-for="(tempAns,index) in singleAnswer.img_url_list" style="text-align: center;margin-top: 20px;">
						<img :data-preview-src="tempAns.merge_file_path" :data-preview-group="[tempAns.merge_file_path]" style="width:200px;height: 300px;border:2px solid;" :src=tempAns.merge_file_path />
					</div>
				</div>
				<div id="item3" class="mui-control-content">
					<h4 class="examName">{{examAnalysis.name}}</h4>
					<div class="mui-row">
						<div class="mui-col-xs-6" style="text-align: right;"><span style="margin-right: 10px;font-size: 16px;">考试难度：</span></div>
						<div id="star" class="mui-col-xs-6" style="margin-left: -15px;"></div>
					</div>
					<div class="mui-row" style="padding: 10px 20px;">
						<ul class="mui-table-view mui-grid-view mui-grid-9 table">
							<li class="mui-table-view-cell no-bgc table mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:void(0)">
									<div class="mui-media-body">题型</div>
								</a></li>
							<li class="mui-table-view-cell no-bgc table mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:void(0)">
									<div class="mui-media-body">数量</div>
								</a></li>
							<li class="mui-table-view-cell no-bgc table mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:void(0)">
									<div class="mui-media-body">分值</div>
								</a></li>
							<li class="mui-table-view-cell no-bgc table mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:void(0)">
									<div class="mui-media-body">分值占比</div>
								</a></li>
							<template v-for="item in examAnalysis.que_type_list">
								<li class="mui-table-view-cell no-bgc table mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:void(0)">
										<div class="mui-media-body">{{item.question_type_name}}</div>
									</a></li>
								<li class="mui-table-view-cell no-bgc table mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:void(0)">
										<div class="mui-media-body">{{item.count}}</div>
									</a></li>
								<li class="mui-table-view-cell no-bgc table mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:void(0)">
										<div class="mui-media-body">{{item.score}}</div>
									</a></li>
								<li class="mui-table-view-cell no-bgc table mui-media mui-col-xs-3 mui-col-sm-3"><a href="javascript:void(0)">
										<div class="mui-media-body">{{item.score_rate}}</div>
									</a></li>
							</template>
						</ul>
					</div>
					<div class="mui-row">
						<h4 class="spaceLine" style="margin: 30px 0 10px;">试题分析</h4>
					</div>
					<div class="mui-row">
						<ul class="mui-table-view" style="font-size: 13px;">
							<li class="mui-table-view-cell beauline talbeLiFirst">
								<div class="mui-row">
									<div class="mui-col-xs-1">题号</div>
									<div class="mui-col-xs-2">分值</div>
									<div class="mui-col-xs-3">年级满分人数</div>
									<div class="mui-col-xs-3">年级平均分</div>
									<div class="mui-col-xs-2">我的得分</div>
									<div class="mui-col-xs-1"> </div>
								</div>
							</li>
							<li class="mui-table-view-cell beauline bg-gray" style="text-align: center;" v-for="(item,index) in examAnalysis.que_score_list">
								<div class="mui-row">
									<div class="mui-col-xs-1">{{item.question_number}}</div>
									<div class="mui-col-xs-2">{{item.question_score}}</div>
									<div class="mui-col-xs-3">{{item.full_score_stuc}}</div>
									<div class="mui-col-xs-3">{{item.grd_avg_score}}</div>
									<div class="mui-col-xs-2">{{item.score}}</div>
									<div class="mui-col-xs-1" @click="toDetailPage(item)"><img style="width: 15px;height: 15px; margin:2px 0 0 8px;"
										 src="../../img/homeSchool/search.png"></img></div>
								</div>
							</li>
						</ul>
					</div>
					<div class="mui-row">
						<h4 class="spaceLine" style="margin: 30px 0 10px;">知识点分析</h4>
					</div>
					<div v-if="examAnalysis.knowledge_list.length>0" class="mui-row" >
						<ul class="mui-table-view" style="font-size: 13px;">
							<li class="mui-table-view-cell beauline talbeLiFirst">
								<div class="mui-row">
									<div class="mui-col-xs-2">知识点</div>
									<div class="mui-col-xs-1">分值</div>
									<div class="mui-col-xs-3">考察题目</div>
									<div class="mui-col-xs-3">年级均分</div>
									<div class="mui-col-xs-2">我的得分</div>
									<div class="mui-col-xs-1"> </div>
								</div>
							</li>
							<li class="mui-table-view-cell beauline bg-gray" style="text-align: center;" v-for="(item,index) in examAnalysis.knowledge_list">
								<div class="mui-row">
									<div class="mui-col-xs-2" style="text-align: left;">{{item.knowledge_name}}</div>
									<div class="mui-col-xs-1">{{item.total_score}}</div>
									<div class="mui-col-xs-3" style="word-break: break-all;padding: 0 5px;">{{item.question_numbers}}</div>
									<div class="mui-col-xs-3">{{item.grd_avg_score}}</div>
									<div class="mui-col-xs-2">{{item.score}}</div>
									<div class="mui-col-xs-1" @click="toDetailPageZsd(item)"><img style="width: 15px;height: 15px; margin:2px 0 0 8px;"
										 src="../../img/homeSchool/search.png"></img></div>
								</div>
							</li>
						</ul>
					</div>
					<div v-else-if="examAnalysis.knowledge_list.length==0" class="noData">暂无数据</div>
				</div>
				<div id="item4" class="mui-control-content">
					<h4 class="examName">{{errorQue.name}}</h4>
					<div class="mui-row">
						<div class="mui-col-xs-6 mui-col-sm-6" style="text-align: center;font-size: 12px;">本次考试题量：{{errorQue.que_count}}道</div>
						<div class="mui-col-xs-6 mui-col-sm-6" style="text-align: center;font-size: 12px;">本次考试错题数量：{{errorQue.error_que_count}}道</div>
					</div>
					<div class="mui-row" style="padding: 10px;">
						<div>
							<div style="height: 22px;width: 2px;background: #00baad;float: left;margin-right: 5px;"></div>
							<div>高于年级平均分的错题</div>
						</div>
						<div class="mui-row" style="margin-top: 15px;">
							<p v-if="errorQue.high_que_list.length == 0" style="margin-left: 20px;">无</p>
							<p v-for="(item,index) in errorQue.high_que_list" class="mui-col-xs-1" style="margin: 5px;padding-top: 5px;text-align:center;width: 30px;height: 30px;border-radius: 50%;background: #FF8D1A;color: #FFFFFF;">{{item}}</p>
						</div>
					</div>
					<div class="mui-row" style="padding: 10px;">
						<div>
							<div style="height: 22px;width: 2px;background: #00baad;float: left;margin-right: 5px;"></div>
							<div>低于年级平均分的错题</div>
						</div>
						<div class="mui-row" style="margin-top: 15px;">
							<p v-if="errorQue.low_que_list.length == 0" style="margin-left: 20px;">无</p>
							<p v-for="(item,index) in errorQue.low_que_list" class="mui-col-xs-1" style="margin: 5px;padding-top: 5px;text-align:center;width: 30px;height: 30px;border-radius: 50%;background: #FF8D1A;color: #FFFFFF;">{{item}}</p>
						</div>
					</div>
					<div class="mui-row">
						<h4 class="spaceLine" style="margin: 30px 0 10px;">错题详情</h4>
					</div>
					<div class="mui-row">
						<ul class="mui-table-view" style="font-size: 13px;">
							<li class="mui-table-view-cell beauline talbeLiFirst">
								<div class="mui-row">
									<div class="mui-col-xs-1">题号</div>
									<div class="mui-col-xs-2">分值</div>
									<div class="mui-col-xs-3">年级满分人数</div>
									<div class="mui-col-xs-3">年级平均分</div>
									<div class="mui-col-xs-2">我的得分</div>
									<div class="mui-col-xs-1"> </div>
								</div>
							</li>
							<li class="mui-table-view-cell beauline bg-gray" style="text-align: center;" v-for="(item,index) in errorQue.error_que_list">
								<div class="mui-row">
									<div class="mui-col-xs-1">{{item.question_number}}</div>
									<div class="mui-col-xs-2">{{item.question_score}}</div>
									<div class="mui-col-xs-3">{{item.full_score_stuc}}</div>
									<div class="mui-col-xs-3">{{item.grd_avg_score}}</div>
									<div class="mui-col-xs-2">{{item.score}}</div>
									<div class="mui-col-xs-1" @click="toDetailPageCT(item)"><img style="width: 15px;height: 15px; margin:2px 0 0 8px;"
										 src="../../img/homeSchool/search.png"></img></div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<!---->
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		<script src="../../js/utils/mui.zoom.js"></script>
		<script src="../../js/utils/mui.previewimage.js"></script>
		<script src="../../js/utils/echarts-all.js"></script>
		<script src="../../js/echarts/echarts-en.min.js"></script>
		<script src="../../js/libs/raty/javascripts/jquery.raty.js"></script>
		<script src="../../js/libs/raty/javascripts/labs.js"></script>
		<script src="../../js/utils/publicProtocol.js"></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js"></script>
		<script src="../../js/libs/RSA/BigInt.js"></script>
		<script src="../../js/libs/RSA/RSA.js"></script>
		<script src="../../js/libs/encryption/RSAEncrypt.js"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/libs/encryption/signHmacSHA1.js'></script>
		<script src='../../js/libs/encryption/sortSign.js'></script>

		<script type="text/javascript">
			mui.init();
			mui.previewImage();
			//获取个人信息
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log('personal:' + JSON.stringify(personal));
			var tempHead = new Vue({
				el: "#tempHead",
				data: {
					showBack: 0,
					headTitle: '单科成绩'
				}
			});
			//vue数据
			var contentData = new Vue({
				el: "#contentData",
				data: {
					semFlag: 0, //点击的seg索引
					scoreRank: { //成绩及排名
						name: '', //考试名称
						total_score: '', //考试满分
						score: '', //用户得分
						grd_order: '', //年级排名
						cls_order: '', //班级排名
						grd_stuc: '', //年级人数
						cls_stuc: '', //班级人数
						grd_max_score: '', //年级最高分
						cls_max_score: '', //班级最高分
						grd_avg_score: '', //年级平均分
						cls_avg_score: '', //班级平均分
						pieChatDetail: {
							legend: {
								orient: "vertical",
								left: "left",
							},
							graphic: [{
								type: "text",
								left: "center",
								top: "20%",
								style: {
									text: "我的成绩",
									textAlign: "center",
									fill: "#000",
									fontSize: 12,
								}
							}, {
								type: "text",
								left: "center",
								top: "35%",
								style: {
									text: "",
									textAlign: "center",
									fill: "red",
									fontSize: 35,
									fontWeight: 700
								}
							}, {
								type: "text",
								left: "72%",
								top: "48%",
								style: {
									text: "分",
									fill: "#000",
									fontSize: 15,
								}
							}, {
								type: "text",
								left: "center",
								top: "70%",
								style: {
									text: "",
									textAlign: "center",
									fill: "#000",
									fontSize: 12,
								}
							}],
							series: [{
								radius: ['80%', '100%'],
								type: "pie",
								data: [],
								labelLine: {
									show: false
								}
							}]
						},
						echartScoreDetail: {
							legend: {
								data: ['我的成绩', '班级平均分', '年级平均分']
							},
							grid: {
								x: 45, //到左侧的距离
								x2: 10, //到右侧的距离
								y: 30, //到上面的距离
								y2: 60 //到下面的距离
							},
							toolbox: {
								show: false, //默认值为true，是否显示工具栏组件
								//各工具配置项。
								feature: {
									//辅助线标志 
									mark: {
										show: true
									},
									//数据视图工具，可以展现当前图表所用的数据，编辑后可以动态更新。show->是否显示该工具，readOnly->是否不可编辑，optionToContent->自定义 dataView 展现函数，用以取代默认的 textarea 使用更丰富的数据编辑。可以返回 dom 对象或者 html 字符串，backgroundColor->数据视图浮层背景色。
									dataView: {
										show: true,
										readOnly: false
									},
									//动态类型切换。show->是否显示该工具，type->这是个数组，启用的动态类型，包括'line'（切换为折线图）, 'bar'（切换为柱状图）, 'stack'（切换为堆叠模式）, 'tiled'（切换为平铺模式）。 
									magicType: {
										show: true,
										type: ['line']
									},
									//配置项还原。主要属性是show->是否显示该工具。 
									restore: {
										show: true
									},
									//这个工具可以把图表保存为图片。里面有些常用的参数，type->保存图片的格式，name->保存文件的名字，backgroundColor->保存图片的背景色，show->是否显示该工具 
									saveAsImage: {
										show: true
									}
								}
							},
							//是否启用拖拽重计算特性，默认关闭(即值为false) 
							calculable: false,
							//直角坐标系中横轴数组，数组中每一项代表一条横轴坐标轴，仅有一条时可省略数值    
							//横轴通常为类目型，但条形图时则横轴为数值型，散点图时则横纵均为数值型
							xAxis: [{
								axisLabel: {
									interval: 0,
									rotate: 50
								},
								name: '',
								type: 'category', //坐标轴类型，横轴默认为类目型'category'
								data: [] //类目型坐标轴文本标签数组，指定label内容。 数组项通常为文本，'\n'指定换行
							}],
							//直角坐标系中纵轴数组，数组中每一项代表一条纵轴坐标轴，仅有一条时可省略数值    
							//纵轴通常为数值型，但条形图时则纵轴为类目型 
							yAxis: [{
								type: 'value', //坐标轴类型，纵轴默认为数值型'value'
								name: '分数',
								minInterval: 1,
								nameLocation: 'middle',
								nameTextStyle: {
									color: "black",
									fontSize: 14,
									padding: 10
								},
								splitArea: { //分隔区域，默认不显示
									show: true
								}
							}],
							//sereis的数据: 用于设置图表数据之用。series是一个对象嵌套的结构；对象内包含对象
							series: [{
									symbol: false,
									showAllSymbol: false,
									name: '我的成绩', //系列名称，如果启用legend，该值将被legend.data索引相关
									type: 'line', //图表类型，必要参数！如为空或不支持类型，则该系列数据不被显示。
									data: [] //系列中的数据内容数组，折线图以及柱状图时数组长度等于所使用类目轴文本标签数组axis.data的长度，并且他们间是一一对应的。数组项通常为数值 
								},
								{
									symbol: false,
									showAllSymbol: false,
									name: '班级平均分', //系列名称，如果启用legend，该值将被legend.data索引相关
									type: 'line', //图表类型，必要参数！如为空或不支持类型，则该系列数据不被显示。
									data: [] //系列中的数据内容数组，折线图以及柱状图时数组长度等于所使用类目轴文本标签数组axis.data的长度，并且他们间是一一对应的。数组项通常为数值 
								}, {
									symbol: false,
									showAllSymbol: false,
									name: '年级平均分', //系列名称，如果启用legend，该值将被legend.data索引相关
									type: 'line', //图表类型，必要参数！如为空或不支持类型，则该系列数据不被显示。
									data: [] //系列中的数据内容数组，折线图以及柱状图时数组长度等于所使用类目轴文本标签数组axis.data的长度，并且他们间是一一对应的。数组项通常为数值 
								}
							]
						},
						echartOrderDetail: {
							legend: {
								data: ['班级排名', '年级排名']
							},
							grid: {
								x: 45, //到左侧的距离
								x2: 10, //到右侧的距离
								y: 30, //到上面的距离
								y2: 60 //到下面的距离
							},
							toolbox: {
								show: false, //默认值为true，是否显示工具栏组件
								//各工具配置项。
								feature: {
									//辅助线标志 
									mark: {
										show: true
									},
									//数据视图工具，可以展现当前图表所用的数据，编辑后可以动态更新。show->是否显示该工具，readOnly->是否不可编辑，optionToContent->自定义 dataView 展现函数，用以取代默认的 textarea 使用更丰富的数据编辑。可以返回 dom 对象或者 html 字符串，backgroundColor->数据视图浮层背景色。
									dataView: {
										show: true,
										readOnly: false
									},
									//动态类型切换。show->是否显示该工具，type->这是个数组，启用的动态类型，包括'line'（切换为折线图）, 'bar'（切换为柱状图）, 'stack'（切换为堆叠模式）, 'tiled'（切换为平铺模式）。 
									magicType: {
										show: true,
										type: ['line']
									},
									//配置项还原。主要属性是show->是否显示该工具。 
									restore: {
										show: true
									},
									//这个工具可以把图表保存为图片。里面有些常用的参数，type->保存图片的格式，name->保存文件的名字，backgroundColor->保存图片的背景色，show->是否显示该工具 
									saveAsImage: {
										show: true
									}
								}
							},
							//是否启用拖拽重计算特性，默认关闭(即值为false) 
							calculable: false,
							//直角坐标系中横轴数组，数组中每一项代表一条横轴坐标轴，仅有一条时可省略数值    
							//横轴通常为类目型，但条形图时则横轴为数值型，散点图时则横纵均为数值型
							xAxis: [{
								axisLabel: {
									interval: 0,
									rotate: 50
								},
								name: '',
								type: 'category', //坐标轴类型，横轴默认为类目型'category'
								data: [] //类目型坐标轴文本标签数组，指定label内容。 数组项通常为文本，'\n'指定换行
							}],
							//直角坐标系中纵轴数组，数组中每一项代表一条纵轴坐标轴，仅有一条时可省略数值    
							//纵轴通常为数值型，但条形图时则纵轴为类目型 
							yAxis: [{
								type: 'value', //坐标轴类型，纵轴默认为数值型'value'
								name: '排名',
								minInterval: 1,
								nameLocation: 'middle',
								nameTextStyle: {
									color: "black",
									fontSize: 14,
									padding: 10
								},
								splitArea: { //分隔区域，默认不显示
									show: true
								}
							}],
							//sereis的数据: 用于设置图表数据之用。series是一个对象嵌套的结构；对象内包含对象
							series: [{
									symbol: false,
									showAllSymbol: false,
									name: '班级排名', //系列名称，如果启用legend，该值将被legend.data索引相关
									type: 'line', //图表类型，必要参数！如为空或不支持类型，则该系列数据不被显示。
									data: [] //系列中的数据内容数组，折线图以及柱状图时数组长度等于所使用类目轴文本标签数组axis.data的长度，并且他们间是一一对应的。数组项通常为数值 
								},
								{
									symbol: false,
									showAllSymbol: false,
									name: '年级排名', //系列名称，如果启用legend，该值将被legend.data索引相关
									type: 'line', //图表类型，必要参数！如为空或不支持类型，则该系列数据不被显示。
									data: [] //系列中的数据内容数组，折线图以及柱状图时数组长度等于所使用类目轴文本标签数组axis.data的长度，并且他们间是一一对应的。数组项通常为数值 
								}
							]
						}
					},
					singleAnswer: { //我的答案
						name: '',
						img_url_list: [],
					},
					examAnalysis: { //试卷分析
						name: '', //考试名称
						diff: '', //考试难度,值在0-1之间，0表示难度最大，1表示难度最小
						que_type_list: [], //题型列表
						que_score_list: [], //各题列表
						knowledge_list: [], //知识点列表
					},
					errorQue: { //错题归纳
						name: '',
						high_que_list: [], //高于年级平均分的题号列表
						low_que_list: [], //低于年级平均分的题号列表
						error_que_list: [], //错题列表
					},
				},
				methods: {
					clickSeg: function(flag) {
						if (contentData.semFlag != flag) {
							console.log('clickSeg:' + flag);
							contentData.semFlag = flag;
							if (flag == 0 && contentData.scoreRank.name.length == 0) {
								// 1.3.单科成绩及排名趋势
								getSingleScoreOrder();
							} else if (flag == 1 && contentData.singleAnswer.name.length == 0) {
								// 1.4.我的答卷
								getSingleSubAnswer();
							} else if (flag == 2 && contentData.examAnalysis.name.length == 0) {
								// 1.5.单科试卷分析
								getExamAnalysis();
							} else if (flag == 3 && contentData.errorQue.name.length == 0) {
								// 1.6.单科错题归纳
								getErrorQue();
							}
						}
					},
					toDetailPage: function(line) { //试题分析
						console.log(JSON.stringify(contentData.examAnalysis.que_score_list))
						console.log(JSON.stringify(line))
						let model = {}
						model.list = contentData.examAnalysis.que_score_list
						model.child = line
						utils.mOpenWithData("shijuan_shiti.html", [contentData.examAnalysis.que_score_list, line, curPage.id, curPage.access,'试卷分析']);
					},
					toDetailPageZsd: function(line) { //知识点分析
						console.log(JSON.stringify(contentData.examAnalysis.knowledge_list))
						console.log(JSON.stringify(line))
						utils.mOpenWithData("shijuan_zhishidian.html", [contentData.examAnalysis.knowledge_list, line, curPage.id,curPage.access,contentData.examAnalysis.que_score_list]);
					},
					toDetailPageCT: function(line) { //错题详情
						console.log(JSON.stringify(contentData.ct))
						console.log(JSON.stringify(line))
						utils.mOpenWithData("shijuan_shiti.html", [contentData.errorQue.error_que_list, line, curPage.id, curPage.access,'错题归纳']);
						// utils.mOpenWithData("cuoti_xiangqing.html", [contentData.ct, line, curPage.id, curPage.access]);
					}
				},
			});

			mui.plusReady(function() {
				curPage = utils.getDataFromUrl(window.location.href);
				console.log('2222:' + JSON.stringify(curPage));
				var ws = plus.webview.currentWebview();
				console.log("当前Webview：" + JSON.stringify(ws.preload));
				if (ws.preload) {
					tempHead.headTitle = ws.preload.name;
				} else {
					tempHead.showBack = 1;
				}
				// 1.3.单科成绩及排名趋势
				getSingleScoreOrder();
				// 
				$.fn.raty.defaults.path = '../../js/libs/raty/images';

			});

			// 1.3.单科成绩及排名趋势
			var getSingleScoreOrder = function() {
				comData = {
					user_code: personal.user_code,
					id: curPage.id,
					page_number: 1,
					page_size: 10,
					index_code: curPage.access,
				}
				events.showWaiting();
				postDataEncry(window.storageKeyName.INTERFACE_STUSCORE + 'singleSub/scoreOrder', {}, comData, 2, function(data) {
					events.closeWaiting();
					if (data.code == 0) {
						contentData.scoreRank.name = data.data.name; //考试名称
						contentData.scoreRank.total_score = data.data.total_score; //考试满分
						contentData.scoreRank.score = data.data.score; //用户得分
						contentData.scoreRank.grd_order = data.data.grd_order; //年级排名
						contentData.scoreRank.cls_order = data.data.cls_order; //班级排名
						contentData.scoreRank.grd_stuc = data.data.grd_stuc; //年级人数
						contentData.scoreRank.cls_stuc = data.data.cls_stuc; //班级人数
						contentData.scoreRank.grd_max_score = data.data.grd_max_score; //年级最高分
						contentData.scoreRank.cls_max_score = data.data.cls_max_score; //班级最高分
						contentData.scoreRank.grd_avg_score = data.data.grd_avg_score; //年级平均分
						contentData.scoreRank.cls_avg_score = data.data.cls_avg_score; //班级平均分
						contentData.scoreRank.pieChatDetail.graphic[1].style.text = data.data.score; //用户得分
						contentData.scoreRank.pieChatDetail.graphic[3].style.text = '满分：' + data.data.total_score; //考试满分
						var tempArray = [];
						tempArray.push({
							value: data.data.total_score
						});
						tempArray.push({
							value: data.data.score
						});
						contentData.scoreRank.pieChatDetail.series[0].data = tempArray; //饼图比例
						// 我的成绩饼图
						var pieChartScore = echarts.init(document.getElementById('pieChartScore'));
						pieChartScore.setOption(contentData.scoreRank.pieChatDetail);
						// 趋势
						var tempArr0 = []; //考试名称
						var tempArr1 = []; //用户得分
						var tempArr2 = []; //年级排名
						var tempArr3 = []; //班级排名
						var tempArr4 = []; //年级平均分
						var tempArr5 = []; //班级平均分
						for (var a = 0; a < data.data.order_list.length; a++) {
							var tempM = data.data.order_list[a];
							tempArr0.push(tempM.name);
							tempArr1.push(tempM.score);
							tempArr2.push(tempM.grd_order);
							tempArr3.push(tempM.cls_order);
							tempArr4.push(tempM.grd_avg_score);
							tempArr5.push(tempM.cls_avg_score);
						}
						// 成绩
						// contentData.scoreRank.echartScoreDetail.xAxis[0].data = tempArr0;
						contentData.scoreRank.echartScoreDetail.series[0].data = tempArr1;
						contentData.scoreRank.echartScoreDetail.series[1].data = tempArr5;
						contentData.scoreRank.echartScoreDetail.series[2].data = tempArr4;
						//
						var lineChartScore = echarts.init(document.getElementById('lineChartScore'));
						lineChartScore.setOption(contentData.scoreRank.echartScoreDetail);
						// 排名
						// contentData.scoreRank.echartOrderDetail.xAxis[0].data = tempArr0;
						contentData.scoreRank.echartOrderDetail.series[0].data = tempArr3;
						contentData.scoreRank.echartOrderDetail.series[1].data = tempArr2;
						//
						var lineChartRank = echarts.init(document.getElementById('lineChartRank'));
						lineChartRank.setOption(contentData.scoreRank.echartOrderDetail);
					} else {
						mui.toast(data.msg);
					}
				});
			}

			// 1.4.我的答卷
			var getSingleSubAnswer = function() {
				comData = {
					user_code: personal.user_code,
					id: curPage.id,
					index_code: curPage.access,
				}
				events.showWaiting();
				postDataEncry(window.storageKeyName.INTERFACE_STUSCORE + 'singleSub/myAnswerPaper', {}, comData, 2, function(data) {
					events.closeWaiting();
					if (data.code == 0) {
						contentData.singleAnswer.name = data.data.name;
						contentData.singleAnswer.img_url_list = [].concat(data.data.img_url_list);
					} else {
						mui.toast(data.msg);
					}
				});
			}

			// 1.5.单科试卷分析
			var getExamAnalysis = function() {
				comData = {
					user_code: personal.user_code,
					id: curPage.id,
					index_code: curPage.access,
				}
				events.showWaiting();
				postDataEncry(window.storageKeyName.INTERFACE_STUSCORE + 'singleSub/analysis', {}, comData, 2, function(data) {
					events.closeWaiting();
					if (data.code == 0) {
						contentData.examAnalysis.name = data.data.name;
						contentData.examAnalysis.diff = data.data.diff;
						contentData.examAnalysis.que_type_list = [].concat(data.data.que_type_list);
						contentData.examAnalysis.que_score_list = [].concat(data.data.que_score_list);
						contentData.examAnalysis.knowledge_list = [].concat(data.data.knowledge_list);
						$('#star').raty({
							readOnly: true,
							score: 5 - contentData.examAnalysis.diff * 5
						});
					} else {
						mui.toast(data.msg);
					}
				});
			}

			// 1.6.单科错题归纳
			var getErrorQue = function() {
				comData = {
					user_code: personal.user_code,
					id: curPage.id,
					index_code: curPage.access,
				}
				events.showWaiting();
				postDataEncry(window.storageKeyName.INTERFACE_STUSCORE + 'singleSub/errorQue', {}, comData, 2, function(data) {
					events.closeWaiting();
					if (data.code == 0) {
						contentData.errorQue = data.data;
						// contentData.examAnalysis.name = data.data.name;
						// contentData.examAnalysis.diff = data.data.diff;
						// contentData.examAnalysis.que_type_list = [].concat(data.data.que_type_list);
						// contentData.examAnalysis.que_score_list = [].concat(data.data.que_score_list);
						// contentData.examAnalysis.knowledge_list = [].concat(data.data.knowledge_list);
						// $('#star').raty({
						// 	readOnly: true,
						// 	score: 5-contentData.examAnalysis.diff*5
						// });
					} else {
						mui.toast(data.msg);
					}
				});
			}
		</script>
	</body>

</html>
