/* 暂无数据 */
.noData {
	margin-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* 试卷名称 */
.examName {
	text-align: center;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

/* 考试类型对应的图片 */
.examType {
	color: white;
	float: left;
	width: 40px;
	height: 40px;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	border-radius: 5px;
	margin-top: -15px !important;
}

/* 班级、年级排名边框 */
.scoreOrderBorder {
	width: 60px;
	height: 60px;
	border: 1px solid;
	border-radius: 50%;
	color: #00CFBD;
	margin-top: 40px;
}

/* 班级、年级排名 */
.scoreOrder {
	color: red;
	height: 60px;
	line-height: 60px;
	vertical-align: middle;
	font-size: 16px;
}

/* 班级、年级排名名字 */
.scoreOrderName {
	font-size: 12px !important;
	width: 60px !important;
}

/* 得分详情 */
.scoreDetail {
	font-size: 12px !important;
	color: #505050 !important;
}

/* 间隔 */
.spaceLine {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	background: #d7f3ef;
	font-size: 16px;
	color: #505050;
}

.spaceLineName {
	padding-top: 5px;
	padding-left: 20px;
	font-size: 16px;
	color: #000000;
}

/* 饼图 */
.chart {
	height: 180px;
	margin: 10px;
	padding: 0px;
}

/* 列表头 */
.mui-grid-view.mui-grid-9.table {
	border-top: 1px solid #c6c6c6 !important;
	border-left: 1px solid #c6c6c6 !important;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell.table {
	text-align: left;
	padding: 0px 7px !important;
	border-right: 1px solid #c6c6c6 !important;
	border-bottom: 1px solid #c6c6c6 !important;
}

/* 列表项 */
.mui-table-view-cell.beauline:after {
	left: 0 !important;
	height: 0 !important;
}

.talbeLiFirst {
	background: #e7e3e3 !important;
	text-align: center;
}

.bg-gray {
	background: #e1faeb !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

/* 优劣势学科 */
.goodBadSub {
	margin-left: 20px;
	color: white;
	padding: 3px 10px 3px 10px;
	border-radius: 10px;
}
