<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<style type="text/css">
			[v-cloak] {
				display:none !important;
			}

			.circular-square {
				border-radius: 10%;
				width: 30px;
				height: 30px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id="tempHead">
			<a v-cloak v-if="showBack==2" @click="clickLeftImg" class="mui-icon mui-pull-left">
				<img v-cloak :src=headImg style="width: 26px;height: 26px;border-radius: 50%;" />
			</a>
			<a v-cloak v-if="showBack==1" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 v-cloak class="mui-title">{{headTitle}}</h1>
		</header>
		<div v-cloak class="mui-content" style="margin-top: 0px;" id="contentData">
			<ul v-cloak class="mui-table-view mui-grid-view mui-grid-9" style="background-color: white;padding-left: 7px;margin-top: 0px;">
				<li v-cloak v-cloak v-for="model in showArray" class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;padding:10px 5px">
					<a href="#" @click="clickFunction(model)">
						<img class="circular-square" :src=model.icon />
						<div class="mui-media-body divNameCss">{{model.name}}</div>
					</a>
				</li>
			</ul>
		</div>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/utils/publicProtocol.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/showMenu.js"></script>
		<!---->
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		
		<script type="text/javascript">
			mui.init();
			var curPage = {};
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			var tempHead = new Vue({
				el: "#tempHead",
				data: {
					showBack: 0,
					headTitle: '',
					headImg: setImg(personal.img_url, 9)
				},
				methods: {
					clickLeftImg: function() {
						appPay.openMenu();
					}
				}
			});
			//vue数据
			var contentData = new Vue({
				el: "#contentData",
				data: {
					showArray:[],
				},
				methods: {
					clickFunction: function(model) {
						console.log('index:' + JSON.stringify(model));
						utils.mOpenWithData(model.href, model);
					}
				},
			});
			
			// // 获取未读数
			// var getUnReadCntFun = function(){
			// 	for (var a = 0; a < contentData.showArray.length; a++) {
			// 		var tempM0 = contentData.showArray[a];
			// 		if (tempM0.redspot_url!=null) {
			// 			// 获取未读数
			// 			getUnReadCut(tempM0.access,tempM0.redspot_url,function(data){
			// 				console.log('getUnReadCut:'+JSON.stringify(data));
			// 				if (data.code == 0) {
			// 					for (var b = 0; b < contentData.showArray.length; b++) {
			// 						var tempM1 = contentData.showArray[b];
			// 						if (tempM1.access == data.data.list[0].access) {
			// 							tempM1.NoReadCnt = data.data.list[0].dotnum;
			// 						}
			// 					}
			// 				}
			// 			});
			// 		}
			// 	}
			// }
			
			mui.plusReady(function() {
				curPage = utils.getDataFromUrl(window.location.href);
				tempHead.headTitle = curPage.name;
				if(curPage&&JSON.stringify(curPage)=='{}'){//前四个页面时，不显示返回按钮
					var ws = plus.webview.currentWebview(); 
					if (ws.preload) {
						curPage = ws.preload;
						contentData.showArray=ws.preload.childList;
						tempHead.headTitle = ws.preload.name;
					}
					if (ws.preload.index == 0) {
						tempHead.showBack = 2;
					}
				}else{
					tempHead.showBack = 1;//更多页面打开时，显示返回按钮
				}
				// //获取未读数 TODO 触发条件还没写
				// window.addEventListener('getKaoqinNoReadCnt', function(data) {
				// 	//获取未读数
				// 	getUnReadCntFun();
				// });
			});
			
			
		</script>
	</body>

</html>
